# __1) Variables & DataTypes__

## ➩ Writing the first 'hello world' Program

In [1]:
print("hello, world")

hello, world

In [2]:
print (2+4)

6

## To check the Python version ⮯

In [1]:

import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

### Syntax

In [1]:

if 5 > 2:
        print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [2]:
if 5 > 2:
    print("Five is greater than two!")
    print("Five is less than two!")

Five is greater than two!
Five is less than two!

### Syntax error

In [4]:
print(101)
print('hello')
print("I like coding.")

# make sure to follow the syntax

Print('hello)    # incorrect
PRINT('hello')    # incorrect

101
hello
I like coding.

# ➩ Python Comments

#### ___creating a single comment___

In [6]:
                            # This is a comment
print ('hello,world')

hello,world

In [7]:
print("hello world")           # This is also a comment

hello world

In [8]:
                           # print("This is python programming!")

print(("This is python programming!"))

This is python programming!

In [1]:
                           # print("Hello, World!")
print("Hello, World!")

Hello, World!

## Multiline Comments

In [9]:
              # This is a comment 1
                   # This is a comment 2
# This is a comment 3

print("hello world")

hello world

In [3]:
""" anything can be written in this multi line comment
this is also a part of the comment
as lng as this text is in triple quotes, it will remain a part of the comment"""

' anything can be written in this multi line comment\nthis is also a part of the comment\nas lng as this text is in triple quotes, it will remain a part of the comment'

In [10]:
"""This is a comment 1"""
print("hello world")

hello world

In [21]:
"""This is a comment written in more than one line"""

print("""a hypothetical framework in physics that aims to unify
all fundamental forces and particles of nature,
including gravity, electromagnetism""")

a hypothetical framework in physics that aims to unify
all fundamental forces and particles of nature,
including gravity, electromagnetism

# ➩➩ __Python Variables__

## _Variables serve as named storage locations or containers for data values. They allow for the manipulation and recall of data throughout a program's execution._
## _A variable is created the moment you first assign a value to it._

#### ⮩ Creating a variable

In [15]:
x = 5
print(x)

5

In [53]:
x = 5
y = "John"
print(x, y)

5 John

In [22]:
x = 4                 # x is of type int
x = "Sally"           # x is now of type str
print(x)

Sally

In [16]:
x = 5
y = "apple"
z = 10.23
print(x)
print(y)
print(z)

5
apple
10.23

In [6]:
x = 5
y = 8
print(x+y)
print(x*y)
print(x/y)

13
40
0.625

In [9]:
name = 'Ranvijay'    # variable
print(name)

                          # putting multiple things in print() function
print("I am", 'name')
print("I am", name)

Ranvijay
I am name
I am Ranvijay

In [49]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [12]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [13]:
print(10+20+40*54/23*38478*2364523/23)
print('Ranvijay')

371495974599.0737
Ranvijay

### ⮩ __Using sep =  function__

In [4]:
n = 5
print('I got',n,'apples', sep=' ')
print('I got',n,'apples', sep='')
print('I got',n,'apples', sep='-----')
print( 'I got',n,'apples',  sep='....#....')

I got 5 apples
I got5apples
I got-----5-----apples
I got....#....5....#....apples

###  ⮩ __'\n' is used for a line-break__

In [9]:
print("I like\nPython")
print('jkfhgkljsdhfgkllskdfhglkjd\njhsdf')

I like
Python
jkfhgkljsdhfgkllskdfhglkjd
jhsdf

### ⮩ __Using end = function__

In [3]:
print('hello', end="\n")
print('hello', end=".")
print('hey', end="****")
print('I love Python')

hello
hello.hey****I love Python

### The %whos command in Python is an IPython magic command used to display information about variables and modules currently loaded into memory within an IPython terminalor Jupyter Notebook environment.

## %whos

In [6]:
%whos

Variable   Type    Data/Info
----------------------------
n          int     5

# __➩➩ Rules for Python variables__


##### 1) A variable name must start with a letter or the underscore character
##### 2) A variable name cannot start with a number
#####  3) A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
##### 4) Variable names are case-sensitive (age, Age and AGE are three different variables)
##### 5) A variable name cannot be any of the Python keywords.

# 1) A variable name must start with a letter or the underscore character

In [ ]:
                # Legal variable names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [25]:
a = 5
print(a)

5

In [27]:
apple_box = 123
print(apple_box)

123

In [29]:
_5 = 12
___456 = "Apple"
print(_5)
print(___456)

12
Apple

In [30]:
my_var = "John"
_my_var = "Ronnie"
myVar = 4321

print(my_var,_my_var,myVar )

John Ronnie 4321

# 2) A variable name cannot start with a number

In [ ]:
                   # Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"]

In [31]:
1 = 2442
print(1)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1510144204.py, line 1)

In [33]:
5numbers = 1,2,3,4,5
print(5numbers)

SyntaxError: invalid decimal literal (1337762635.py, line 1)

In [34]:
1_apple = 2433
print(1_apple)

SyntaxError: invalid decimal literal (2574754669.py, line 1)

# 3) A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

In [36]:
a_1 = 345
print(a_1)

345

In [38]:
abc123xyz  = 34.54/6
print(abc123xyz)

5.756666666666667

#### Note : A variable cannot be any special symbols

In [39]:
&$% = 3
print(&$%)

SyntaxError: invalid syntax (1103374149.py, line 1)

In [40]:
abc&$% = 3
print(abc&$%)

SyntaxError: invalid syntax (1607490560.py, line 1)

# 4) Variable names are case-sensitive (age, Age and AGE are three different variables)

In [1]:
                                               # Camel Case
                                     # Each word, except the first, starts with a capital letter:
myVariableName = "John"
                                              # Pascal Case
                                     # Each word starts with a capital letter:
MyVariableName = "Ramesh"
                                                # Snake Case
                                    # Each word is separated by an underscore character:
my_variable_name = "Vijay"

print(myVariableName)
print(MyVariableName)
print(my_variable_name)

John
Ramesh
Vijay

In [41]:
age = 45
Age = 34
AgE = 23
AGE = 28
print(age)
print(Age)
print(AgE)
print(AGE)

45
34
23
28

# 5) A variable cannot be any of python keywords
#### _if , else , while , for , def , print , class , import , return , True , False , and None._  
#### _Attempting to assign a value to a keyword will result in an error :_
# A variable cannot be any of python Data types like , string ,  int , float, bool
#### _any data type as a vraibale can give you an output but you will rise an error for other task and you get errors like ,  __'int'__ cannot be callable or __'str'__ cannot be callable_

In [ ]:
                # int = "helllo"
print(int)

In [ ]:
# float = 5
# print(float)

In [ ]:
# float = 56.8
# print(float)

In [ ]:
# def = 'Hello'
# print(def)

In [ ]:
# print = 435   # print is one of python builtin keywords
# print(type(print))

# Packing : 
### _Packing allows multiple values to be combined into a single parameter using * (for tuples/lists) and ** (for dictionaries)._

In [4]:
num1 = 156                     # Pacing a List
num2 = "Hello"
num3 = 365
number = [num1, num2, num3]
print(number)

(156, 'Hello', 365)

In [5]:
num1 = 1                       # Pacing a Tuple
num2 = 2
num3 = 3
number = (num1, num2, num3)
print(number)

(1, 2, 3)

In [5]:
x = "Hello"                             # Packing a Set
y = 56.8
z = 'im from hyderabad'

a = {x, y, z}
print(a)

{56.8, 'Hello', 'im from hyderabad'}

# _Unpacking :_
### _Unpacking allows values from an iterable (list, tuple, or dictionary) to be passed as separate arguments to a function._

In [24]:
                                             # UnPacking a String
fruits = "apple", "banana", "cherry"
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [17]:
fruits = ("apple", "banana", "cherry")             # Unpacking a Tuple
(green, yellow, red) = fruits
 
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [2]:
myList = [10, 20, 30]                  # Unpacking a list
a, b, c = myList
print(myList)
print(b)

[10, 20, 30]
20

In [7]:
myDict = {'fname': 'Jack', 'lname': 'Wallen', 'country': 'USA'}      # Unpacking a Dict
fname, lname, country = myDict.values()
print(myDict.values())

dict_values(['Jack', 'Wallen', 'USA'])

In [2]:
                                # One Value to Multiple Variables
                                # And you can assign the same value to multiple variables in one line:

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [46]:
                  # Many Values to Multiple Variables
                  # Python allows you to assign values to multiple variables in one line

x, y, z = ("Orange", "Banana", "Cherry")
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# ➩ Python Local and Global Variables
### _Variables that are created outside of a function are known as global variables._
### _Global variables can be used by everyone, both inside of functions and outside._
#### _If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value._

In [6]:
def my_function():
    local_variable = "I am local"  # This is a local variable
    print(local_variable)

my_function()

I am local

In [7]:
def my_function():
    local_variable = "I am local"  # This is a local variable
    print(local_variable)

    my_function()

    # print(local_variable) # This would raise a NameError because local_variable is not defined outside the function

In [5]:
x = "awesome"
def myfunc():                                 
  print("Python is " + x)
myfunc()

Python is awesome

In [9]:
global_variable = "I am global"  # This is a global variable

def another_function():
    print(global_variable)  # Can access the global variable

def modify_global():
    global global_variable  # Declare intent to modify the global variable
    global_variable = "I have been modified globally"

another_function()
modify_global()
print(global_variable)

I am global
I have been modified globally

In [6]:
# Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

# ➩➩ __DataTypes in Python__
### _Variables can store data of different types, and different types can do different things._

In [ ]:
Text Type       :  str 
Numeric Types   :  int, float, complex  
Sequence Types  :  list, tuple, range  
Mapping Type    :  dict  
Set Types       :  set, frozenset  
Boolean Type    :  bool  
Binary Types    :  bytes, bytearray, memoryview  
None Type       :  NoneType

In [1]:
x = -5            # integer - whole numbers(either negative or positive)
print(  type(x) )

y = 5.83          # float - all the decimal values are known as float
print(type(y))
   
z = "hello"       # string - all the letters, words, sentences, text
print( type(z) )

a = True
b = False         # boolean - they just have2 values; True or False

print( type(a),    type(b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'> <class 'bool'>

# ➩  __Python Numbers__
### _There are three numeric types in Python :_

### __int , float , complex__

### _Variables of numeric types are created when you assign a value to them :_

In [ ]:
# In Python, the data type is set when you assign a value to a variable :

# ExampleData Type	

x =  "Hello World"	str	
x =  20	         int	
x =  20.5	         float	
x =  1j	           complex	
x =  ["apple", "banana", "cherry"]     	list	
x =  ("apple", "banana", "cherry")      	tuple	
x =  range(6)       	range	
x =  {"name" : "John", "age" : 36}	  dict	
x =  {"apple", "banana", "cherry"}    	set	
x =  frozenset({"apple", "banana", "cherry"})	 frozenset	
x =  True	  bool	
x =  b"Hello"  	bytes	
x =  bytearray(5)	  bytearray	
x =  memoryview(bytes(5))    	memoryview	
x =  None	  NoneType

In [25]:
x = 1           # int
y = 2.8         # float
z = 1j          # complex

a = float(x)       # convert from int to float :
b = int(y)         # convert from float to int :
c = complex(x)     # convert from int to complex :

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### ___Note :__ You cannot convert complex numbers into another number type._ ⮨

In [2]:
a = 2
b = 5.6
c = "my name is Vijay"
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

2
<class 'int'>
5.6
<class 'float'>
my name is Vijay
<class 'str'>

In [16]:
b = [5,6,7,8]
print(b)
print(type(b))

[5, 6, 7, 8]
<class 'list'>

In [18]:
c = (3,44,5.6)
print(c,type(c))

(3, 44, 5.6) <class 'tuple'>

In [19]:
num = 2+4j             # 4j is expected value
print(num)
print(type(num))

(2+4j)
<class 'complex'>

In [22]:
num1  = True
num2 = False
print(num1)
print(type(num1))
print(num2)
print(type(num2))

True
<class 'bool'>
False
<class 'bool'>

# ➩➩ __TypeCasting in Python  -  [ Casting ]__

## Casting in Python, also known as type conversion, is the process of changing the data type of a value or variable from one type to another.
### Casting in python is therefore done using constructor functions:

##### ___int()__ - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)_

##### ___float()__ - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)_

##### ___str()__ - constructs a string from a wide variety of data types, including strings, integer literals and float literals._

In [26]:
                                    # Integers :
x = int(1)         # x will be 1
y = int(2.8)       # y will be 2
z = int("3")       # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [27]:
                                       # Floats :
x = float(1)       # x will be 1.0
y = float(2.8)     # y will be 2.8
z = float("3")     # z will be 3.0
w = float("4.2")   # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [28]:
                                         # Strings :
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0

In [3]:
z = "hello"         # string - all the letters, words, sentences, text
print( type(z) )

<class 'str'>

In [4]:
x = 5
print(x)
print(type(x))

                     # converting x into float
x = float(x)
print(x)
print(type(x))

y = 6.83
print(y)
print(type(y))

                     # converting y into integer
y = int(y)
print(y)
print(type(y))

5
<class 'int'>
5.0
<class 'float'>
6.83
<class 'float'>
6
<class 'int'>

#### _String variables can be declared either by using single or double quotes :_ ⮯

In [5]:
x = "John"                     # x is the same as x
x = 'John'
print(x)

John

In [6]:
# If you want to specify the data type of a variable, this can be done with casting.

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x, y)

3 3

# ➩➩ __User input__
### _Python allows for __user input__. That means we are able to ask the user for input._
### _The __input()__ function is used to obtain data from the user during program execution._

In [8]:
name = input('type your name here : ')     # this input will be string
print("I am", name)

type your name here :  Ranvijay

I am Ranvijay

In [8]:
x = int( input('type a number here') )
y = float( input('type another number') )

print(x+y)

type a number here 456
type another number 567

1023.0

In [10]:
age = int(input('What is your age?'))
print(age+5)

What is your age? 28

33

In [ ]:
# EXAMPLE PROBLEM 1 : 

A teacher told students to write an essay on themselves. Nidhi created a python program that can generate an essay just by taking inputs.   
She shared the program with her friends to help them.   
Write a python program that can take inputs like name, age, address, etc, and convert it into an essay.

In [7]:
name = input('type your name here: ')
age=int(input('What is your age?'))
add = input('type your address here: ')

print('My name is', name, 'I am', age, 'years old.', 'I live in', add)

        # string formatting

print(f"My name is {name} I am {age} years old. I live in {add}")
print("My name is {} I am {} years old. I live in {}".format(name, age, add))

type your name here:  Ranvijay
What is your age? 28
type your address here:  Hyderabad

My name is Ranvijay  I am 28 years old. I live in Hyderabad
My name is Ranvijay  I am 28 years old. I live in Hyderabad
My name is Ranvijay  I am 28 years old. I live in Hyderabad

In [ ]:
# PROBLEM  2 : 

Himanshu sells notebooks. Sometimes it becomes a bit difficult for him to calculate the total amount to
charge from the customer. To help Himanshu create a program that asks the user to enter the number
of books to buy and then print the amount to be paid.
● Hint: Assume the cost of one notebook - $2

In [14]:
notebooks = int(input('how many notebooks are you selling? '))
price = 2

total = notebooks*price
print('you need to pay', total)

how many notebooks are you selling?  5

you need to pay 10

In [ ]:
# PROBLEM : 3

Rakshita wants to calculate her age. So she subtracted her year of birth from the current year. Her
classmates also wanted to find their age in the same way. So she decides to write a python program
where students can input their year of birth, then the program will print their age. Write the same
program to find your age and help your classmates in finding their age.

In [15]:
birthyear=int(input('What is your birthyear?'))
age = 2025-birthyear
print(age)

What is your birthyear? 1997

28

In [ ]:
# PROBLEM : 4 
Rakshita wants to create a simple chatbot using python language. Write a program in python to help Rakshita in creating the
chatbot.
● Hint: with the help of variables store the answers of the user and use it for further conversation by the chatbot.
● Example :
● >>
● Hi, I am a chatbot. What is your name?
● >>Nidhi
● Oh, Nidhi in which grade you are right now?
● >>8
● Nidhi you are in 8th grade. Can I ask you one question? yes or no?
● >>yes
● Tell me 1024+98=?
● >>1122
● Good! Your answer is correct. Bye
● >>bye

In [8]:
bot =  str(input('Hi, I am a chatbot. What is your name ? :'))
print('Oh,', bot, 'in which grade you are right now ? : ')
grade = int(input())
print(bot, 'you are in', grade, 'grade. :') 
qtn = input('Can I ask you one question ? Yes or No ? : ')
if qtn == 'Yes'or 'Sure':
    print('Tell Me 1024 + 98 = ?')
else:
    print('Bye!', bot)
answer = int(input())
if answer == 1122:
    print('Good! Your answer is correct.')
else:
    print('Oops!! Your Answer is Wrong. Bye')
b = str(input())
print(b)

Hi, I am a chatbot. What is your name ? : Ranvijay

Oh, Ranvijay  in which grade you are right now ? :

 13

Ranvijay  you are in 13 grade. :

Can I ask you one question ? Yes or No ? :  Yes

Tell Me 1024 + 98 = ?

 1122

Good! Your answer is correct. Bye

 bye

bye