# __9) Sets in Python__
### _Sets are used to store multiple items in a single variable. Set is one of 4 built-in data types in Python used to store collections of data._

# Python Collections (Arrays)
__There are four collection data types in the Python programming language :__

__1. List is a collection which is ordered and changeable. Allows duplicate members.__  
__2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.__  
__3. Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.__    
__4. Dictionary is a collection which is ordered** and changeable. No duplicate members.__

# Creating a Set

In [2]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'banana', 'cherry', 'apple'}

In [5]:
people = {"Jay", "Irish", "Archi"}

print("People:", end = " = ")
print(people)

People: = {'Archi', 'Jay', 'Irish'}

# Empty set

In [7]:
abc = {}
print(abc)
print(type(abc))

{}
<class 'dict'>

In [8]:
xyz = set()
print(xyz)
print(type (xyz))

set()
<class 'set'>

# ➩ __Set Items__
### _Set items are unordered , unchangeable , and do not allow duplicate values._
# Unordered
#### _Unordered means that the items in a set do not have a defined order._
#### _Set items can appear in a different order every time you use them, and cannot be referred to by index or key._
# Unchangeable
#### _Set items are unchangeable, meaning that we cannot change the items after the set has been created._
#### _Once a set is created, you cannot change its items, but you can remove items and add new items._
# Duplicates Not Allowed
#### _Sets cannot have two items with the same value_

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

### True and 1 is considered the same value :

In [6]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

False and 0 is considered the same value:

In [5]:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{'banana', False, True, 'apple', 'cherry'}

# __Length of a Set__
### _To determine how many items a set has, use the __len()__ function._

In [6]:
s = {"apple", "banana", "cherry"}
print(len(s))

3

In [1]:
s = {10, 50, 20}
print(s)
print(type(s))

{10, 50, 20}
<class 'set'>

In [10]:
l = {1, 2, 3, 4, 5}
l = len(l)  
print(l)

5

In [11]:
a = {1, 2, 3, 4, 5}                 # finding length using for loop
c = 0
for element in a:
                    # Increment the count for each element
    c += 1 
print(c)

5

# ➩ __Typecasting in sets__
### _Typecasting into sets in Python , involves __converting other iterable data types__ , such as __Lists , Tuples , or Strings___ , _into a set. This is primarily done using the built-in __set() constructor___

In [13]:
s = set(["a", "b", "c"])
print(s)

{'b', 'a', 'c'}

In [14]:
# Typecasting list into set

li = [1, 2, 3, 3, 4, 5, 5, 6, 2]
set1 = set(li)
print(set1)
# or
print(set(li))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [15]:
                             # Typecasting string into set
s = "RanvijayChauhan"
set1 = set(s)
print(set1)

{'R', 'a', 'C', 'i', 'u', 'v', 'n', 'j', 'h', 'y'}

In [19]:
                                     # Typecasting dictionary into set
d = {1: "One", 2: "Two", 3: "Three"}
set1 = set(d)
print(set1)
                           # or
print(set(d.keys()))
print(set(d.values()))

{1, 2, 3}
{1, 2, 3}
{'Three', 'Two', 'One'}

# ➩➩ __Set Items - Data Types__
#### _Set items can be of any data type :_

In [20]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9,1, 5, 9, 7, 3}
set3 = {True, False, False}
set4 = {23.4,4.5,6.02}


print(type(set1))
print(type(set2))
print(set1,set2,set3,set4)

<class 'set'>
<class 'set'>
{'apple', 'banana', 'cherry'} {1, 3, 5, 7, 9} {False, True} {4.5, 6.02, 23.4}

In [21]:
set1 = {"abc", 34, True, 40, "male", 34, True, 40, "male"}
print(set1)
print(type(set1))

{True, 34, 40, 'abc', 'male'}
<class 'set'>

# The set() Constructor
### _It is also possible to use the __set()__ constructor to make a set._

In [23]:
st = set(("apple", "banana", "cherry"))             # note the double round-brackets
print(st)
print(type(st))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [24]:
lis = list((56,56,67,78,89))
tup = tuple((76,87,98,78))
sett = set((65,67,87,56))

print(lis)
print(tup)
print(set(sett))

[56, 56, 67, 78, 89]
(76, 87, 98, 78)
{56, 65, 67, 87}

# ➩➩ __Properties of Sets__

## _1) Unordered_

In [25]:
my_set = { 3,3,4,5,6,6,5,4,7,9,8,1}
print(my_set)

{1, 3, 4, 5, 6, 7, 8, 9}

## _2) No Indexing / Slicing_

In [26]:
a = {"animals", "cat" , "dog"}
print(a[0])

TypeError: 'set' object is not subscriptable

## _3) Unique elements_

In [27]:
my_set = {2,3,0,4,3,5,4,6,5,6,5,7,6,5,2,3,4,2,2,4,4,3,4,5,2,3,7,8,4,3}
print(my_set)

{0, 2, 3, 4, 5, 6, 7, 8}

## _4) Iterable_

In [28]:
my_set = {34,45,78,89,90}
for element in my_set:
    print(element)

34
89
90
45
78

## _5) Hashable elements_
### _only Hashable objects ( objects with the fixed hash values ) can be added to a set. This sets cannot contain mutable types like lists or dictionaries._

In [3]:
myset = {1,2,3,4,"a", 3.5,(20,30)}
print(myset)

{1, 2, 3, 4, 'a', 3.5, (20, 30)}

In [2]:
myset = {1,2,3,4,"a", 3.5,[20,30]}
print(myset)

TypeError: unhashable type: 'list'

In [30]:
x = {{'a':1, 'b':2}}
print(x)

TypeError: unhashable type: 'dict'

# __Nested__ is not a property of the set

In [35]:
a = {{11,12,13},{4,5,6}}
print(a)

TypeError: unhashable type: 'set'

# ➩➩ __Access set Items__
###  _We cannot access items in a set by referring to an index or a key._
### _But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the __in__ keyword._

In [13]:
st = {"apple", "banana", "cherry"}

for x in st:
  print(x)

banana
cherry
apple

In [4]:
a = {"a","b","c"}
for x in a:
    print(x)

b
a
c

# Check if element is Present or Not
## _( Membership testing )_

In [14]:
set2 = {"apple", "banana", "cherry"}           # checking if present
print("banana" in set2

True

In [91]:
s = {21, 23, '#', "Python", "coding", 35, -22}
if 35 in s:
    print("Element found in the set")
else:
    print("Element not found in the set")
    
print(70 in s)
print("coding" in s)

Element found in the set
False
True

In [88]:
fruit = {'orange', 'banana', 'pear', 'apple'}
print('pear' in fruit)
print('mango' in fruit)

True
False

In [15]:
                              # checking if not present 

set3= {"apple", "banana", "cherry"} 
print("banana" not in set3)

False

In [92]:
s = {21, 23, '#', "Python", "coding", 35, -22}
print(70  not in s)
print("coding" not in s)

True
False

# ➩ __Change Items__
###  _Once a set is created, you cannot change its items, but you can add new items._

# Add Items
#### _Once a set is created, you cannot change its items, but you can add new items._

# ⮩ To add one item to a set use the __add () method.__
### _The __add ()__ method can be used to add only a single item. To add multiple items we use __update() method___.     
### _If the element already exists, the __add ()__ method does not add the element_.

In [16]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [36]:
s = set(["a", "b", "c"])

s.add("d")
print(s)

{'b', 'a', 'c', 'd'}

In [37]:
s = set(["a", "b", "c"])

s.add("c")
print(s)

{'b', 'a', 'c'}

## As a shortcut, you can use the __|= operator__ instead of __add() method__

In [38]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x |= y
print(x)

{'apple', 'banana', 'cherry', 'microsoft', 'google'}

In [7]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = {"cherry", "micra", "bluebird"}
x |= y | z

print(x)

{'microsoft', 'micra', 'apple', 'cherry', 'bluebird', 'banana', 'google'}

## ⮩ Add Any Iterable usig __update() method__
### _The object in the __update()__ method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc._

### _To add multiple items we use __update()__ method._

In [5]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'kiwi', 'cherry', 'banana', 'orange'}

In [6]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'mango', 'banana', 'pineapple', 'apple', 'cherry', 'papaya'}

In [40]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = {"cherry", "micra", "bluebird"}
x.update(y, z)

print(x)

{'apple', 'bluebird', 'banana', 'cherry', 'microsoft', 'micra', 'google'}

In [44]:
set1 = {1, 2, 3}
set1.add(4)
set1.update([5, 6])

print(set1)

{1, 2, 3, 4, 5, 6}

In [45]:
test_set = {6, 4, 2, 7, 9}
s = [1, 5, 10]

test_set.update(s)
print("Set after adding elements : " + str(test_set))

Set after adding elements : {1, 2, 4, 5, 6, 7, 9, 10}

# ➩ __Remove Set Items__

#  ⮩ __Remove () method__
### To remove an item in a set, use the __remove() method__
#### _If the item to remove does not exist, __remove()__ will raise an error._   
#### _If the item to remove does not exist, __discard()__ will NOT raise an error._

In [19]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [46]:
myset = {"apple",12,23,34,"banana",23.4,34.0, "cherry", True }
myset.remove("cherry")
print(myset)

{True, 34, 'banana', 12, 'apple', 23, 23.4}

In [47]:
myset = {"apple",12,23,34,"banana",23.4,34.0, "cherry", True }

myset.remove("apple")
myset.remove(34.0)
myset.remove("banana")

print(myset)

{True, 'cherry', 12, 23, 23.4}

In [9]:
myset = {6, 4, 2, 7, 9}
print("The original set is : " + str(myset))
l = [2, 4, 8]

r = myset - set(l)
print("Set after removal : " + str(r))

The original set is : {2, 4, 6, 7, 9}
Set after removal : {9, 6, 7}

In [49]:
s = {1, 2, 3, 4}
s = set(list(s)[:-1])
print(s)

{1, 2, 3}

#  ⮩ The __discard () method__
### _The __discard()__ method removes the specified item from the set_.

### _This method is different from the __remove() method__, because the __remove() method__ will raise an error if the specified item does not exist, and the __discard() method__ will not._

In [20]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [95]:
a = {1, 2, 3, 4, 5}

a.discard(3)
a.discard(6)  

print(a)

{1, 2, 4, 5}

In [50]:
numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9,10, 11, 12}
print(numbers)

numbers.discard(11)
print("\nresultant set : ", numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

resultant set :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

#  ⮩ __using pop() method__
### _the pop() method to remove an item_,  
### _but this method __will remove a random item__, so you cannot be sure what item that gets removed_.

In [21]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()

print(x)
print(thisset)

banana
{'cherry', 'apple'}

In [51]:
s1 = {1, 2, 3, 4}
s1.pop()
s1.pop()
s1.pop()

print("After 3 elements popped, s1:", s1)

After 3 elements popped, s1: {4}

In [52]:
myset = {"apple",12,23,34,"banana",23.4,34.0, True }
myset.pop()
print(myset)

{34, 'apple', 23, 'banana', 23.4, 12}

In [53]:
a = {1, 2, 3, 4, 5}
r = a.pop()
print(f"Removed: {r}")
print(a)

Removed: 1
{2, 3, 4, 5}

#  ⮩ __clear () method__
## _The __clear()__ method empties the set :_

In [22]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()
print(thisset)

set()

In [83]:
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [54]:
test_set = {1, 2, 3, 4}
test_set.clear()
print("After clear() on test_set:", test_set)

After clear() on test_set: set()

In [55]:
myset = {"apple",12,23,34,"banana",23.4,34.0, "cherry", True }
myset.clear()
print(myset)

set()

#  ⮩ __using del keyword__
## _the __del__ keyword will delete the set completely :_

In [23]:
thisset = {"apple", "banana", "cherry"}      #it will show error as output because it is already deleted after applying del method
del thisset
print(thisset)

NameError: name 'thisset' is not defined

# ➩ __Loop Sets__
### iterate over a set using for loop
# Loop Items
### _You can loop through the set items by using a for loop :_

In [56]:
a = set("VijAy")
for i in a:
    print(i)

A
i
V
j
y

In [57]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [58]:
for x in {'apple', 'banana', 'cherry'}:
  print(x)

apple
banana
cherry

In [10]:
set1 = sets = (["python", "coding", "is", "awesome"])
for i in set1:
    print(i, end=" ")
    
print("python" in set1)

python coding is awesome True

# ➩➩ __Join Sets__ (Set operations)
### _There are several ways to join two or more sets in Python._ 
#### _The __union()__ and __update()__ methods joins all items from both sets_.  
#### _The __intersection()__ method keeps ONLY the duplicates._   
#### _The __difference() method__ keeps the items from the first set that are not in the other set(s)._ 
#### _The __symmetric_difference()__ method keeps all items EXCEPT the duplicates._

# ⮩ __Union () method__
### _The __union()__ method returns a new set with all items from both sets._  
### _The __union() method__ returns a set that contains all items from the original set, and all items from the specified set(s)._

In [28]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [32]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'b', 'a', 'c'}

In [67]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'a', 'b', 'f', 'c', 'e', 'd'}

In [63]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
                                         # Using union() method
un = A.union(B)
print("using union():",un)

using union(): {1, 2, 3, 4, 5, 6}

In [158]:
A = {2, 4, 5, 6}
B = {4, 6, 7, 8}
C = {7, 8, 9, 10}

print("A U B U C:", A.union(B).union(C))

print("A U B U C:", A.union(B, C))

A U B U C: {2, 4, 5, 6, 7, 8, 9, 10}
A U B U C: {2, 4, 5, 6, 7, 8, 9, 10}

## You can use the __|  operator__ instead of the __union() method__, you will get the same result .

In [29]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'a', 1, 2, 3, 'b', 'c'}

In [68]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x | y | z

print(result)

{'f', 'a', 'b', 'd', 'c', 'e', 'g'}

In [99]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
                                      # Using '|' operator
res1 = A | B
print("using '|':", res1)

using '|': {1, 2, 3, 4, 5, 6}

# __Join Multiple Sets__
### _All the joining methods and operators can be used to join multiple sets._
### _When using a method , just add more sets in the parentheses , separated by commas :_

In [30]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'b', 'bananas', 'cherry', 'apple', 'Elena', 'a', 'John', 'c'}

In [31]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'b', 'bananas', 'cherry', 'apple', 'Elena', 'a', 'John', 'c'}

# ⮩ __The Update () method__
### _The __update()__ method inserts all items from one set into another._ 
### _The _update()_ changes the original set , and does not return a new set._

In [33]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'b', 'c'}

 ### ___Both union() and update() will exclude any duplicate items.___

# ⮩ __Intersection () method__
### _This method Keeps ONLY the duplicates_
### _The __intersection() method__ will return a new set, that only contains the items that are present in both sets._

#### __Meaning :__ The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [64]:
set1 = {}                                     # intersection of two empty sets are same
set2 = {}
print("set1 intersection set2 : ",
      set(set1).intersection(set(set2)))

set1 intersection set2 :  set()

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [65]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
                                           # Using intersection() method
inter= A.intersection(B)
print("using intersection():"  ,inter)

using intersection(): {3, 4}

In [66]:
set1 = {"apple", 1,  "banana", 0, "cherry"}           # in sets 0 - considered as 'False',  and 1 - Is considered as 'True'
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

In [53]:
x = {"a", "b", "c"}             # multiple sets intersection
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)
print(result)

{'c'}

In [71]:
                                                                # multiple sets intersection
x, y, z = {"a", "b", "c"}, {"c", "d", "e"}, {"a", "d", "c"}
a, b, c, d = {1, 2, 3}, {3, 2, 5}, {6, 7, 2, 3},{1, 2, 3}

result = x.intersection(y, z)
print(result)
print(a.intersection(b, c, d))

{'c'}
{2, 3}

In [72]:
# PROBLEM

# Return a new set of identical items from two sets :

set1 = {23,34,45,56,69}
set2 = {12,4,36,45,69}
print( set1.intersection(set2))

{45, 69}

## you can use the __&  operator__ instead of the __intersection()__ method , you will get the same result .

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [52]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x & y
print(z)

{'apple'}

In [54]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x & y & z
print(result)

{'c'}

In [73]:
set_1 = {21, 10, 5, 11, 12}                       # multiple sets intersection
set_2 = {5, 21, 3, 8, 9}
set_3 = {1, 21, 5, 3, 4, 5}
set_4 = set_1 & set_2 & set_3

print(set_4)

{5, 21}

In [75]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

                           # Using '&' operator
res1 = A & B
print("using '&':",  res1)

using '&': {3, 4}

# ⮩  __The intersection_update() method__ 
### _The __intersection_update()__ method will also KEEP ONLY THE DUPLICATES , but it will change the original set instead of returning a new set._

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [56]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

In [76]:
set1 = {"java", "python", "c/cpp", "html"}
set2 = {"php", "html", "java", "R"}
set3 = {"java", "python", "ml", "dl"}
set4 = {"python", "java", "swift", "R"}

print("set1: {}\nset2: {}\nset3: {}\nset4: {}\n".format(set1, set2, set3, set4))

set1.intersection_update(set2, set3, set4)

print("After intersection_update, set1:", set1)

set1: {'java', 'html', 'c/cpp', 'python'}
set2: {'java', 'php', 'R', 'html'}
set3: {'java', 'python', 'ml', 'dl'}
set4: {'java', 'R', 'python', 'swift'}

After intersection_update, set1: {'java'}

## Use __&=__  as a shortcut instead of __intersection_update() :__ you get the same result

In [55]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x &= y

print(x)

{'apple'}

In [82]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x &= y & z

print(result)

{'c'}

# ⮩ __difference () method__
### _The __difference()__ method will return a new set that will contain only the items from the first set that are not present in the other set ._

In [44]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [78]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a.difference(b, c)
print(myset)

{'banana'}

In [85]:
K = {"apple", "banana", "cherry"}
L  = {"google", "microsoft", "apple"}

M  = L.difference(K)
print(M)
print(K.difference(L))

{'microsoft', 'google'}
{'banana', 'cherry'}

In [86]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
                                   # Using difference() method
C = A.difference(B)
print("using difference():", C)

using difference(): {1, 2}

In [87]:
A = {10, 20, 30, 40}
B = set()
print(A.difference(B))

{40, 10, 20, 30}

In [88]:
A = {10, 20, 30, 40, 80}
B = {10, 20, 30, 40, 80, 100}
print(A.difference(B))                       # Returns an empty set as A is fully contained in B

set()

## You can use the __- operator__  instead of the __difference() method__, and you will get the same result..

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [45]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

myset = a - b

print(myset)

{'banana', 'cherry'}

In [47]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a - b - c

print(myset)

{'banana'}

In [90]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

                              # Using '-' operator
res1 = A - B
print("using '-':", res1)

using '-': {1, 2}

# ⮩ __difference_update ()__
### _The __difference_update()__ method removes the items that exist in both sets_.
### _The __difference_update() method__ is different from the __difference() method__, because the __difference() method returns a new set__, without the unwanted items, and the difference_update() method removes the unwanted items from the original set._

In [49]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

In [51]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

a.difference_update(b, c)

print(a)

{'banana'}

In [91]:
A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}

A.difference_update(B)
print (A)

{20, 10}

## Use __-=__  as a shortcut instead of __difference_update()__ :

In [50]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

a -= b

print(a)

{'banana', 'cherry'}

In [92]:
a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

a -= b | c

print(myset)

{'banana'}

# ⮩  __Symmetric Difference ()__
### _The __symmetric_difference()__ method will keep only the elements that are NOT present in both sets._    
### _You can use the __^ operator__ instead of the __symmetric_difference() method__, and you will get the same result._

In [40]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

In [93]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
                                         # Using symmetric_difference() method
res2 = A.symmetric_difference(B)
print("using symmetric_difference():", res2)

using symmetric_difference(): {1, 2, 5, 6}

In [94]:
set1 = {2, 4, 5, 6}
set2 = {4, 6, 7, 8}
set3 = {1, 0, 12}

print(set1.symmetric_difference(set2))
print(set1.symmetric_difference(set3))
print(set2.symmetric_difference(set3))

{2, 5, 7, 8}
{0, 1, 2, 4, 5, 6, 12}
{0, 1, 4, 6, 7, 8, 12}

## use the __^ operator__ instead of the __symmetric_difference()__

In [41]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'microsoft', 'cherry', 'google'}

In [96]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

                                  # Using '^' operator
res1 = A ^ B
print("using '^':", res1)

using '^': {1, 2, 5, 6}

# ⮩   __symmetric_difference_update() method__
### _The __symmetric_difference_update() method__ updates the original set by removing items that are present in both sets, and inserting the other items._

In [42]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'microsoft', 'cherry', 'google'}

In [97]:
A = {1, 2, 3, 4, 5, 6}
B = [4, 5, 7, 8]
A.symmetric_difference_update(B)
print("A = ", A)

A = {2, 4, 6, 8}
B = (i for i in range(2, 6))
A.symmetric_difference_update(B)
print("A = ", A)

A =  {1, 2, 3, 6, 7, 8}
A =  {3, 5, 6, 8}

## Use __^=__ as a shortcut instead of __symmetric_difference_update()__ :

In [66]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x ^= y

print(x)

{'banana', 'microsoft', 'cherry', 'google'}

# ⮩ __copy() method__
### _The __copy() method__ copies the set._

In [43]:
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'banana', 'cherry', 'apple'}

In [98]:
set1 = {1, 2, 3, 4} 
set2 = set1.copy() 

print(set2)

{1, 2, 3, 4}

In [103]:
first = {'r', 'a', 'n', 'v', 'i'}
second = first.copy()
                               # before adding
print ('before adding : ')
print ('first : ',first)
print ('second : ', second )

second.add('j')
                               # after adding
print ('after adding : ')
print ('first : ', first)
print ('second : ', second)

before adding :
first :  {'v', 'a', 'r', 'n', 'i'}
second :  {'v', 'a', 'r', 'n', 'i'}
after adding :
first :  {'v', 'a', 'r', 'n', 'i'}
second :  {'v', 'a', 'r', 'n', 'j', 'i'}

# ⮩ __isdisjoint () method__ 
### _The __isdisjoint() method__ returns __True__ , if none of the items are present in both sets , otherwise it returns __False__._

In [58]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

In [100]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}
print(s1.isdisjoint(s2))

True

In [102]:
s1 = set()                                       # defining empty sets
s2 = set()
print(s1.isdisjoint(s2))

True

In [101]:
A = {2, 4, 5, 6}
lis = [1, 2, 3, 4, 5]                      # List

dict = {1: 'Apple', 2: 'Orange'}          # dictionaries
dict2 = {'Apple': 1, 'Orange': 2}

print("Set A and List lis disjoint?   : ", A.isdisjoint(lis))
print("Set A and dict are disjoint?   :  " , A.isdisjoint(dict))
print("Set A and dict2 are disjoint?  : ", A.isdisjoint(dict2))

Set A and List lis disjoint?   :  False
Set A and dict are disjoint?   :   False
Set A and dict2 are disjoint?  :  True

# ⮩ __issubset() method__
### _The __issubset() method__ returns __True__ if all items in the set exists in the specified set, otherwise it returns __False__._      
### _As a shortcut, you can use the __<= operator__ instead, see example below._

In [59]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [61]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

In [141]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5}
print(s2.issubset(s1))

True

In [142]:
A = {4, 1, 3, 5}
B = {6, 0, 4, 1, 5, 0, 3, 5}
print(A.issubset(B))
print(B.issubset(A))

True
False

## Use __<=__ as a shortcut instead of __issubset()__ :

In [60]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x <= y
print(z)

True

# ⮩  __issuperset() method__
### _The __issuperset() method__ returns __True__ , if all items in the specified set exists in the original set, otherwise it returns __False__._
### As a shortcut, you can use the __>= operator__  instead of __issuperset ()__:

In [62]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

In [65]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

False

In [104]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}

print("A.issuperset(B) : ", A.issuperset(B))
print("B.issuperset(A) : ", B.issuperset(A))
print("A.issuperset(C) : ", A.issuperset(C))
print("C.issuperset(B) : ", C.issuperset(B))

A.issuperset(B) :  False
B.issuperset(A) :  True
A.issuperset(C) :  False
C.issuperset(B) :  False

## use the __>= operator__ instead of __issuperset ()__

In [64]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x >= y
print(z)

True

# ⮩ Creating a frozenset() from a list
### _frozenset is an immutable version of a set. This means that once a frozenset is created, its elements cannot be added, removed, or modified_.

In [84]:
fset = frozenset([1, 2, 3, 4, 5])
print(fset)  
                           # Creating a frozenset from a set
set1 = {3, 1, 4, 1, 5}
fset = frozenset(set1)
print(fset)

frozenset({1, 2, 3, 4, 5})
frozenset({1, 3, 4, 5})

# ⮩ Maximum and Minimum elements in sets

In [105]:
s1 = {4, 12, 10, 9, 4, 13}

print("Minimum element: ", min(s1))      
print("Maximum element: ", max(s1))

Minimum element:  4
Maximum element:  13

In [106]:
set5 = {23,34,45,56,67,78,89,88,87,76,65,78,89}
print("the maximum value is : ", max(set5))
print("the minimum value is : ", min(set5))

the maximum value is :  89
the minimum value is :  23

In [107]:
s = {5, 3, 9, 1, 7}                            # Sorting the set 

sorted_s = sorted(s)
print("Minimum element: ", sorted_s[0])
print("Maximum element: ", sorted_s[-1])

Minimum element:  1
Maximum element:  9

In [108]:
s = {5, 3, 9, 1, 7}                       # using loops
min_val = float('inf')
max_val = float('-inf')

for ele in s:
    if ele < min_val:
        min_val = ele
    if ele > max_val:
        max_val = ele

print("Minimum element:", min_val)
print("Maximum element:", max_val)

Minimum element: 1
Maximum element: 9

In [ ]:
#PROBLEM : 

Define two sets students_passed_math and students_passed_science containing student IDs who passed Math and Science respectively.
Write Python code to:

1. Print the number of students who passed both Math and Science.
2. Print the student IDs who passed only Math.
3. Print the student IDs who passed only Science.
4. Determine if students_passed_math is a subset of students_passed_science.
5. Determine if students_passed_science is a superset of students_passed_math.

In [109]:
# Define the two sets
students_passed_maths = {101, 102, 103, 104, 105}
students_passed_science = {103, 104, 105, 106, 107}

# 1. Students who passed both Math and Science

both_passed = students_passed_maths.intersection(students_passed_science)
print("The student IDs of those who have passed in Math and Science:", both_passed)
print("Total students passed in both Math and Science :        ", len(both_passed))

# 2. Students who passed only Math
only_math = students_passed_maths.difference(students_passed_science)
print("Those students who have passed in Math only  :       ", only_math)

# 3. Students who passed only Science
only_science = students_passed_science.difference(students_passed_maths)
print("Those students who have passed in Science only   :      ", only_science)

# 4. Check if students_passed_math is a subset of students_passed_science
sub = students_passed_maths.issubset(students_passed_science)
print("Is students passed in Math a subset of students passed in Science:", sub)

# 5. Check if students_passed_science is a superset of students_passed_math
sub2 = students_passed_science.issuperset(students_passed_maths)
print("Is students passed in Science a superset of students passed in Maths:", sub2)

The student IDs of those who have passed in Math and Science: {104, 105, 103}
Total students passed in both Math and Science :         3
Those students who have passed in Math only  :        {101, 102}
Those students who have passed in Science only   :       {106, 107}
Is students passed in Math a subset of students passed in Science: False
Is students passed in Science a superset of students passed in Maths: False