 # __11)   Dictionaries in Python__
### _Dictionaries are used to store data values in __key : value pairs__._

### _A dictionary is a collection which is __ordered *, changeable and do not allow duplicates__._

#### _As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered._

### _Dictionaries are written with __curly brackets, and have keys and values__:_

# Python Collections (Arrays)

#### There are four collection data types in the Python programming language :

#### _1 .  List is a collection which is ordered and changeable. Allows duplicate members._  
#### _2 .  Tuple is a collection which is ordered and unchangeable. Allows duplicate members._  
#### _3 .  Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members._  
#### _4 .  Dictionary is a collection which is ordered** and changeable. No duplicate members._

# Creating a Dictionary

In [43]:
# Empty Dictonary

empty = {}
print(empty)
print(type(empty))

{}
<class 'dict'>

In [7]:
# key : value pair

d = dict(a = 1, b = 2, c = 3)
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [1]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [5]:
student = {'name':'Varun', 'class':8, 'city':'NYC'}
print(student)

{'name': 'Varun', 'class': 8, 'city': 'NYC'}

# The dict() Constructor
#### _It is also possible to use the __dict()__ constructor to make a dictionary._

In [7]:
dic = dict(name = "John", age = 36, country = "Norway")
print(dic)

{'name': 'John', 'age': 36, 'country': 'Norway'}

# Dictionary Items
#### _Dictionary items are ordered, changeable, and do not allow duplicates._
#### _Dictionary items are presented in key : value pairs, and can be referred to by using the key name._

In [2]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

# Ordered or Unordered? 
##### _As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered._

#### _When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change._

#### _Unordered means that the items do not have a defined order, you cannot refer to an item by using an index._

# Changeable
### _Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created._

# Duplicates Not Allowed
#### _Dictionaries cannot have two items with the same key :_  
#### _Duplicate values will overwrite existing values :_

In [8]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [17]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964,
           "model": "Mustang","year": 1964}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# той  Dictionary Length
#### _To determine how many items a dictionary has, use the len() function :_

In [1]:
thisdict = { "brand": "Ford", "model": "Mustang", "year": 1964, "year": 2020}
print(thisdict)
print(type(thisdict))
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
<class 'dict'>
3

In [9]:
d ={'Name':'Steve', 'Age':30, 'Designation':'Programmer'}
print(len(d))

3

# той  Dictionary Items - Data Types == flexible key types
#### _The values in dictionary items can be of any data type: like String , int , boolean , and list data types:_
#### _while keys in dictionaries must be unique, they can be of various data types, strings, integers,floats and tuples ( if they contain only hashable objects )_

In [5]:
thisdict = {"brand": "Ford","electric": False,"year": 1964,"colors": ["red", "white", "blue"]}
print(thisdict)
print(type(thisdict))

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
<class 'dict'>

In [10]:
data = {
    'Name' : 'john',
    123 : "integer key",
    (1,2): "tuple key",
    3.6 : 'float key'
}

print(data)

{'Name': 'john', 123: 'integer key', (1, 2): 'tuple key', 3.6: 'float key'}

In [2]:
data = {
    'Name' : 'john',                        # Error ; unhashable type : 'list'
    123 : "integer key",
    (1,2): "tuple key",
    3.6 : 'float key'
    [1,2,3] : "list key",
}

print(data)

SyntaxError: invalid syntax (1310753065.py, line 6)

In [2]:
dict1 = { "ID": "123448", "color": "Black", "year": 1964, 'a': [1,2,3,4,5], 'b': (2.1,2.2,2.3,2.4), 'c': False}
print(dict1) 
print(type(dict))

{'ID': '123448', 'color': 'Black', 'year': 1964, 'a': [1, 2, 3, 4, 5], 'b': (2.1, 2.2, 2.3, 2.4), 'c': False}
<class 'type'>

# той  Dictionary Comprehension

In [ ]:
{ key :  value  for  vars in iterable }
 |       |     |     |        |
{ x  :   x*x    for   num in  iterable(1,11) }

In [13]:
squares = { x : x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [14]:
square_dict = dict()
for num in range(1, 11):
    square_dict[num] = num*num
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [16]:
# item price in dollars
old_price = {'milk': 1.02, 'coffee': 2.5, 'bread': 2.5}

dollar_to_pound = 0.76
new_price = {item : value*dollar_to_pound for (item, value) in old_price.items()}
print(new_price)

{'milk': 0.7752, 'coffee': 1.9, 'bread': 1.9}

# тЮйтЮй Access Dictionary Items
#### _You can access the items of a dictionary by referring to its key name , inside square brackets :_

In [8]:
thisdict = {                   # accessing a pair
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [19]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964}
x = thisdict["brand"]
print(x)

Ford

In [20]:
print(thisdict['year'])

1964

# There is also a method called get() that will give you the same result :
# той __get method ()__
#### _The __get()__ method returns the value of the item with the specified key._

In [12]:
di = dict(name = "John", age = 36, country = "Norway")
print(dic)
y = di.get("age")
print(y)

{'name': 'John', 'age': 36, 'country': 'Norway'}
36

In [24]:
car = {"brand": "Ford","model": "Mustang","year": 1964 }
x = car.get("model")
print(x)

Mustang
2

In [21]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.get("price", 15000)
print(x)

15000

In [23]:
d = { "name": "Ranvijay", 1: "Python", (1, 2): [1,2,4] }

print(d.get("name")) 
print(d.get((1, 2)))

Ranvijay
[1, 2, 4]

# той Get Keys
#### _The __keys() method__ will return a list of all the keys in the dictionary._  
#### _The keys() method returns a view object. The view object contains the keys of the dictionary, as a list._

In [18]:
di = dict(name = "John", age = 36, country = "Norway")
y = di.keys()
print(y)

dict_keys(['name', 'age', 'country'])

In [25]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.keys()

car["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year', 'color'])

In [20]:
a = {'Ranvijay ': 3, 'for': 2, 'Work': 1}  

for key in a:  
    print(key, a[key])

Ranvijay  3
for 2
Work 1

In [9]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

d = {k: v for k, v in zip(keys, values)}
print(d)

{'a': 1, 'b': 2, 'c': 3}

# той Get Values
####  _The __values() method__ will return a list of all the values in the dictionary._   
#### _The __values()__ method returns a view object. The view object contains the values of the dictionary, as a list._

In [19]:
di = dict(name = "John", age = 36, country = "Norway")
y = di.values()
print(y)

dict_values(['John', 36, 'Norway'])

In [26]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.values()

car["year"] = 2018
print(x)

dict_values(['Ford', 'Mustang', 2018])

# той Get Items
#### _The __items() method__ returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list._

In [24]:
di = dict(name = "John", age = 36, country = "Norway")
y = di.items()
print(y)

dict_items([('name', 'John'), ('age', 36), ('country', 'Norway')])

In [27]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [22]:
d = {'a': 10, 'b': 15, 'c': 20, 'd': 5}
res = {}

for key, val in d.items():
    if 10 <= val <= 20:  
        res[key] = val  
print(res)

{'a': 10, 'b': 15, 'c': 20}

In [3]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.items()

car["year"] = 2018
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2018)])

# тЮй Check if Key Exists == Membership testing
### _To determine if a specified key is present in a dictionary use the in keyword:_

In [26]:
dic = { "brand": "Ford", "model": "Mustang", "year": 1964 }
if "model" in dic:
  print("Yes, 'model' is one of the keys in the dic dictionary")

Yes, 'model' is one of the keys in the dic dictionary

In [29]:
dic = {"brand": "Ford", "model": "Mustang", "year": 1964, "color" : "red" }

print('brand ' in  dic)

False

In [30]:
dic = {"brand": "Ford", "model": "Mustang", "year": 1964, "color" : "red" }
print('email' in  dic)

False

In [31]:
dic = {"brand": "Ford", "model": "Mustang", "year": 1964, "color" : "red" }
print('Ford' in  dic)

False

#### _Check whether a given key already exists in a dictionary_.

In [33]:
d =  {1 : 10 , 2 : 20, 3 : 30, 4 : 40, 5 : 50, 6 : 60}
def is_key_present(x):
    if x in d:
        print("key is present in the dictionary")
    else:
        print("key is not present in the dictionary")

is_key_present(3)

key is present in the dictionary

In [35]:
d = { 1: 10, 2: 28, 3: 30, 4: 40, 5: 50, 6: 60 }
def is_key_present (x):
    if x in d :
        print("Key is present in the dictionary")
    else:
        print("Key is not present in the dictionary")

is_key_present(5)
is_key_present(9)

Key is present in the dictionary
Key is not present in the dictionary

In [36]:
is_key_present(4)

Key is present in the dictionary

#  той Converting List into Dictionary

In [37]:
a = [("name", "Alice"), ("age", 25), ("city", "New York")]  # List of key-value pairs as tuples
b = dict(a)

print(b)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [34]:
a = [("name", "Alice"), ("age", 25), ("city", "New York")]

b = {}
for key, value in a:
    b[key] = value

print(b)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [35]:
a = [("name", "Alice"), ("age", 25), ("city", "New York")]     # List of key-value pairs as tuples
                                                               # Using dictionary comprehension 
b = {key : value for key, value in a}

print(b)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

# тЮйтЮй Change Dictionary Items
# той Change Values
#### _You can change the value of a specific item by referring to its key name :_

In [29]:
d = {"brand": "Ford","model": "Mustang","year": 1964 }
d["year"] = 2018
print(d)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [41]:
a = { 'name' : 'vijay', 'age' : 25, 'city' : 'hyd', }
a['name'] = 'Ramesh'
print(a)

{'name': 'Ramesh', 'age': 25, 'city': 'hyd'}

In [42]:
a[ 'age'] = 28
print(a)

{'name': 'Ramesh', 'age': 28, 'city': 'hyd'}

# той Adding New Items to the Dictionary
#### _Adding an item to the dictionary is done by using a new index key and assigning a value to it_

#### _Adding a new key - value pair :_

In [11]:
d = {1: 10, 2: 20, 3: 30}
d[4] = 40                      # Adding a new key-value pair
print(d)

{1: 10, 2: 20, 3: 30, 4: 40}

In [31]:
thisdict = {"brand": "Ford","model": "Mustang","year": 1964              #adding a new key - value pair
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [2]:
student = {'name':'Varun', 'class':8, 'city':'NYC'}                        #adding a new key - value pair
student['subjects'] = ['English', 'Science', 'Sociology']
print(student)

{'name': 'Varun', 'class': 8, 'city': 'NYC', 'subjects': ['English', 'Science', 'Sociology']}

In [3]:
student['subjects']

['English', 'Science', 'Sociology']

In [14]:
 # Add new items in a loop

d = {1: 10, 2: 20, 3: 30}
for i in range(4, 6):
    d[i] = i * 10 
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [38]:
d = {1: 10, 2: 20, 3: 30}

for i in range(4, 6):            # Add keys dynamically
    d[i] = i * 10               # Assign a value based on the key
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

# той Update Dictionary using update() method
### _The __update () method__ will update the dictionary with the items from a given argument. If the item does not exist , the item will be added._

#### _The argument must be a dictionary , or an iterable object with __key  :  value pairs__._

In [30]:
d1 = { "brand": "Ford", "model": "Mustang", "year": 1964 }
d1.update({"year": 2020})
print(d1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [12]:
d = {1: 10, 2: 20, 3: 30}
d.update({4: 40, 5: 50})                   # Add multiple key-value pairs
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [13]:
d = {1: 10, 2: 20, 3: 30}
a = [(4, 40), (5, 50)]
d.update(a)                           # Add items from an iterable
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [33]:
d = {"brand": "Ford","model": "Mustang","year": 1964}
d.update({"color": "red"})
print(d)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [4]:
d = {1: 'Vijay', 2: 'Chauhan', 3: 'working'}
d["age"] = 22
d[1] = "Python dict"

print(d)

{1: 'Python dict', 2: 'Chauhan', 3: 'working', 'age': 22}

In [16]:
d = {1: 10, 2: 20, 3: 30}
a = [(4, 40), (5, 50)]               # List of key-value pairs
d.update(a)                          # Adds items from the iterable
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [32]:
# Merging and Concatenating two Dictionaris 

d1 = {'x': 1, 'y': 2}
d2 = {'y': 3, 'z': 4}

d3 = d1.copy()
for key, value in d2.items():
    d3[key] = value

print(d3)

{'x': 1, 'y': 3, 'z': 4}

# тЮйтЮй  Remove Dictionary Items
#### There are several methods to remove items from a dictionary:

# той The pop() method 
### _The __pop() method__ removes the item with the specified key name:_

In [35]:
dd = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dd.pop("model")
print(dd)

{'brand': 'Ford', 'year': 1964}

In [17]:
d = {'x': 100, 'y': 200, 'z': 300}
removed_value = d.pop('y')

print(d)  
print(removed_value)

{'x': 100, 'z': 300}
200

In [23]:
d = {'nikhil': 1, 'manjeet': 10, 'Amit': 15}

val = d.pop('Amit')
d['Suraj'] = val

print(d)

{'nikhil': 1, 'manjeet': 10, 'Suraj': 15}

In [41]:
a = {"name": "Nikki", "age": 25, "city": "New York"}
                                                        # Remove the key 'age'
nk = a.pop("age")

print(a)  
print(nk)

{'name': 'Nikki', 'city': 'New York'}
25

# той The popitem() method 
### _The __popitem() method__  removes the last inserted item._ 
#### _The __popitem() method__ removes the item that was last inserted into the dictionary. In versions before 3.7,_   
### _the __popitem() method__ removes a random item._

In [36]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [39]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.popitem()

print(x)

('year', 1964)

In [40]:
a = {"name": "Nikki", "age": 25, "city": "New York"}
                                                       # Remove the last key-value pair
c = a.popitem()

print(a)  
print(c)

{'name': 'Nikki', 'age': 25}
('city', 'New York')

# той del () method
### _The _del_ keyword removes the item with the specified key name : It can also delete the dictionary completely :_

In [37]:
mydict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del mydict["model"]
print(mydict)

{'brand': 'Ford', 'year': 1964}

In [38]:
dict1 = {"brand": "Ford","model": "Mustang","year": 1964}
del dict1
print(dict1)                            # this will cause an error because "thisdict" no longer exists.

NameError: name 'dict1' is not defined

In [70]:
a = {"name": "Vijay", "age": 25, "city": "New York"}
                                   # Delete the key 'city'
del a["city"]
print(a)

{'name': 'Vijay', 'age': 25}

In [71]:
a = {"name": "Vijay", "age": 25, "city": "New York"}
                                   # Delete the keys 'age' & 'city'
del a["age"] , a["city"]
print(a)

{'name': 'Vijay'}

# Creating a new dictionary by Deleting old one

In [29]:
d = {'nikhil': 1, 'vashu': 5,'manjeet': 10, 'akshat': 15}
print(d)

d['akash'] = d['akshat']
del d['akshat']

print(d)

{'nikhil': 1, 'vashu': 5, 'manjeet': 10, 'akshat': 15}
{'nikhil': 1, 'vashu': 5, 'manjeet': 10, 'akash': 15}

In [30]:
d1 = {'nikhil': 1, 'manjeet': 10, 'Amit': 15}
d2 = {}
for key, val in d1.items():
    if key == 'Amit':
        d2['Suraj'] = val
    else:
        d2[key] = val
del d1
d1 = d2
print(d1)

{'nikhil': 1, 'manjeet': 10, 'Suraj': 15}

# той The clear() method 
### The __clear() method__ empties the dictionary:
#### _The __clear() method__ removes all the elements from a dictionary._

In [81]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
car.clear()
print(car)

{}

In [108]:
a = {"name": "Vijay", "age" : 28 , "country" : "India", "gender" : "male" , "mail id" : "Ranvijay@gmail.com" }

a.clear()
print(a)

{}

In [106]:
# if we use varaible for clear method it will show 'none'

a = {"name": "Vijay", "age" : 28 , "country" : "India", "gender" : "male" , "mail id" : "Ranvijay@gmail.com" }

b = a.clear()
print(b)

None

In [39]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

# тЮйтЮй    Loop Through a Dictionary
## _we can loop through a dictionary by using a for loop._

### _When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well._

# Print all key names in the dictionary , one by one:

In [55]:
dict1 = {"brand": "Ford","model": "Mustang","year": 1964}

for x in dict1:
  print(x)

brand
model
year

In [42]:
places = {("19.07'53.2", "72.54'51.0"):"Mumbai",              # dictionary with keys having multiple inputs 
          ("28.33'34.1", "77.06'16.6"):"Delhi"}

print(places)
print('\n')

lat = []
long = []
plc = []
for i in places:
    lat.append(i[0])
    long.append(i[1])
    plc.append(places[i[0], i[1]])

print(lat)
print(long)
print(plc)

{("19.07'53.2", "72.54'51.0"): 'Mumbai', ("28.33'34.1", "77.06'16.6"): 'Delhi'}


["19.07'53.2", "28.33'34.1"]
["72.54'51.0", "77.06'16.6"]
['Mumbai', 'Delhi']

# той we can use the __keys() method__ to return the keys of a dictionary :

In [57]:
dict1 = {"brand": "Ford","model": "Mustang","year": 1964}
for x in dict1.keys():
  print(x)

brand
model
year

# той we can also use the __values() method__ to return values of a dictionary :

In [44]:
dict1 = {"brand": "Ford","model": "Mustang","year": 1964}

for x in dict1.values():
  print(x)

Ford
Mustang
1964

# той Loop through both keys and values, by using the __items() method__ :

In [54]:

dict1 = {"brand": "Ford","model": "Mustang","year": 1964}
for x, y in dict1.items():
  print (x, y )

brand Ford
model Mustang
year 1964

In [10]:
keys = ['p', 'q', 'r']
values = [5, 10, 15]

d = {} 
for i in range(len(keys)):
    d[keys[i]] = values[i]

print(d)

{'p': 5, 'q': 10, 'r': 15}

In [45]:
d = {1: 'Ranvijay', 2: 'is', 'Working':22}
for key in d:
    print(key)
for value in d.values():
    print(value)
                                       # Iterate over key-value pairs
for key, value in d.items():
    print(f"{key}: {value}")

1
2
Working
Ranvijay
is
22
1: Ranvijay
2: is
Working: 22

# тЮйтЮй Copy Dictionaries

#### _You cannot copy a dictionary simply by typing dict2 = dict1 , because : dict2 will only be a reference to dict1 , and changes made in dict1  will automatically also be made in dict2._   
#### _There are ways to make a copy , one way is to use the built-in Dictionary method copy()._

# той copy() method
### _The __copy() method__ returns a copy of the specified dictionary_

In [47]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.copy()
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [48]:
thisdict = {"brand": "Ford","model": "Mustang", "year": 1964 }
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [49]:
thisdict = {                 # copy of dictionary using dict function
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# тЮй Nested Dictionaries
### _A dictionary can contain dictionaries, this is called nested dictionaries._

In [50]:
myfam = {"child1" : {"name" : "Emil","year" : 2004},
        "child2" : {"name" : "Tobias","year" : 2007},
        "child3" : {"name" : "Linus","year" : 2011}}

print(myfam)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [51]:
child1 = {"name" : "Emil","year" : 2004}
child2 = {"name" : "Tobias","year" : 2007}
child3 = {"name" : "Linus","year" : 2011}

myfam = {"child1" : child1,"child2" : child2, "child3" : child3}

print(myfam)
print(type(myfam))

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}
<class 'dict'>

# тЮйтЮй Access Items in Nested Dictionaries
### _To access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary :_

In [52]:
myfam = {"child1" : {"name" : "Emil","year" : 2004},
        "child2" : {"name" : "Tobias","year" : 2007},
        "child3" : {"name" : "Linus","year" : 2011,"family":{
        "brother":"27"
        }}}
print(myfam["child2"]["name"])
print(myfam["child3"]["family"]["brother"])

Tobias
27

In [53]:
# Loop through the keys and values of all nested dictionaries:

myfam = {"child1" : {"name" : "Emil","year" : 2004}, 
        "child2" : {"name" : "Tobias","year" : 2007},
        "child3" : {"name" : "Linus","year" : 2011 }}

for x, obj in myfam.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

# той fromkeys() method 
#### _The __fromkeys () method__ returns a dictionary with the specified keys and the specified value._

In [54]:
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [55]:
x = ('key1', 'key2', 'key3')
thisdict = dict.fromkeys(x)

print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

# той setdefault () method
### _The __setdefault() method__ returns the value of the item with the specified key._

In [56]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [57]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x = car.setdefault("color", "white")

print(x)

white

# Practice Questions

In [ ]:
# PROBLEM : 1

Chris recently got to know about his marks which he scored in various subjects. Now he wants to store
his marks in the form of a dictionary. Write a python program to help Chris and his friends to store the
marks inside the dictionary. Print the dictionary with the total marks of the student.

In [4]:
marks =  {}

subjects = ['maths', 'history', 'science', 'coding']
for i in subjects:
    score = int(input(f'type your {i} score here'))
    marks[i] = score
print(marks)

type your maths score here 88
type your history score here 76
type your science score here 65
type your coding score here 78

{'maths': 88, 'history': 76, 'science': 65, 'coding': 78}

In [5]:
# total marks

total = sum ( list( marks.values() ) )
print(total)

307

In [6]:
students = {}
names = ['paul', 'alastair', 'tim']
for n in names:
    marks =  {}
    subjects = ['maths', 'history', 'science', 'coding']
    for i in subjects:
        score = int(input(f'type your {i} score here'))
        marks[i] = score
    students[n] = marks

print(students)

type your maths score here 88
type your history score here 65
type your science score here 67
type your coding score here 89
type your maths score here 90
type your history score here 99
type your science score here 98
type your coding score here 87
type your maths score here 76
type your history score here 78
type your science score here 89
type your coding score here 87

{'paul': {'maths': 88, 'history': 65, 'science': 67, 'coding': 89}, 'alastair': {'maths': 90, 'history': 99, 'science': 98, 'coding': 87}, 'tim': {'maths': 76, 'history': 78, 'science': 89, 'coding': 87}}

In [ ]:
# PROBLEM : 2

Write a ython script to conactenatethe following dictionarises to create a new one.

In [58]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}

dic4 = {}
for d in (dic1, dic2, dic3):
    dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# PROBLEM : 3

Write a Python script to concatenate the following dictionaries to create a new one.

In [46]:
dic1 = {1:10, 2:20} 
dic2 = {3:30, 4:48}
dic3 = {5:50,6:60}

dic4 = {} 

for d in (dic1, dic2, dic3) : dic4.update(d) 
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 48, 5: 50, 6: 60}

In [ ]:
# PROBLEM : 4

Write a Python program to print a dictionary table format.

In [59]:
my_dict = {'C1': [1,2,3], 'C2': [5,6,7], 'C3': [9,10,11]}

for row in zip (*([key]+ (value) for key, value in sorted(my_dict.items()))):
    
    print(*row)

C1 C2 C3
1 5 9
2 6 10
3 7 11

In [ ]:
# PROBLEM : 5

Print a dictionary where the keys are numbers between 1 and 15 and the values are square of keys

In [60]:
d = dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
# PROBEM : 5
Create a dictionary book_ratings with the following initial data;

'Python Programming' : 4.5
'Data Science Handbook' : 4.8
'Machine Learning Basics' : 4.2

Check if Python Programming is in book_ratings.
Print "Found" if it exists, otherwise print "Not Found".

Use a method to get all keys from book_ratings and store them in a list titles.
Print the list titles.

In [140]:
book_ratings = {
    'Python Programming': 4.5,
    'Data Science Handbook': 4.8, 
    'Machine Learning Basics': 4.2
}

if 'Python Programming' in book_ratings:
    print("found")
else:
    print('not found')

titles = list(book_ratings.keys())
print(titles)

found
['Python Programming', 'Data Science Handbook', 'Machine Learning Basics']

In [ ]:
# PROBLEM : 6
Create a dictionary fruit_stock with the following items:
'apple': 10
'banana': 15
'orange': 8
'grape': 20

Print each fruit along with its stock count
in the format "Fruit : Stock", using a loop.

OUTPUT

Fruit: apple, Stock: 10
Fruit: banana, Stock: 15
Fruit: orange, Stock: 8
Fruit: grape, Stock: 20

In [143]:
fruit_stock = {
    'apple':10,
    'banana' :15,
    'orange': 8,
    'grape': 20
}
for fruit in fruit_stock:
    print("Fruit:", fruit, "stock : ", fruit_stock[fruit])

Fruit: apple stock :  10
Fruit: banana stock :  15
Fruit: orange stock :  8
Fruit: grape stock :  20

In [ ]:
# PROBLEM : 7
Print a dictionary where the keys are numbers between 1 and 15 and the values are square of keys.

In [144]:
square_dict = {}
for num in range(1, 16):
    square_dict[num] = num**2
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [145]:
# Example for numbers between 1 and 100: 

square_dict = {}
for num in range(1, 101):
    square_dict[num] = num**2
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

In [146]:
# Example for numbers between 1 and 151: 

square_dict = {}
for num in range(1, 151):
    square_dict[num] = num**2
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000, 101: 10201, 102: 10404, 103: 10609, 104: 10816, 105: 11025, 106: 11236, 107: 11449, 108: 11664, 109: 11881, 110: 12100, 111: 12321, 112: 12544, 113: 12769, 114: 12996, 115: 13225, 116: 13456, 117: 13689, 118: 13924, 119: 14161, 120: 14400, 121: 14641, 122: 14884, 123: 15129, 124: 15376, 125: 15625, 126: 15876, 127: 16129, 128: 16384, 129: 16641, 130: 16900, 131: 17161, 132: 17424, 133: 17689, 134: 17956, 135: 18225, 136: 18496, 137: 18769, 138: 19044, 139: 19321, 140: 19600, 141: 19881, 142: 20164, 143: 20449, 144: 20736, 145: 21025, 146: 21316, 147: 21609, 148: 21904, 149: 22201, 150: 22500}