# __14) Pandas Library__
#### _Pandas is a Python library._

#### _Pandas is used to analyze data._

# What is Pandas?
#### _-> Pandas is a Python library used for working with data sets._

#### _-> It has functions for analyzing, cleaning, exploring, and manipulating data._

#### _-> The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" and was created by Wes McKinney in 2008._

## Why Use Pandas?
#### -> Pandas allows us to analyze big data and make conclusions based on statistical theories.

#### -> Pandas can clean messy data sets, and make them readable and relevant.

#### -> Relevant data is very important in data science.

## What Can Pandas Do?
#### _Pandas gives you answers about the data. Like:_

##### _-> Is there a correlation between two or more columns ?_ 
##### _-> What is average value?_ 
##### _-> Max value ?_ 
##### _-> Min value ?_ 
##### _-> Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data._

## Where is the Pandas Codebase?
##### _The source code for Pandas is located at this github repository https://github.com/pandas-dev/pandas_

## ➩➩ Installation of Pandas
#### _If you have Python and PIP already installed on a system, then installation of Pandas is very easy._

##### _Install it using this command :_

#### _C:\Users\Your Name>pip install pandas_

##### _If this command fails, then use a python distribution that already has Pandas installed like, Anaconda, Spyder etc._

In [5]:
import pandas

##### Now Pandas is imported and ready to use.

In [1]:
import pandas

mydataset = {'cars': ["BMW", "Volvo", "Ford"],'passings': [3, 7, 2]}
myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

## Pandas as pd
#### _Pandas is usually imported under the __pd__ alias._

In [14]:
import pandas as pd

## Checking Pandas Version   ⮯
#### _The version string is stored under __version__ attribute._

In [21]:
import pandas as pd

print(pd.__version__)

2.2.2

# What is a Series?
#### _A Pandas Series is like a column in a table._
#### _It is a one-dimensional array holding data of any type._

In [4]:
                                     # series
data = [4, 6, 8, 10]

series = pd.Series(data,index=['a','b', 'c', 'd'] )
series

a     4
b     6
c     8
d    10
dtype: int64

In [22]:
import pandas as pd

a = [1, 7, 2]
myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

# ➩ DataFrames  
#### _A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns._

In [4]:
data = {"calories": [420, 380, 390],"duration": [50, 40, 45], 'pulse': [93, 110, 103]}
                    # load data into a DataFrame object:

data1 = pd.DataFrame(data)
data1

   calories  duration  pulse
0       420        50     93
1       380        40    110
2       390        45    103

In [5]:
import pandas as pd

data = {"calories": [420, 380, 390],"duration": [50, 40, 45]}
myvar = pd.DataFrame(data)
print(myvar)
print(type(myvar))

   calories  duration
0       420        50
1       380        40
2       390        45
<class 'pandas.core.frame.DataFrame'>

In [6]:
import pandas as pd

mydataset = {'cars': ["BMW", "Volvo", "Ford"],'passings': [3, 7, 2]}
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

## ➩ shape method
#### _The shape property returns a tuple containing the shape of the DataFrame. The shape is the number of rows and columns of the DataFrame_ .

In [8]:
df.shape   # currently here's no data so it will get error.

NameError: name 'df' is not defined

# ➩ Labels
#### _If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc._

In [24]:
import pandas as pd

a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar[0])

1

# Create Labels
#### _With the index argument, you can name your own labels_. ⮯

In [25]:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])   # labels

print(myvar)

x    1
y    7
z    2
dtype: int64

In [27]:
myvar["y"]

7

# ➩ Key / Value Objects as Series
#### _You can also use a key/value object, like a dictionary, when creating a Series._

In [9]:
import pandas as pd                       # simple pandas series with key - values dictionary

calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [10]:
myvar.keys()

Index(['day1', 'day2', 'day3'], dtype='object')

### _To select only some of the items in the dictionary,  use the index argument and specify only the items you want to include in the Series._ ⮯

In [11]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

## ➩ Locate Row
#### _As you can see from the result above, the DataFrame is like a table with rows and columns._
#### _Pandas use the loc attribute to return one or more specified row(s)_
#### if the index given then we can access the data by theire indexs names, if index is not given then index will be 0,1,2,3 by default.

In [12]:
import pandas as pd

data = { "calories" : [420, 380, 390], "duration": [50, 40, 45]}
                                             # load data into a DataFrame object :
df1 = pd.DataFrame(data)

print(df1.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [13]:
print(df1.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

In [14]:
df1.loc[[0, 1]]         # When using [], the result is a Pandas DataFrame.

   calories  duration
0       420        50
1       380        40

## Finding Length

In [15]:
len(df1)

3

In [16]:
len(data1)

3

### ➩ filter function
#### _The filter() method filters the DataFrame, and returns only the rows or columns that are specified in the filter_ .

In [17]:
import pandas as pd

data = {"name": ["Sally", "Mary", "John"],"age": [50, 40, 30],"qualified": [True, False, False]}
df1 = pd.DataFrame(data)

newdf = df1.filter(items = ["name", "age"])
newdf

    name  age
0  Sally   50
1   Mary   40
2   John   30

# ➩ Named Indexes
#### _With the __index__ argument, you can name your own indexes._

In [18]:
import pandas as pd
data = {"calories": [420, 380, 390],"duration": [50, 40, 45]}

df2 = pd.DataFrame(data, index = ["day1", "day2", "day3"])
df2

      calories  duration
day1       420        50
day2       380        40
day3       390        45

# Locate Named Indexes
#### _Use the named index in the loc attribute to return the specified row(s)._ ⮯

In [19]:
import pandas as pd
data = {"calories": [455, 550, 460],"duration": [46, 65, 45]}

df3 = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df3.loc["day2"])

calories    550
duration     65
Name: day2, dtype: int64

In [20]:
import pandas as pd

data = {"calories": [426, 388, 360],"duration": [56, 48, 45]}

df4 = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df4.loc["day2"])

calories    388
duration     48
Name: day2, dtype: int64

### _some statistical information_

In [21]:
data = {"calories": [420, 380, 390],"duration": [50, 40, 45], 'pulse': [93, 110, 103]}
data1 = pd.DataFrame(data)
data1.describe()

         calories  duration       pulse
count    3.000000       3.0    3.000000
mean   396.666667      45.0  102.000000
std     20.816660       5.0    8.544004
min    380.000000      40.0   93.000000
25%    385.000000      42.5   98.000000
50%    390.000000      45.0  103.000000
75%    405.000000      47.5  106.500000
max    420.000000      50.0  110.000000

In [22]:
# to check the columns 

data1.columns

Index(['calories', 'duration', 'pulse'], dtype='object')

### _Replacing the column names_

In [23]:
data = {"calories": [420, 380, 390],"duration": [50, 40, 45], 'pulse': [93, 110, 103]}
                    # load data into a DataFrame object:
dt = pd.DataFrame(data)
dt.columns = ['CALORIES', 'DURATION', 'PULSE']
dt

   CALORIES  DURATION  PULSE
0       420        50     93
1       380        40    110
2       390        45    103

#### _If the Date is given in Wrong Format it will be corrected when we call the data_

In [24]:
import pandas as pd
data6 = { "Duration"  : [60,67,68,69] , "Date" :['2020/12/01', '2020/12/02 ', '2020/12/03', '2020/12/04'], "Pulse" : [ 130,156,145,178]}
dt = pd.DataFrame(data6)
dt

   Duration         Date  Pulse
0        60   2020/12/01    130
1        67  2020/12/02     156
2        68   2020/12/03    145
3        69   2020/12/04    178

In [25]:
dt['Date'] = pd.to_datetime(dt['Date'], format='mixed')
print(dt.to_string())

   Duration       Date  Pulse
0        60 2020-12-01    130
1        67 2020-12-02    156
2        68 2020-12-03    145
3        69 2020-12-04    178

### Empty Cells
##### _Empty cells can potentially give you a wrong result when you analyze data._

# __➩➩➥__ __Read JSON Files__ 
#### _Big data sets are often stored, or extracted as JSON._
#### _JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas._

In [26]:
import pandas as pd

df = pd.read_json('https://raw.githubusercontent.com/sharmadhiraj/free-json-datasets/8e91ee6e6fb3624be4c2278a86c181cb8afe4fc3/datasets/nepse-listed-companies-2021.json')

print(df.to_string())

                                                        name       symbol                      category                                                                                   logo
0                                    10 % NMB DEBENTURE 2085     NMBD2085           Corporate Debenture
1                          10% Himalayan Bank Debenture 2083       HBLD83           Corporate Debenture
2                              10% Laxmi Bank Debenture 2086       LBLD86           Corporate Debenture
3                                   10% Nabil Debenture 2082       NBLD82           Corporate Debenture
4                          10% Nepal SBI Bank Debenture 2086      SBIBD86           Corporate Debenture
5                             10% NIC Asia Debenture 2085/86  NICAD 85/86           Corporate Debenture
6                             10% Prabhu Bank Debenture 2084       PBLD84           Corporate Debenture
7                          10% Sanima Bank Limited Debenture     SAND2085           Corporate Debenture
8                                 10% Sunrise Debenture 2080        SRD80           Corporate Debenture
9                        10.25% Citizens Bank Debenture 2086      CIZBD86           Corporate Debenture
10             10.25% GLOBAL IME BANK LTD. DEBENTURE 2080/81     GBD80/81           Corporate Debenture
11                                 10.25% KBL Debenture 2086       KBLD86           Corporate Debenture
12                  10.25% Machhapuchhre Bank Debenture 2085     MBLD2085           Corporate Debenture
13                                10.25% NBBL Debenture 2085     NBBD2085           Corporate Debenture
14                         10.25% NIC Asia Debenture 2083/84    NICD83/84           Corporate Debenture
15                         10.25% Prabhu Bank Debenture 2086       PBLD86           Corporate Debenture
16                                 10.25% SBL Debenture 2083       SBLD83           Corporate Debenture
17                        10.25% Sunrise Bank Debenture 2083      SRBLD83           Corporate Debenture
18                   10.35% Agricultural Bank Debenture 2083      ADBLD83           Corporate Debenture
19                    10.5 % NEPAL INVESTMENT DEBENTURE 2082     NIBD2082           Corporate Debenture
20                                 10.50% SBL Debenture 2082     SBLD2082           Corporate Debenture
21                             11% NIC Asia Debenture 082/83    NICAD8283           Corporate Debenture
22              12 % Goodwill Finance Limited Debenture 2083       GWFD83           Corporate Debenture
23                   12% ICFC Finance Limited Debenture 2083      ICFCD83           Corporate Debenture
24                                      4% Agricultural Bond        ADBLB           Corporate Debenture
25                                     8% BOK Debenture 2079     BOKD2079           Corporate Debenture
26                                     8% EBL Debenture 2078     EBLD2078           Corporate Debenture
27                                   8.5% BOK Debenture 2086       BOKD86           Corporate Debenture
28                            8.5% Laxmi Bank Debenture 2088       LBLD88           Corporate Debenture
29                       8.5% Machhapuchchhre Debenture 2087       MBLD87           Corporate Debenture
30                            8.5% Nepal Bank Debenture 2087       NBLD87           Corporate Debenture
31                 8.5% Nepal Investment Bank Debenture 2084       NIBD84           Corporate Debenture
32                           8.5% Prabhu Bank Debenture 2087       PBLD87           Corporate Debenture
33                                  8.5% RBBL Debenture 2083       RBBD83           Corporate Debenture
34                                8.5% Sanima Debenture 2087        SBD87           Corporate Debenture
35                                   8.5% SBL Debenture 2084       SBLD84           Corporate Debenture
36                               8.75 % Prime Debenture 2085        PBD85           Corporate Debenture
37          9% Kamana Sewa Bikas Bank Limited Debenture 2087     KSBBLD87           Corporate Debenture
38                             9% NIC Asia Debenture 2081/82    NICAD8182           Corporate Debenture
39            9.5% Manjushree Finance Limited Debenture 2085       MFLD85           Corporate Debenture
40                                   9.5% NCC Debenture 2086       NCCD86           Corporate Debenture
41      Aarambha Chautari Laghubitta Bittiya Sanstha Limited       ACLBSL                  Microfinance  http://www.nepalstock.com/uploads/images/company/b18d4cc0aa519c1ead50eaa4ce1e71ae.jpg
42              ADHIKHOLA LAGHUBITTA BITTIYA SANSTHA LIMITED        AKBSL                  Microfinance
43                                Agricultural Bond (8 Year)      ADBLB86           Corporate Debenture
44                                Agricultural Bond (9 Year)      ADBLB87           Corporate Debenture
45                     Agricultural Development Bank Limited         ADBL              Commercial Banks  http://www.nepalstock.com/uploads/images/company/7796f7758600d44efaaa95d89b8c96a0.jpg
46                                    Ajod Insurance Limited          AIL            Non Life Insurance  http://www.nepalstock.com/uploads/images/company/129d2f6b5ee3b58bbb59439649fbb16c.JPG
47                        Ankhu Khola Jalvidhyut Company Ltd        AKJCL                   Hydro Power  http://www.nepalstock.com/uploads/images/company/23c3eb9a3a42c67b58f218c6920bf442.jpg
48                                    Api Power Company Ltd.          API                   Hydro Power  http://www.nepalstock.com/uploads/images/company/12e59d1883ac7a58ea512167aede21e4.jpg
49                 Arambha Microfinance Bittiya Sanstha Ltd.         AMFI                  Microfinance  http://www.nepalstock.com/uploads/images/company/e2c60a3b7722dd754289f292b74e1fcb.png
50                                    Arun Kabeli Power Ltd.         AKPL                   Hydro Power  http://www.nepalstock.com/uploads/images/company/d103a6d6b51a17cc81aa0aa74c96b639.jpg
51               Arun Valley Hydropower Development Co. Ltd.         AHPC                   Hydro Power
52                             Arun Vanaspati Udhyog Limited          AVU  Manufacturing And Processing
53                       Asha Laghubitta Bittiya Sanstha Ltd        ALBSL                  Microfinance
54                          Asian Life Insurance Co. Limited        ALICL                Life Insurance
55                                    Bank of Kathmandu Ltd.         BOKL              Commercial Banks  http://www.nepalstock.com/uploads/images/company/aa0f53236ece1483b4c2443ca6f72e94.jpg
56                                 Barun Hydropower Co. Ltd.        BARUN                   Hydro Power  http://www.nepalstock.com/uploads/images/company/6dc43135db3ae9138ea9d23ccd88c7db.JPG
57                                 Best Finance Company Ltd.          BFC                       Finance
58                                  Bhargav Bikash Bank Ltd.         BHBL             Development Banks  http://www.nepalstock.com/uploads/images/company/c857dac121d3e55a28571842f66960a4.jpg
59                                        Birat Shoe Limited          BSL  Manufacturing And Processing
60                              Bishal Bazar Company Limited          BBC                      Tradings  http://www.nepalstock.com/uploads/images/company/6cfa6f456f17e0e84a70d99154fedd9c.jpg
61                           Bottlers Nepal (Balaju) Limited          BNL  Manufacturing And Processing
62                            Bottlers Nepal (Terai) Limited          BNT  Manufacturing And Processing
63             Buddha Bhumi Nepal Hydropower Company Limited         BNHC                   Hydro Power
64                              Butwal Power Company Limited         BPCL                   Hydro Power
65                             Butwal Spinning Mills Limited          BSM  Manufacturing And Processing
66                  Capital Merchant Bank & Finance Co. Ltd.          CMB                       Finance
67               CEDB Hydropower Development Company Limited         CHDC                    Investment
68                                  Central Finance Co. Ltd.         CFCL                       Finance
69                              Century Commercial Bank Ltd.         CCBL              Commercial Banks
70                                 Chandragiri Hills Limited          CGH                        Hotels
71                     Chhimek Laghubitta Bikas Bank Limited         CBBL                  Microfinance  http://www.nepalstock.com/uploads/images/company/38c53cf90ff1c8f012069fd42d558673.jpg
72                                 Chhyangdi Hydropower Ltd.          CHL                   Hydro Power
73                        Chilime Hydropower Company Limited         CHCL                   Hydro Power  http://www.nepalstock.com/uploads/images/company/9e01e7db58b5b122881eac7c8318d666.png
74                        Citizen Bank International Limited        CZBIL              Commercial Banks  http://www.nepalstock.com/uploads/images/company/77c356cf5bed6ff7705ced99d5c10986.PNG
75                                  Citizen Investment Trust          CIT                    Investment  http://www.nepalstock.com/uploads/images/company/a5b7b899a0e765783601205f9f30ceab.gif
76                                   Citizens Mutual Fund -1         CMF1                   Mutual Fund
77                                    CITIZENS MUTUAL FUND 2         CMF2                   Mutual Fund
78                          City Express Finance Co. Limited         CEFL                       Finance
79                                            Civil Bank Ltd          CBL              Commercial Banks  http://www.nepalstock.com/uploads/images/company/a3d2a50b4fce1384979bfb98abedbcc5.jpg
80                     Civil Laghubitta Bittiya Sanstha Ltd.        CLBSL                  Microfinance  http://www.nepalstock.com/uploads/images/company/7f5009a8b739163eac21d22feb32d299.png
81                        Corporate Development Bank Limited        CORBL             Development Banks
82                                      Crystal Finance Ltd.          CFL                       Finance
83                Deprosc Laghubitta Bittiya Sanstha Limited         DDBL                  Microfinance
84                               Dibyashwori Hydropower Ltd.         DHPL                   Hydro Power
85                                      Everest Bank Limited          EBL              Commercial Banks
86                           Everest Bank Limited Con. Pref.        EBLCP               Preferred Stock
87                                Everest Insurance Co. Ltd.          EIC            Non Life Insurance  http://www.nepalstock.com/uploads/images/company/995c3f9f6615f26987fcc1b5dbfdb998.png
88                               Excel Development Bank Ltd.         EDBL             Development Banks
89    First Micro Finance Laghubitta Bittiya Sanstha Limited        FMDBL                  Microfinance  http://www.nepalstock.com/uploads/images/company/9e768f842f997fff4c1e26495081da7c.jpg
90                                   Fleur Himalayan Limited          FHL  Manufacturing And Processing
91                 Forward Microfinance Bittiya Sanstha Ltd.        FOWAD                  Microfinance
92               Ganapati Laghubitta Bittiya Sanstha Limited        GMFBS                  Microfinance  http://www.nepalstock.com/uploads/images/company/156bd85c2bdeef091ddc633b21bbafba.png
93                                Gandaki Bikas Bank Limited         GDBL             Development Banks  http://www.nepalstock.com/uploads/images/company/b1b3a273d3b4e2ec13cb5936f3f54e4b.jpg
94                                 Garima Bikas Bank Limited         GBBL             Development Banks  http://www.nepalstock.com/uploads/images/company/28080d088666b23480e3c96f4b47e16e.jpg
95                       General Insurance Company Nepal Ltd          GIC            Non Life Insurance
96                                    Ghalemdi Hydro Limited          GHL                   Hydro Power
97                Ghodighoda Laghubitta Bittiya Sanstha Ltd.        GGBSL                  Microfinance
98                                   Global IME Bank Limited        GBIME              Commercial Banks
99                 Global IME Bank Limited Debenture 2086/87   GBILD86/87           Corporate Debenture
100               Global IME Laghubitta Bittiya Sanstha Ltd.         GILB                  Microfinance
101                             Global IME Samunnat Scheme-1       GIMES1                   Mutual Fund
102                                 Goodwill Finance Limited         GFCL                       Finance  http://www.nepalstock.com/uploads/images/company/de09040b5d53eae698c5b1b0a752a947.jpg
103                         Gorakhkali Rubber Udhyog Limited          GRU  Manufacturing And Processing
104            Grameen Bikas Laghubitta Bittiya Sanstha Ltd.        GBLBS                  Microfinance  http://www.nepalstock.com/uploads/images/company/ef1db6581d908b48ddb0a4c364ca32b5.png
105                              Green Development Bank Ltd.        GRDBL             Development Banks  http://www.nepalstock.com/uploads/images/company/546ece2c1e7e0b633b738692dd158e88.jpg
106                             GreenLife Hydropower Limited          GLH                   Hydro Power
107             Guheshowori Merchant Bank & Finance Co. Ltd.        GMFIL                       Finance  http://www.nepalstock.com/uploads/images/company/2691b31b4be2e2eab338b27570f864a5.JPG
108                Gurans Laghubitta Bittiya Sanstha Limited        GLBSL                  Microfinance  http://www.nepalstock.com/uploads/images/company/38c0971d8dc95aa4e1baee9c75d7572a.jpg
109                       Gurans Life Insurance Company Ltd.        GLICL                Life Insurance  http://www.nepalstock.com/uploads/images/company/a254cae85fc968bba1303f097c08a045.jpg
110                                     Gurkhas Finance Ltd.         GUFL                       Finance  http://www.nepalstock.com/uploads/images/company/467d4eac70e7df14ef4a9e1471afad0a.jpg
111                                    Hamro Bikas Bank Ltd.        HAMRO             Development Banks
112                       Harisiddhi Brick And Tiles Limited          HBT  Manufacturing And Processing
113                          Hathway Finance Company Limited         HATH                       Finance  http://www.nepalstock.com/uploads/images/company/3f6645782d22873ad9193d4ab2a1d76f.jpg
114                 Himal Dolakha Hydropower Company Limited        HDHPC                   Hydro Power
115                      Himalaya Urja Bikas Company Limited        HURJA                   Hydro Power
116                                   Himalayan Bank Limited          HBL              Commercial Banks
117                             Himalayan Distillery Limited          HDL  Manufacturing And Processing
118              Himalayan Finance Limited (Bittiya Sanstha)          HFL                       Finance
119                      Himalayan General Insurance Co. Ltd          HGI            Non Life Insurance
120                             Himalayan Power Partner Ltd.         HPPL                   Hydro Power  http://www.nepalstock.com/uploads/images/company/2637312b55a84c5e2dc0e2ed11034cb1.jpg
121  Hydorelectricity Investment and Development Company Ltd        HIDCL                    Investment  http://www.nepalstock.com/uploads/images/company/be150f8a4a7e2958407c0b7bcf3f5394.jpg
122                                     ICFC Finance Limited         ICFC                       Finance  http://www.nepalstock.com/uploads/images/company/f747f1ad1664dd61ed5afad64c87c664.jpg
123                               IME General Insurance Ltd.          IGI            Non Life Insurance
124              Infinity Laghubitta Bittiya Sanstha Limited         ILBS                  Microfinance  http://www.nepalstock.com/uploads/images/company/3f315347e8bc4695dcaf7fbf69c83386.png
125                                      Janaki Finance Ltd.          JFL                       Finance
126                                   Janata Bank Nepal Ltd.         JBNL              Commercial Banks  http://www.nepalstock.com/uploads/images/company/8fc39fb4f475f6c2f567ee1892c32846.jpg
127          Janautthan Samudayic Laghubitta Bikas Bank Ltd.        JSLBB                  Microfinance
128               Jeevan Bikas Laghubitta Bittya Sanstha Ltd         JBLB                  Microfinance
129                 Joshi Hydropower Development Company Ltd        JOSHI                   Hydro Power
130                                 Jyoti Bikas Bank Limited         JBBL             Development Banks  http://www.nepalstock.com/uploads/images/company/fe89014663a5e5390fe682fc2267a8ed.gif
131                              Jyoti Bikash Bank Bond 2087       JBBD87           Corporate Debenture
132                     Jyoti Life Insurance Company Limited          JLI                Life Insurance  http://www.nepalstock.com/uploads/images/company/38ff17bc7274f88405a5081203f59d30.PNG
133                              Jyoti Sinning Mills Limited          JSM  Manufacturing And Processing
134                    Kalika Laghubitta Bittiya Sanstha Ltd        KMCDB                  Microfinance  http://www.nepalstock.com/uploads/images/company/4e9eec69e9f4dd837d39bb0c8281bda8.png
135                                 Kalika power Company Ltd         KPCL                   Hydro Power
136                           Kamana Sewa Bikas Bank Limited        KSBBL             Development Banks  http://www.nepalstock.com/uploads/images/company/a3687d8755dd298186ee2166af6bf26f.png
137                                   Kankai Bikas Bank Ltd.         KNBL             Development Banks  http://www.nepalstock.com/uploads/images/company/623209bd528e69da059944ebc1f8a0ad.jpg
138                         Karnali Development Bank Limited         KRBL             Development Banks
139                           Khanikhola Hydropower Co. Ltd.         KKHC                   Hydro Power
140                  Kisan Lagubitta Bittiya Sanstha Limited        KLBSL                  Microfinance  http://www.nepalstock.com/uploads/images/company/bcc6a6cd6e47aee7df25143ef8ddf2f4.jpg
141                                      Kumari Bank Limited          KBL              Commercial Banks  http://www.nepalstock.com/uploads/images/company/708c163b4794976852f1c9f395715e73.jpg
142                                       Kumari Equity Fund          KEF                   Mutual Fund
143                                    Lalitpur Finance Ltd.          LFC                       Finance
144                                       Laxmi Bank Limited          LBL              Commercial Banks
145                                        Laxmi Equity Fund         LEMF                   Mutual Fund
146                    Laxmi Laghubitta Bittiya Sanstha Ltd.         LLBS                  Microfinance  http://www.nepalstock.com/uploads/images/company/9559892f077e7ea9b20c5ea15f4abac8.jpg
147                                        Laxmi Unnati Kosh          LUK                   Mutual Fund
148                           Liberty Energy Company Limited          LEC                   Hydro Power
149                                 Life Insurance Co. Nepal         LICN                Life Insurance  http://www.nepalstock.com/uploads/images/company/83917bbb242bc81141b13e91b4beb037.jpg
150                                  Lumbini Bikas Bank Ltd.         LBBL             Development Banks
151                       Lumbini General Insurance Co. Ltd.         LGIL            Non Life Insurance  http://www.nepalstock.com/uploads/images/company/1ddb1165cc33cadd90e4726f0166c83b.jpg

In [28]:
df.shape

(326, 4)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      326 non-null    object
 1   symbol    326 non-null    object
 2   category  326 non-null    object
 3   logo      326 non-null    object
dtypes: object(4)
memory usage: 10.3+ KB

#  __➩➩➥__ __Read CSV Files__  -  [ Working with CSV files ]
#### _A simple way to store big data sets is to use CSV files (comma separated files)._
#### _CSV files contains plain text and is a well know format that can be read by everyone including Pandas._

In [20]:
import pandas as pd       # time to load some predefined data

df = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')
df

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1
...,...,...,...,...,...,...,...,...,...,...,...
294,295.0,19,Male,159.8,84.9,33.2,No,NaN,Poor,1.0,7.1
295,296.0,18,Other,163.5,93.1,34.8,No,3-5 times/week,Good,8.0,5.7
296,297.0,65,Male,172.8,87.7,29.4,No,NaN,Average,9.0,5.0
297,298.0,29,Other,175.1,70.2,22.9,No,1-2 times/week,Good,10.0,7.9
298,299.0,22,Other,162.4,79.3,30.1,No,Daily,Average,9.0,4.9

#### _If you have a large DataFrame with many rows , Pandas will only return the first 5 rows , and the last 5 rows :_

## ➩ __to_string()__
#### ___DataFrame.to_string()__ function in Pandas is specifically designed to render a DataFrame into a console-friendly tabular format as a string output._

In [30]:
import pandas as pd                                   
df = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')
df.to_string
df

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1
...,...,...,...,...,...,...,...,...,...,...,...
294,295.0,19,Male,159.8,84.9,33.2,No,NaN,Poor,1.0,7.1
295,296.0,18,Other,163.5,93.1,34.8,No,3-5 times/week,Good,8.0,5.7
296,297.0,65,Male,172.8,87.7,29.4,No,NaN,Average,9.0,5.0
297,298.0,29,Other,175.1,70.2,22.9,No,1-2 times/week,Good,10.0,7.9
298,299.0,22,Other,162.4,79.3,30.1,No,Daily,Average,9.0,4.9

In [23]:
df.shape

(299, 11)

## ➩ Viewing the Data using ' head() and tail() ' Methods
#### _One of the most used method for getting a quick overview of the DataFrame, is the __head()__ method._

In [31]:
 import pandas as pd                    # top 3 rows 
df = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')
df.head(3)

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8

In [32]:
                       # top 7 rows
df.head(7)

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1
5,6.0,25,Female,167.7,62.0,22.0,No,Daily,Good,1.0,5.8
6,7.0,38,Other,152.5,88.0,37.8,No,1-2 times/week,Good,2.0,5.8

#### _If the number of rows is not specified, the __head() method__ will return the __top 5 rows__.__⮯___

In [33]:
df.head()

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1

## ➩ tail() method
#### _The __tail()__ returns the headers and a specified number of rows, starting from the bottom._

In [34]:
import pandas as pd                         # bottom 5 rows  

df = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')                     
df.tail()

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
294,295.0,19,Male,159.8,84.9,33.2,No,NaN,Poor,1.0,7.1
295,296.0,18,Other,163.5,93.1,34.8,No,3-5 times/week,Good,8.0,5.7
296,297.0,65,Male,172.8,87.7,29.4,No,NaN,Average,9.0,5.0
297,298.0,29,Other,175.1,70.2,22.9,No,1-2 times/week,Good,10.0,7.9
298,299.0,22,Other,162.4,79.3,30.1,No,Daily,Average,9.0,4.9

In [35]:
             # Bottom 3 rows
df.tail(3)

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
296,297.0,65,Male,172.8,87.7,29.4,No,NaN,Average,9.0,5.0
297,298.0,29,Other,175.1,70.2,22.9,No,1-2 times/week,Good,10.0,7.9
298,299.0,22,Other,162.4,79.3,30.1,No,Daily,Average,9.0,4.9

 #### _locating row at __index 246___  .   ⮯

In [36]:
           
df.loc[246]

ID               247.0
Age                 55
Gender          Female
Height           164.4
Weight            51.3
BMI               19.0
Smoker              No
Exercise         Daily
Diet              Good
Stress_Level      10.0
Sleep_Hours        6.1
Name: 246, dtype: object

#### _locating __row at index 246__ and __Column 'ID'___ .  ⮯

In [37]:

df.loc[246]['ID']

247.0

#### _Replacing values in Exercise column and row 3_ ⮯

In [38]:
df.loc[3, 'Exercise'] = 45
df.to_string
df.head(5)

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,45,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1

#### ___DataFrame.to_string()__ function in Pandas is specifically designed to render a DataFrame into a console-friendly tabular format as a string output._

### __Accesing a column__ ⮯

In [30]:

df['Diet']

0           Poor
1           Good
2      Excellent
3      Excellent
4      Excellent
         ...
294         Poor
295         Good
296      Average
297         Good
298      Average
Name: Diet, Length: 299, dtype: object

####  _how to display all the __unique values___ ⮯

In [31]:

df['BMI'].unique()

array([11.8, 24.7, 27.3, 26.3, 24.1, 22. , 37.8, 23.8, 13.2, 29.5, 26.8,
       21.6, 22.4, 23.9, 27.1, 30.2, 25.9, 30.9, 23.5, 15.9, 32.9, 18.4,
       27.8, 29.3, 26.2, 31.9, 49.8, 24.5, 20.4, 13.1, 22.7, 40.4, 29.6,
       41.1, 23.6, 17.6, 36.2, 37. , 33.1, 33. , 16.8, 25. , 24.9, 18. ,
       25.3, 22.3, 26.4, 24.3, 19.9, 27.5, 37.9, 24.8, 16.9, 17.8, 31.3,
        nan, 17.5, 35.2, 28. , 19.3, 35.6, 44. , 33.4, 27.6, 36.8, 34.6,
       27. , 26. , 35.4, 24.4, 28.9, 24. , 30.8, 19.4, 18.6, 40.5, 21.8,
       38.5, 20.1, 22.2, 30.1, 18.1, 25.5, 23.7, 33.5, 26.7, 26.6, 27.9,
       30. , 24.6, 31.6, 20.7, 36.9, 20.9, 34.1, 33.9, 32.3, 19.7, 23.4,
       23.2, 36.5, 22.6, 28.6, 19. , 21.4, 26.5, 32.1, 16.6, 14.8, 20.3,
       21.2, 15.5, 32.2, 21.3, 32.4, 18.2, 19.5, 33.8, 22.8, 30.5, 13.8,
       21.7, 17.7, 29. , 28.7, 39.1, 29.4, 27.4, 14.7, 35.7, 16.1, 21.9,
       38.3, 28.5, 18.8, 20.2, 29.8, 29.2, 23. , 25.4, 27.7, 30.6, 22.9,
       26.1, 17.9, 25.6, 28.2, 32.6, 20. , 16. , 10.5, 35.1, 18.9, 26.9,
       24.2, 32.7, 27.2, 28.8, 37.4, 28.3, 34. , 25.1, 34.2, 32. , 21.1,
       19.8, 33.2, 34.8])

In [39]:

df['Exercise'].unique()

array([nan, '1-2 times/week', 'Daily', 45, '3-5 times/week', ' '],
      dtype=object)

### _average user rating -- [ mean ]_ ⮯

In [40]:

df['BMI'].mean()

26.1503355704698

### _most common user rating -- [ mode ]_  ⮯

In [41]:

df['BMI'].mode()

0    18.6
1    22.3
2    27.3
3    30.0
4    31.9
Name: BMI, dtype: float64

## ➩ Info About the Data
##### _The DataFrames object has a method called __info()__ , that gives you more information about the data set._

In [43]:
import pandas as pd   
df = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')                     
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            294 non-null    float64
 1   Age           299 non-null    int64
 2   Gender        290 non-null    object
 3   Height        293 non-null    float64
 4   Weight        294 non-null    float64
 5   BMI           298 non-null    float64
 6   Smoker        298 non-null    object
 7   Exercise      219 non-null    object
 8   Diet          296 non-null    object
 9   Stress_Level  297 non-null    float64
 10  Sleep_Hours   296 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 25.8+ KB

## ➩ Columns in pandas DataFrame
#### _using the __df.columns__ attribute of a __DataFrame__ ,  we will get all the column names_.

In [44]:
import pandas as pd  

df = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')                     
df.columns

Index(['ID', 'Age', 'Gender', 'Height', 'Weight', 'BMI', 'Smoker', 'Exercise',
       'Diet', 'Stress_Level', 'Sleep_Hours'],
      dtype='object')

In [46]:
# TO Check a specific column 

if 'Age' in df.columns:
    print("Column 'Age' exists.")
else:
    print("Column 'Age' does not exist.")

Column 'Age' exists.

## ➩ The __describe()__ method returns description of the data in the DataFrame.
#### _If the DataFrame contains numerical data, the description contains these information for each column:_

In [47]:
df.describe()

,ID,Age,Height,Weight,BMI,Stress_Level,Sleep_Hours
count,294.000000,299.000000,293.000000,294.000000,298.000000,297.000000,296.000000
mean,150.952381,43.284281,165.495563,70.727551,26.150336,5.878788,6.946622
std,86.518820,15.339867,10.129596,14.470125,6.287893,2.843696,1.510749
min,1.000000,18.000000,136.500000,29.000000,10.500000,1.000000,2.100000
25%,76.250000,30.000000,158.800000,61.750000,22.000000,3.000000,5.875000
50%,151.500000,43.000000,165.400000,70.750000,25.450000,6.000000,6.900000
75%,225.750000,56.000000,172.500000,80.300000,30.000000,8.000000,8.000000
max,299.000000,69.000000,195.900000,118.200000,49.800000,10.000000,10.700000

In [48]:
df

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1
...,...,...,...,...,...,...,...,...,...,...,...
294,295.0,19,Male,159.8,84.9,33.2,No,NaN,Poor,1.0,7.1
295,296.0,18,Other,163.5,93.1,34.8,No,3-5 times/week,Good,8.0,5.7
296,297.0,65,Male,172.8,87.7,29.4,No,NaN,Average,9.0,5.0
297,298.0,29,Other,175.1,70.2,22.9,No,1-2 times/week,Good,10.0,7.9
298,299.0,22,Other,162.4,79.3,30.1,No,Daily,Average,9.0,4.9

## ➩ max_rows
#### _You can check your system's maximum rows with the __pd.options.display.max_rows__ statement._

In [49]:
import pandas as pd                    

pd.options.display.max_rows = 999
df = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')
print(df)

        ID  Age  Gender  Height  Weight   BMI Smoker        Exercise  \
0      1.0   56   Other   177.6    37.3  11.8    Yes             NaN
1      2.0   69   Other   169.3    70.7  24.7     No  1-2 times/week
2      3.0   46  Female   159.1    69.0  27.3     No           Daily
3      4.0   32    Male   170.6    76.4  26.3     No  3-5 times/week
4      5.0   60    Male   158.4    60.4  24.1     No  3-5 times/week
5      6.0   25  Female   167.7    62.0  22.0     No           Daily
6      7.0   38   Other   152.5    88.0  37.8     No  1-2 times/week
7      8.0   56    Male   165.3    65.0  23.8     No           Daily
8      9.0   36    Male   176.9    41.3  13.2     No           Daily
9     10.0   40   Other   162.0    77.4  29.5    Yes  1-2 times/week
10    11.0   28   Other   175.9    82.9  26.8    Yes  1-2 times/week
11    12.0   28    Male   195.9    82.8  21.6     No  3-5 times/week
12     NaN   41   Other   164.7    60.8  22.4     No  3-5 times/week
13    14.0   53    Male   171.1    70.0  23.9     No  1-2 times/week
14    15.0   57     NaN   169.8    78.0  27.1     No             NaN
15    16.0   41   Other   167.3    84.5  30.2     No  3-5 times/week
16    17.0   20  Female   172.9     NaN  25.9     No  1-2 times/week
17    18.0   39   Other   162.5    81.6  30.9     No  1-2 times/week
18    19.0   19  Female   158.4    59.0  23.5    Yes             NaN
19    20.0   41   Other   149.7    35.6  15.9     No             NaN
20    21.0   61    Male   161.6    85.8  32.9    Yes  1-2 times/week
21    22.0   47    Male   174.0    55.8  18.4     No             NaN
22    23.0   55   Other   155.6    67.4  27.8     No             NaN
23    24.0   19   Other   167.5    82.1  29.3     No  3-5 times/week
24    25.0   38    Male   163.8    70.4  26.2     No  1-2 times/week
25    26.0   50   Other   158.8    80.5  31.9     No  3-5 times/week
26    27.0   29  Female   146.5   106.8  49.8     No           Daily
27    28.0   39  Female   178.6    78.3  24.5     No           Daily
28    29.0   61  Female   170.2    59.1  20.4     No  3-5 times/week
29    30.0   42  Female   191.7     NaN  13.1     No  3-5 times/week
30    31.0   66     NaN   175.8    80.2  25.9     No  1-2 times/week
31     NaN   44   Other   178.4    71.2  22.4    Yes  1-2 times/week
32    33.0   59   Other   147.5    49.3  22.7     No  1-2 times/week
33    34.0   45  Female   147.3    87.7  40.4     No           Daily
34    35.0   33   Other   165.4    80.9  29.6     No  3-5 times/week
35    36.0   32   Other   153.5    69.8  29.6     No             NaN
36    37.0   64  Female   158.2   102.8  41.1    Yes  3-5 times/week
37    38.0   68   Other   190.3    85.3  23.6    Yes             NaN
38    39.0   61   Other   176.9    55.1  17.6    Yes             NaN
39    40.0   69   Other   155.6    87.6  36.2     No  1-2 times/week
40    41.0   20  Female   141.3    73.8  37.0    Yes  3-5 times/week
41    42.0   54   Other     NaN    98.4  41.1     No             NaN
42    43.0   68    Male   159.4    84.1  33.1    Yes           Daily
43    44.0   24    Male   161.8    77.3  29.5     No  1-2 times/week
44    45.0   38  Female   152.2    76.4  33.0    Yes             NaN
45    46.0   26    Male   176.3    52.2  16.8     No  3-5 times/week
46    47.0   56  Female   157.9    62.3  25.0    Yes  3-5 times/week
47    48.0   35     NaN     NaN    73.1  24.9     No           Daily
48    49.0   21    Male   165.5    49.4  18.0    Yes  3-5 times/week
49    50.0   42    Male   174.4    77.0  25.3    Yes           Daily
50    51.0   31  Female   162.6    58.9  22.3     No             NaN
51    52.0   67  Female   155.8    64.1  26.4    Yes           Daily
52    53.0   26   Other   159.0    80.7  31.9     No             NaN
53    54.0   43  Female   159.2    61.7  24.3     No  1-2 times/week
54    55.0   19    Male   185.6    77.0  22.4     No  3-5 times/week
55    56.0   37    Male   165.8    72.2  26.3     No  1-2 times/week
56    57.0   45  Female   165.0    54.1  19.9     No           Daily
57    58.0   64  Female   173.8    83.2  27.5     No           Daily
58    59.0   24  Female   165.0    84.0  30.9     No           Daily
59    60.0   61   Other   176.2    84.8  27.3    Yes             NaN
60    61.0   25    Male   161.3    98.6  37.9     No  1-2 times/week
61    62.0   64   Other   160.3    63.8  24.8     No  1-2 times/week
62    63.0   52   Other   155.2    40.8  16.9    Yes           Daily
63    64.0   31    Male   183.5    60.1  17.8     No  3-5 times/week
64    65.0   34    Male   164.3    84.4  31.3     No  1-2 times/week
65    66.0   53  Female   153.3    68.8   NaN    Yes  3-5 times/week
66    67.0   67  Female   167.0    48.9  17.5    Yes  1-2 times/week
67    68.0   57   Other   158.5    44.7  17.8     No           Daily
68    69.0   21  Female   161.1    91.3  35.2     No           Daily
69    70.0   19  Female   168.1    79.1  28.0     No  1-2 times/week
70    71.0   23    Male   180.2    62.6  19.3     No             NaN
71    72.0   59    Male   166.0    98.2  35.6     No             NaN
72    73.0   21  Female   157.9   109.7  44.0     No  1-2 times/week
73    74.0   46    Male   160.0    85.5  33.4    Yes           Daily
74    75.0   35  Female   171.6    81.3  27.6     No  1-2 times/week
75    76.0   43    Male   145.4    77.9  36.8    Yes  3-5 times/week
76    77.0   61    Male   154.6    82.8  34.6    Yes           Daily
77    78.0   51    Male   167.1    99.4  35.6     No             NaN
78    79.0   27     NaN   147.9    55.4  25.3     No             NaN
79    80.0   53  Female   161.9    64.9  24.8     No  1-2 times/week
80    81.0   31   Other   160.2    69.3  27.0     No  3-5 times/week
81    82.0   48    Male   173.8    78.6  26.0     No           Daily
82    83.0   65  Female   162.5    93.5  35.4    Yes             NaN
83    84.0   32  Female   176.9    76.2  24.4     No             NaN
84    85.0   25    Male   165.8    79.4  28.9     No  1-2 times/week
85    86.0   31   Other   182.8    80.2  24.0     No           Daily
86    87.0   40    Male   151.1    70.3  30.8     No  1-2 times/week
87    88.0   57  Female   181.2    63.8  19.4     No  1-2 times/week
88    89.0   38   Other   160.9    71.1  27.5    Yes  1-2 times/week
89    90.0   33     NaN   179.7    60.2  18.6     No             NaN
90    91.0   62    Male   176.9    60.4  19.3     No             NaN
91    92.0   35   Other   136.5    75.5  40.5    Yes  3-5 times/week
92    93.0   64  Female   169.8    62.8  21.8    Yes           Daily
93    94.0   41  Female   175.0    97.7  31.9     No           Daily
94    95.0   43  Female   178.3    72.2  22.7     No           Daily
95    96.0   42    Male   153.2    90.4  38.5    Yes             NaN
96    97.0   62   Other   170.9    51.3  17.6     No  1-2 times/week
97    98.0   58    Male   167.0    51.8  18.6     No           Daily
98    99.0   46    Male   169.3    68.3  23.8     No  3-5 times/week
99   100.0   32    Male   175.0    84.1  27.5     No           Daily
100  101.0   62   Other   176.6    62.6  20.1     No           Daily
101  102.0   18    Male     NaN    68.5  27.3    Yes  1-2 times/week
102  103.0   42    Male   167.7    85.0  30.2     No  1-2 times/week
103  104.0   24    Male   165.4    64.2  23.5     No  1-2 times/week
104  105.0   26    Male   162.6    58.6  22.2     No  3-5 times/week
105  106.0   41  Female   163.6    80.6  30.1     No  1-2 times/week
106  107.0   18    Male   167.0    50.4  18.1     No           Daily
107  108.0   61     NaN   159.0    64.4  25.5     No  3-5 times/week
108  109.0   25    Male   173.8    71.7  23.7    Yes             NaN
109  110.0   41   Other   177.7    77.9  24.7     No
110  111.0   28  Female   156.8    82.3  33.5    Yes             NaN
111  112.0   68  Female   178.2    84.7  26.7     No             NaN
112  113.0   34  Female   156.8    65.5  26.6     No  1-2 times/week
113  114.0   25  Female   174.0    84.4  27.9     No             NaN
114  115.0   52   Other   178.2    77.6  24.4     No  1-2 times/week
115  116.0   52     NaN   164.1    80.8  30.0    Yes  3-5 times/week
116  117.0   50  Female   156.9    60.5  24.6    Yes  1-2 times/week
117  118.0   22   Other   159.1    80.0  31.6     No  1-2 times/week
118  119.0   59  Female   168.6    67.7  23.8     No  3-5 times/week
119  120.0   56    Male   184.6    70.7  20.7     No  3-5 times/week
120  121.0   58  Female   148.1    72.5  33.1    Yes           Daily
121  122.0   45   Other   166.0   101.7  36.9     No           Daily
122  123.0   24    Male   164.1    56.3  20.9     No  3-5 times/week
123  124.0   26   Other   160.4    87.8  34.1    Yes  1-2 times/week
124  125.0   25    Male   164.2    91.5  33.9    Yes             NaN
125    NaN   29    Male   159.6    82.4  32.3     No  3-5 times/week
126  127.0   51    Male   177.4    62.0  19.7     No             NaN
127  128.0   50  Female   178.4    95.4  30.0     No           Daily
128  129.0   65   Other   165.9    65.0  23.6     No           Daily
129    NaN   40   Other   163.6    80.3  30.0    Yes  3-5 times/week
130  131.0   41   Other   160.1    71.8  28.0     No  3-5 times/week
131  132.0   54    Male   165.9    64.5  23.4    Yes  1-2 times/week
132  133.0   52  Female   183.5    78.2  23.2     No           Daily
133  134.0   61    Male   164.0    98.2  36.5     No           Daily
134  135.0   57   Other   156.6    73.8  30.1     No  3-5 times/week
135  136.0   39  Female   161.0    99.7  38.5     No             NaN
136  137.0   44  Female   172.5    67.3  22.6    Yes  1-2 times/week
137  138.0   52  Female   157.8    71.2  28.6    Yes  3-5 times/week
138  139.0   18   Other   164.7    51.6  19.0     No             NaN
139  140.0   52  Female   169.7    61.6  21.4     No  1-2 times/week
140  141.0   54  Female   158.6    66.7  26.5     No             NaN
141  142.0   64    Male   147.4    65.1  30.0     No  1-2 times/week
142  143.0   31    Male   154.3    55.6  23.4    Yes  1-2 times/week
143  144.0   20  Female   156.4    58.6  24.0     No  1-2 times/week
144  145.0   18  Female     NaN    65.7  24.8     No           Daily
145  146.0   22    Male   165.4    87.8  32.1     No             NaN
146  147.0   43    Male   173.2    47.6  15.9     No           Daily
147  148.0   31    Male     NaN    38.8  16.6     No           Daily
148  149.0   56   Other   171.8    43.6  14.8     No  1-2 times/week
149  150.0   44   Other   161.3    57.3  22.0     No  3-5 times/week
150  151.0   26    Male   147.1    79.6  36.8    Yes  3-5 times/week
151  152.0   32  Female   165.1    64.7  23.7     No  3-5 times/week
152  153.0   32    Male   178.2    64.5  20.3    Yes  3-5 times/week
153  154.0   43     NaN   173.8    64.1  21.2     No             NaN
154  155.0   59  Female   164.2    41.8  15.5    NaN  3-5 times/week
155  156.0   30   Other   176.3     NaN  26.7     No             NaN
156  157.0   68  Female   166.9     NaN  32.2     No             NaN
157  158.0   49   Other   174.8    65.0  21.3     No           Daily
158  159.0   56  Female   148.4    71.3  32.4     No  1-2 times/week
159  160.0   66  Female   152.5    71.8  30.9     No           Daily
160  161.0   69  Female   172.3    54.0  18.2    Yes           Daily
161  162.0   49  Female   180.4    63.4  19.5     No             NaN
162  163.0   21   Other   169.2    96.8  33.8     No             NaN
163  164.0   47   Other   160.0    69.9  27.3     No             NaN
164  165.0   54  Female   156.5    73.4  30.0    Yes  3-5 times/week
165  166.0   40  Female   161.8    59.6  22.8     No  3-5 times/week
166  167.0   56   Other   177.1    63.6  20.3    Yes  1-2 times/week
167  168.0   62  Female   161.6    79.7  30.5     No             NaN
168    NaN   32     NaN   175.5    57.4  18.6     No           Daily
169  170.0   60  Female   171.5    94.3  32.1     No           Daily
170  171.0   46    Male   182.1    45.8  13.8     No  1-2 times/week
171  172.0   53  Female   167.0    60.5  21.7     No             NaN
172  173.0   30    Male   164.5    47.8  17.7     No  3-5 times/week
173  174.0   49  Female     NaN     NaN  29.0    Yes           Daily
174  175.0   24   Other   155.6    69.5  28.7     No             NaN
175  176.0   68    Male   160.6    65.7  25.5     No             NaN
176  177.0   39    Male   148.2    76.0  34.6     No             NaN
177  178.0   45  Female   152.5    91.0  39.1     No             NaN
178  179.0   19  Female   184.2    73.2  21.6    Yes           Daily
179  180.0   59    Male   171.9    87.1  29.5     No  3-5 times/week
180  181.0   62   Other   151.3    65.6  28.7     No             NaN
181  182.0   23   Other   176.9    55.6  17.8    Yes             NaN
182  183.0   45  Female   158.0    73.5  29.4     No           Daily
183  184.0   45   Other   171.4    59.5  20.3    Yes           Daily
184  185.0   61   Other   171.3    80.3  27.4     No  3-5 times/week
185  186.0   61  Female   181.6    63.9  19.4     No  3-5 times/week
186  187.0   37   Other   159.6    68.7  27.0     No  3-5 times/week
187  188.0   47  Female   157.6    36.4  14.7     No             NaN
188  189.0   28    Male   138.1    68.1  35.7     No           Daily
189  190.0   45  Female   163.8    66.4  24.7     No  1-2 times/week
190  191.0   42    Male   172.3    87.4  29.4     No           Daily
191  192.0   56    Male   173.6    83.1  27.6    Yes           Daily
192  193.0   50   Other   177.5    70.4  22.3    Yes           Daily
193  194.0   18   Other   167.9    45.5  16.1    Yes  1-2 times/week
194  195.0   44   Other   170.0    63.4  21.9     No  3-5 times/week
195  196.0   69  Female   165.7    87.5  31.9     No  1-2 times/week
196  197.0   30   Other   172.1    67.0  22.6     No           Daily
197  198.0   58    Male   155.7    54.0  22.3    Yes           Daily
198  199.0   20   Other   150.9    87.3  38.3    Yes             NaN
199  200.0   56   Other   156.7    45.6  18.6     No           Daily
200  201.0   23  Female   167.1    68.3  24.5    Yes  1-2 times/week
201  202.0   25  Female   152.0    78.4  33.9     No  1-2 times/week
202  203.0   44    Male   158.7    71.9  28.5     No  1-2 times/week
203  204.0   26  Female   159.0    51.4  20.3     No  3-5 times/week
204  205.0   54   Other   172.8    56.1  18.8    Yes             NaN
205  206.0   50  Female   171.6    59.5  20.2     No  3-5 times/week
206  207.0   68    Male   165.7    81.8  29.8     No  1-2 times/week
207  208.0   59   Other   169.5    72.6  25.3     No  3-5 times/week
208  209.0   61    Male   169.7    64.2  22.3     No             NaN
209  210.0   41  Female   161.4    76.1  29.2     No             NaN
210  211.0   32  Female   159.6    58.7  23.0     No             NaN
211  212.0   49    Male   180.4    81.1  24.9     No             NaN
212  213.0   49   Other   140.1    76.8  39.1     No  1-2 times/week
213  214.0   41  Female   157.6    66.6  26.8     No           Daily
214  215.0   58  Female   163.0    67.6  25.4     No  1-2 times/week
215  216.0   69   Other   170.6    64.9  22.3    Yes  1-2 times/week
216  217.0   66  Female   176.4    84.9  27.3     No  1-2 times/week
217  218.0   66    Male   183.6    73.2  21.7     No  1-2 times/week
218  219.0   69  Female   164.1    66.8  24.8    Yes  3-5 times/week
219  220.0   29  Female   164.8    55.4  20.4     No             NaN
220  221.0   56   Other   168.6    78.8  27.7    Yes           Daily
221  222.0   19    Male   159.7    78.1  30.6    Yes           Daily
222  223.0   20   Other   153.2    62.1  26.5    Yes           Daily
223  224.0   66  Female   164.0    63.7  23.7    Yes  1-2 times/week
224  225.0   54  Female   172.5    68.2  22.9    Yes             NaN
225  226.0   66   Other   162.6    52.7  19.9     No             NaN
226  227.0   34   Other   169.1    71.1  24.9     No           Daily
227  228.0   66   Other   146.3    45.3  21.2    Yes           Daily
228  229.0   19    Male   165.2    50.8  18.6     No  1-2 times/week
229  230.0   19  Female   161.0    62.4  24.1     No           Daily
230  231.0   45   Other   152.2    60.6  26.2     No  1-2 times/week
231  232.0   40  Female   171.6    76.8  26.1     No           Daily
232  233.0   54    Male   183.5    74.2  22.0    Yes             NaN
233  234.0   49    Male   174.9    90.6  29.6     No             NaN
234  235.0   50    Male   175.5    71.4  23.2     No             NaN
235  236.0   18    Male   172.1    73.1  24.7     No  3-5 times/week
236  237.0   36  Female   171.5    52.6  17.9     No           Daily
237  238.0   19    Male   147.0    52.6  24.3    Yes  3-5 times/week
238  239.0   61    Male   163.7    71.0  26.5     No             NaN
239  240.0   43   Other   170.1    71.2  24.6    Yes           Daily
240  241.0   49    Male   170.3    74.3  25.6     No  3-5 times/week
241  242.0   23   Other   177.7    89.0  28.2     No             NaN
242  243.0   49    Male   154.7    53.2  22.2     No             NaN
243  244.0   21    Male   171.1    95.3  32.6    Yes           Daily
244  245.0   28   Other   154.3    47.6  20.0     No           Daily
245  246.0   34    Male   162.9    75.6  28.5     No  1-2 times/week
246  247.0   55  Female   164.4    51.3  19.0     No           Daily
247  248.0   41  Female   173.6    80.9  26.8     No             NaN
248  249.0   22    Male   172.4    47.7  16.0     No  1-2 times/week
249  250.0   69  Female   166.2    29.0  10.5    Yes  1-2 times/week
250  251.0   51   Other   143.5    72.2  35.1     No           Daily
251  252.0   23    Male   169.4    68.1  23.7    Yes             NaN
252  253.0   39    Male   162.3    86.6  32.9    Yes  3-5 times/week
253  254.0   28   Other   178.9    71.2  22.2     No             NaN
254  255.0   65   Other   176.5    58.8  18.9     No             NaN
255  256.0   33   Other   155.6    61.9  25.6    Yes           Daily
256  257.0   50    Male   170.8   118.2  40.5     No  3-5 times/week
257  258.0   26   Other   171.0    56.9  19.5     No  1-2 times/week
258  259.0   23   Other   170.3    77.9  26.9    Yes  3-5 times/week
259  260.0   33  Female   169.0    76.0  26.6     No           Daily
260  261.0   46  Female   171.3    78.2  26.6     No             NaN
261  262.0   20    Male   180.0    77.0  23.8     No             NaN
262  263.0   37  Female   159.5    66.0  25.9     No  3-5 times/week
263  264.0   53  Female   155.9    43.6  17.9     No  3-5 times/week
264  265.0   36   Other   172.8    72.3  24.2     No           Daily
265  266.0   43   Other   146.2    69.8  32.7     No  3-5 times/week
266  267.0   20  Female   171.5    71.9  24.4     No           Daily
267  268.0   36  Female   169.8    78.5  27.2    Yes  1-2 times/week
268  269.0   37  Female   141.5    63.8  31.9     No  3-5 times/week
269  270.0   49    Male   158.6    60.7  24.1     No             NaN
270  271.0   24    Male   180.8    83.5  25.5     No  3-5 times/week
271  272.0   69    Male   150.4    65.1  28.8    Yes             NaN
272  273.0   58  Female   167.1    62.6  22.4     No  1-2 times/week
273  274.0   50  Female   155.0    61.3  25.5     No  1-2 times/week
274  275.0   57    Male   157.9    78.9  31.6     No  3-5 times/week
275  276.0   56    Male   184.2    66.9  19.7    Yes           Daily
276  277.0   35  Female   166.2   103.2  37.4     No             NaN
277  278.0   57   Other   170.2    70.9  24.5     No  1-2 times/week
278  279.0   18    Male   163.9    51.9  19.3     No  3-5 times/week
279  280.0   28  Female   149.8    63.4  28.3    Yes  1-2 times/week
280  281.0   45  Female   153.2    79.8  34.0     No  3-5 times/week
281  282.0   42   Other   176.8    61.0  19.5    Yes             NaN
282  283.0   67  Female   166.5    69.7  25.1     No  3-5 times/week
283  284.0   40  Female   157.3    84.7  34.2    Yes             NaN
284  285.0   48    Male   164.8    86.9  32.0    Yes  1-2 times/week
285  286.0   47    Male   171.6    62.1  21.1     No             NaN
286  287.0   59   Other   169.5    66.1  23.0     No             NaN
287  288.0   52   Other   157.3    71.5  28.9     No           Daily
288  289.0   24  Female   149.2    90.1  40.5     No  1-2 times/week

In [50]:
import pandas as pd                    
df = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')
df

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1
5,6.0,25,Female,167.7,62.0,22.0,No,Daily,Good,1.0,5.8
6,7.0,38,Other,152.5,88.0,37.8,No,1-2 times/week,Good,2.0,5.8
7,8.0,56,Male,165.3,65.0,23.8,No,Daily,Good,7.0,6.8
8,9.0,36,Male,176.9,41.3,13.2,No,Daily,Average,6.0,6.3
9,10.0,40,Other,162.0,77.4,29.5,Yes,1-2 times/week,Good,1.0,5.6
10,11.0,28,Other,175.9,82.9,26.8,Yes,1-2 times/week,Poor,10.0,9.7
11,12.0,28,Male,195.9,82.8,21.6,No,3-5 times/week,Average,2.0,7.7
12,NaN,41,Other,164.7,60.8,22.4,No,3-5 times/week,Poor,6.0,7.2
13,14.0,53,Male,171.1,70.0,23.9,No,1-2 times/week,Excellent,6.0,6.9
14,15.0,57,NaN,169.8,78.0,27.1,No,NaN,Average,6.0,8.0
15,16.0,41,Other,167.3,84.5,30.2,No,3-5 times/week,Average,9.0,7.8
16,17.0,20,Female,172.9,NaN,25.9,No,1-2 times/week,Average,2.0,5.4
17,18.0,39,Other,162.5,81.6,30.9,No,1-2 times/week,Poor,10.0,4.7
18,19.0,19,Female,158.4,59.0,23.5,Yes,NaN,Poor,10.0,3.6
19,20.0,41,Other,149.7,35.6,15.9,No,NaN,Excellent,9.0,9.7
20,21.0,61,Male,161.6,85.8,32.9,Yes,1-2 times/week,Good,9.0,6.3
21,22.0,47,Male,174.0,55.8,18.4,No,NaN,Poor,10.0,7.9
22,23.0,55,Other,155.6,67.4,27.8,No,NaN,NaN,9.0,7.3
23,24.0,19,Other,167.5,82.1,29.3,No,3-5 times/week,Good,NaN,8.4
24,25.0,38,Male,163.8,70.4,26.2,No,1-2 times/week,Average,3.0,6.9
25,26.0,50,Other,158.8,80.5,31.9,No,3-5 times/week,Good,10.0,NaN
26,27.0,29,Female,146.5,106.8,49.8,No,Daily,Poor,9.0,5.4
27,28.0,39,Female,178.6,78.3,24.5,No,Daily,Excellent,10.0,6.5
28,29.0,61,Female,170.2,59.1,20.4,No,3-5 times/week,Average,9.0,4.6
29,30.0,42,Female,191.7,NaN,13.1,No,3-5 times/week,Average,3.0,5.7
30,31.0,66,NaN,175.8,80.2,25.9,No,1-2 times/week,Good,4.0,5.2
31,NaN,44,Other,178.4,71.2,22.4,Yes,1-2 times/week,Good,4.0,6.5
32,33.0,59,Other,147.5,49.3,22.7,No,1-2 times/week,Poor,4.0,6.3
33,34.0,45,Female,147.3,87.7,40.4,No,Daily,Average,7.0,7.2
34,35.0,33,Other,165.4,80.9,29.6,No,3-5 times/week,Good,5.0,8.3
35,36.0,32,Other,153.5,69.8,29.6,No,NaN,Average,7.0,6.6
36,37.0,64,Female,158.2,102.8,41.1,Yes,3-5 times/week,Excellent,6.0,4.7
37,38.0,68,Other,190.3,85.3,23.6,Yes,NaN,Excellent,7.0,3.9
38,39.0,61,Other,176.9,55.1,17.6,Yes,NaN,Poor,8.0,7.2
39,40.0,69,Other,155.6,87.6,36.2,No,1-2 times/week,Average,6.0,6.0
40,41.0,20,Female,141.3,73.8,37.0,Yes,3-5 times/week,Good,9.0,6.8
41,42.0,54,Other,NaN,98.4,41.1,No,NaN,Excellent,4.0,7.5
42,43.0,68,Male,159.4,84.1,33.1,Yes,Daily,Excellent,5.0,9.2
43,44.0,24,Male,161.8,77.3,29.5,No,1-2 times/week,Poor,9.0,4.4
44,45.0,38,Female,152.2,76.4,33.0,Yes,NaN,Excellent,9.0,5.5
45,46.0,26,Male,176.3,52.2,16.8,No,3-5 times/week,Poor,2.0,6.9
46,47.0,56,Female,157.9,62.3,25.0,Yes,3-5 times/week,Average,2.0,5.3
47,48.0,35,NaN,NaN,73.1,24.9,No,Daily,Good,9.0,4.8
48,49.0,21,Male,165.5,49.4,18.0,Yes,3-5 times/week,Average,6.0,9.0
49,50.0,42,Male,174.4,77.0,25.3,Yes,Daily,Average,8.0,5.4
50,51.0,31,Female,162.6,58.9,22.3,No,NaN,Average,8.0,5.0
51,52.0,67,Female,155.8,64.1,26.4,Yes,Daily,Good,8.0,5.3
52,53.0,26,Other,159.0,80.7,31.9,No,NaN,Average,5.0,8.6
53,54.0,43,Female,159.2,61.7,24.3,No,1-2 times/week,Average,10.0,6.0
54,55.0,19,Male,185.6,77.0,22.4,No,3-5 times/week,Poor,4.0,4.9
55,56.0,37,Male,165.8,72.2,26.3,No,1-2 times/week,Poor,3.0,5.7
56,57.0,45,Female,165.0,54.1,19.9,No,Daily,Poor,4.0,6.9
57,58.0,64,Female,173.8,83.2,27.5,No,Daily,Good,8.0,8.3
58,59.0,24,Female,165.0,84.0,30.9,No,Daily,Excellent,4.0,8.2
59,60.0,61,Other,176.2,84.8,27.3,Yes,NaN,Excellent,8.0,5.8
60,61.0,25,Male,161.3,98.6,37.9,No,1-2 times/week,Average,8.0,6.2
61,62.0,64,Other,160.3,63.8,24.8,No,1-2 times/week,Excellent,1.0,10.2
62,63.0,52,Other,155.2,40.8,16.9,Yes,Daily,Average,9.0,8.5
63,64.0,31,Male,183.5,60.1,17.8,No,3-5 times/week,Poor,3.0,6.6
64,65.0,34,Male,164.3,84.4,31.3,No,1-2 times/week,Average,6.0,3.6
65,66.0,53,Female,153.3,68.8,NaN,Yes,3-5 times/week,Good,3.0,6.3
66,67.0,67,Female,167.0,48.9,17.5,Yes,1-2 times/week,Excellent,9.0,5.0
67,68.0,57,Other,158.5,44.7,17.8,No,Daily,Average,1.0,5.7
68,69.0,21,Female,161.1,91.3,35.2,No,Daily,Poor,7.0,5.6
69,70.0,19,Female,168.1,79.1,28.0,No,1-2 times/week,Good,5.0,6.7
70,71.0,23,Male,180.2,62.6,19.3,No,NaN,Average,3.0,7.1
71,72.0,59,Male,166.0,98.2,35.6,No,NaN,Average,7.0,5.9
72,73.0,21,Female,157.9,109.7,44.0,No,1-2 times/week,Average,1.0,5.1
73,74.0,46,Male,160.0,85.5,33.4,Yes,Daily,Good,6.0,6.7
74,75.0,35,Female,171.6,81.3,27.6,No,1-2 times/week,Average,7.0,6.3
75,76.0,43,Male,145.4,77.9,36.8,Yes,3-5 times/week,Poor,9.0,4.2
76,77.0,61,Male,154.6,82.8,34.6,Yes,Daily,Poor,9.0,7.9
77,78.0,51,Male,167.1,99.4,35.6,No,NaN,Poor,7.0,5.9
78,79.0,27,NaN,147.9,55.4,25.3,No,NaN,Poor,5.0,6.6
79,80.0,53,Female,161.9,64.9,24.8,No,1-2 times/week,Good,7.0,6.7
80,81.0,31,Other,160.2,69.3,27.0,No,3-5 times/week,Poor,1.0,7.0
81,82.0,48,Male,173.8,78.6,26.0,No,Daily,Poor,7.0,7.2
82,83.0,65,Female,162.5,93.5,35.4,Yes,NaN,Excellent,10.0,5.0
83,84.0,32,Female,176.9,76.2,24.4,No,NaN,Poor,4.0,7.5
84,85.0,25,Male,165.8,79.4,28.9,No,1-2 times/week,Good,2.0,6.5
85,86.0,31,Other,182.8,80.2,24.0,No,Daily,Excellent,6.0,8.6
86,87.0,40,Male,151.1,70.3,30.8,No,1-2 times/week,Excellent,7.0,8.2
87,88.0,57,Female,181.2,63.8,19.4,No,1-2 times/week,Good,7.0,9.0
88,89.0,38,Other,160.9,71.1,27.5,Yes,1-2 times/week,Excellent,8.0,5.6
89,90.0,33,NaN,179.7,60.2,18.6,No,NaN,Average,5.0,8.9
90,91.0,62,Male,176.9,60.4,19.3,No,NaN,Poor,10.0,7.1
91,92.0,35,Other,136.5,75.5,40.5,Yes,3-5 times/week,Average,10.0,8.0
92,93.0,64,Female,169.8,62.8,21.8,Yes,Daily,Good,8.0,8.0
93,94.0,41,Female,175.0,97.7,31.9,No,Daily,Average,4.0,7.7
94,95.0,43,Female,178.3,72.2,22.7,No,Daily,Good,10.0,5.4
95,96.0,42,Male,153.2,90.4,38.5,Yes,NaN,Average,1.0,8.4
96,97.0,62,Other,170.9,51.3,17.6,No,1-2 times/week,Poor,8.0,7.5
97,98.0,58,Male,167.0,51.8,18.6,No,Daily,Good,4.0,4.8
98,99.0,46,Male,169.3,68.3,23.8,No,3-5 times/week,Good,5.0,6.3
99,100.0,32,Male,175.0,84.1,27.5,No,Daily,Good,4.0,5.2
100,101.0,62,Other,176.6,62.6,20.1,No,Daily,Excellent,7.0,4.9
101,102.0,18,Male,NaN,68.5,27.3,Yes,1-2 times/week,Poor,10.0,8.3
102,103.0,42,Male,167.7,85.0,30.2,No,1-2 times/week,Excellent,3.0,4.8
103,104.0,24,Male,165.4,64.2,23.5,No,1-2 times/week,NaN,2.0,5.0
104,105.0,26,Male,162.6,58.6,22.2,No,3-5 times/week,Poor,10.0,10.0
105,106.0,41,Female,163.6,80.6,30.1,No,1-2 times/week,Good,2.0,6.3
106,107.0,18,Male,167.0,50.4,18.1,No,Daily,Excellent,7.0,8.0
107,108.0,61,NaN,159.0,64.4,25.5,No,3-5 times/week,Excellent,10.0,8.7
108,109.0,25,Male,173.8,71.7,23.7,Yes,NaN,Good,6.0,8.2
109,110.0,41,Other,177.7,77.9,24.7,No,,Poor,2.0,7.2
110,111.0,28,Female,156.8,82.3,33.5,Yes,NaN,Poor,8.0,6.9
111,112.0,68,Female,178.2,84.7,26.7,No,NaN,Poor,6.0,7.8
112,113.0,34,Female,156.8,65.5,26.6,No,1-2 times/week,Excellent,8.0,6.7
113,114.0,25,Female,174.0,84.4,27.9,No,NaN,Poor,6.0,8.0
114,115.0,52,Other,178.2,77.6,24.4,No,1-2 times/week,Poor,4.0,6.6
115,116.0,52,NaN,164.1,80.8,30.0,Yes,3-5 times/week,Excellent,8.0,6.8
116,117.0,50,Female,156.9,60.5,24.6,Yes,1-2 times/week,Poor,4.0,9.8
117,118.0,22,Other,159.1,80.0,31.6,No,1-2 times/week,Average,6.0,6.3
118,119.0,59,Female,168.6,67.7,23.8,No,3-5 times/week,Poor,5.0,7.0
119,120.0,56,Male,184.6,70.7,20.7,No,3-5 times/week,Poor,4.0,7.6
120,121.0,58,Female,148.1,72.5,33.1,Yes,Daily,NaN,7.0,7.7
121,122.0,45,Other,166.0,101.7,36.9,No,Daily,Excellent,8.0,7.4
122,123.0,24,Male,164.1,56.3,20.9,No,3-5 times/week,Good,6.0,5.1
123,124.0,26,Other,160.4,87.8,34.1,Yes,1-2 times/week,Average,1.0,7.2
124,125.0,25,Male,164.2,91.5,33.9,Yes,NaN,Poor,7.0,7.4
125,NaN,29,Male,159.6,82.4,32.3,No,3-5 times/week,Good,4.0,8.7
126,127.0,51,Male,177.4,62.0,19.7,No,NaN,Good,2.0,8.1
127,128.0,50,Female,178.4,95.4,30.0,No,Daily,Average,3.0,8.8
128,129.0,65,Other,165.9,65.0,23.6,No,Daily,Poor,10.0,5.5
129,NaN,40,Other,163.6,80.3,30.0,Yes,3-5 times/week,Good,4.0,5.5
130,131.0,41,Other,160.1,71.8,28.0,No,3-5 times/week,Poor,7.0,7.5
131,132.0,54,Male,165.9,64.5,23.4,Yes,1-2 times/week,Average,9.0,8.7
132,133.0,52,Female,183.5,78.2,23.2,No,Daily,Average,10.0,NaN
133,134.0,61,Male,164.0,98.2,36.5,No,Daily,Poor,6.0,5.9
134,135.0,57,Other,156.6,73.8,30.1,No,3-5 times/week,Average,10.0,4.6
135,136.0,39,Female,161.0,99.7,38.5,No,NaN,Excellent,5.0,7.5
136,137.0,44,Female,172.5,67.3,22.6,Yes,1-2 times/week,Good,9.0,6.8
137,138.0,52,Female,157.8,71.2,28.6,Yes,3-5 times/week,Excellent,8.0,6.3
138,139.0,18,Other,164.7,51.6,19.0,No,NaN,Excellent,8.0,8.4
139,140.0,52,Female,169.7,61.6,21.4,No,1-2 times/week,Average,8.0,6.9
140,141.0,54,Female,158.6,66.7,26.5,No,NaN,Average,8.0,7.0
141,142.0,64,Male,147.4,65.1,30.0,No,1-2 times/week,Poor,8.0,8.3
142,143.0,31,Male,154.3,55.6,23.4,Yes,1-2 times/week,Excellent,NaN,10.3
143,144.0,20,Female,156.4,58.6,24.0,No,1-2 times/week,Good,10.0,6.3
144,145.0,18,Female,NaN,65.7,24.8,No,Daily,Poor,7.0,5.7
145,146.0,22,Male,165.4,87.8,32.1,No,NaN,Poor,2.0,5.5
146,147.0,43,Male,173.2,47.6,15.9,No,Daily,Poor,2.0,7.7
147,148.0,31,Male,NaN,38.8,16.6,No,Daily,Average,5.0,5.4
148,149.0,56,Other,171.8,43.6,14.8,No,1-2 times/week,Average,6.0,NaN
149,150.0,44,Other,161.3,57.3,22.0,No,3-5 times/week,Poor,9.0,6.6
150,151.0,26,Male,147.1,79.6,36.8,Yes,3-5 times/week,Average,1.0,9.3
151,152.0,32,Female,165.1,64.7,23.7,No,3-5 times/week,Average,7.0,8.8
152,153.0,32,Male,178.2,64.5,20.3,Yes,3-5 times/week,Poor,7.0,4.7
153,154.0,43,NaN,173.8,64.1,21.2,No,NaN,Good,8.0,9.4
154,155.0,59,Female,164.2,41.8,15.5,NaN,3-5 times/week,Good,1.0,5.2
155,156.0,30,Other,176.3,NaN,26.7,No,NaN,Average,10.0,7.2
156,157.0,68,Female,166.9,NaN,32.2,No,NaN,Good,4.0,5.7
157,158.0,49,Other,174.8,65.0,21.3,No,Daily,Good,10.0,6.4
158,159.0,56,Female,148.4,71.3,32.4,No,1-2 times/week,Average,5.0,5.5
159,160.0,66,Female,152.5,71.8,30.9,No,Daily,Good,2.0,9.5
160,161.0,69,Female,172.3,54.0,18.2,Yes,Daily,Average,2.0,6.8
161,162.0,49,Female,180.4,63.4,19.5,No,NaN,Excellent,4.0,7.3
162,163.0,21,Other,169.2,96.8,33.8,No,NaN,Poor,3.0,5.4
163,164.0,47,Other,160.0,69.9,27.3,No,NaN,Good,7.0,4.9
164,165.0,54,Female,156.5,73.4,30.0,Yes,3-5 times/week,Poor,7.0,6.3
165,166.0,40,Female,161.8,59.6,22.8,No,3-5 times/week,Poor,2.0,7.8
166,167.0,56,Other,177.1,63.6,20.3,Yes,1-2 times/week,Average,5.0,6.8
167,168.0,62,Female,161.6,79.7,30.5,No,NaN,Good,5.0,8.5
168,NaN,32,NaN,175.5,57.4,18.6,No,Daily,Good,8.0,7.2
169,170.0,60,Female,171.5,94.3,32.1,No,Daily,Excellent,8.0,7.0
170,171.0,46,Male,182.1,45.8,13.8,No,1-2 times/week,Good,4.0,7.8
171,172.0,53,Female,167.0,60.5,21.7,No,NaN,Good,10.0,7.2
172,173.0,30,Male,164.5,47.8,17.7,No,3-5 times/week,Average,1.0,8.4
173,174.0,49,Female,NaN,NaN,29.0,Yes,Daily,Poor,6.0,7.8
174,175.0,24,Other,155.6,69.5,28.7,No,NaN,Excellent,7.0,8.4
175,176.0,68,Male,160.6,65.7,25.5,No,NaN,Good,1.0,8.1
176,177.0,39,Male,148.2,76.0,34.6,No,NaN,Good,8.0,9.0
177,178.0,45,Female,152.5,91.0,39.1,No,NaN,Excellent,9.0,8.2
178,179.0,19,Female,184.2,73.2,21.6,Yes,Daily,Average,8.0,9.6
179,180.0,59,Male,171.9,87.1,29.5,No,3-5 times/week,Good,3.0,6.2
180,181.0,62,Other,151.3,65.6,28.7,No,NaN,Good,9.0,8.3
181,182.0,23,Other,176.9,55.6,17.8,Yes,NaN,Excellent,10.0,4.9
182,183.0,45,Female,158.0,73.5,29.4,No,Daily,Poor,3.0,8.4
183,184.0,45,Other,171.4,59.5,20.3,Yes,Daily,Good,4.0,7.1
184,185.0,61,Other,171.3,80.3,27.4,No,3-5 times/week,Good,6.0,8.4
185,186.0,61,Female,181.6,63.9,19.4,No,3-5 times/week,Poor,7.0,9.5
186,187.0,37,Other,159.6,68.7,27.0,No,3-5 times/week,Good,8.0,8.2
187,188.0,47,Female,157.6,36.4,14.7,No,NaN,Poor,7.0,6.4
188,189.0,28,Male,138.1,68.1,35.7,No,Daily,Average,3.0,5.4
189,190.0,45,Female,163.8,66.4,24.7,No,1-2 times/week,Poor,2.0,7.8
190,191.0,42,Male,172.3,87.4,29.4,No,Daily,Poor,2.0,6.6
191,192.0,56,Male,173.6,83.1,27.6,Yes,Daily,Good,9.0,8.0
192,193.0,50,Other,177.5,70.4,22.3,Yes,Daily,Good,7.0,6.2
193,194.0,18,Other,167.9,45.5,16.1,Yes,1-2 times/week,Excellent,7.0,5.6
194,195.0,44,Other,170.0,63.4,21.9,No,3-5 times/week,Good,5.0,6.6
195,196.0,69,Female,165.7,87.5,31.9,No,1-2 times/week,Good,6.0,7.8
196,197.0,30,Other,172.1,67.0,22.6,No,Daily,Poor,7.0,7.2
197,198.0,58,Male,155.7,54.0,22.3,Yes,Daily,Average,9.0,5.8
198,199.0,20,Other,150.9,87.3,38.3,Yes,NaN,Good,10.0,9.7
199,200.0,56,Other,156.7,45.6,18.6,No,Daily,Poor,4.0,6.8
200,201.0,23,Female,167.1,68.3,24.5,Yes,1-2 times/week,Excellent,6.0,3.6
201,202.0,25,Female,152.0,78.4,33.9,No,1-2 times/week,Excellent,1.0,8.4
202,203.0,44,Male,158.7,71.9,28.5,No,1-2 times/week,Average,7.0,7.0
203,204.0,26,Female,159.0,51.4,20.3,No,3-5 times/week,Average,4.0,6.7
204,205.0,54,Other,172.8,56.1,18.8,Yes,NaN,Average,2.0,6.7
205,206.0,50,Female,171.6,59.5,20.2,No,3-5 times/week,Poor,4.0,6.7
206,207.0,68,Male,165.7,81.8,29.8,No,1-2 times/week,Good,8.0,9.5
207,208.0,59,Other,169.5,72.6,25.3,No,3-5 times/week,Poor,2.0,7.7
208,209.0,61,Male,169.7,64.2,22.3,No,NaN,Excellent,1.0,7.4
209,210.0,41,Female,161.4,76.1,29.2,No,NaN,Excellent,1.0,6.6
210,211.0,32,Female,159.6,58.7,23.0,No,NaN,Good,7.0,9.6
211,212.0,49,Male,180.4,81.1,24.9,No,NaN,Average,7.0,8.3
212,213.0,49,Other,140.1,76.8,39.1,No,1-2 times/week,Excellent,4.0,8.5
213,214.0,41,Female,157.6,66.6,26.8,No,Daily,Average,5.0,7.4
214,215.0,58,Female,163.0,67.6,25.4,No,1-2 times/week,Poor,5.0,8.5
215,216.0,69,Other,170.6,64.9,22.3,Yes,1-2 times/week,Average,7.0,7.6
216,217.0,66,Female,176.4,84.9,27.3,No,1-2 times/week,Poor,3.0,6.4
217,218.0,66,Male,183.6,73.2,21.7,No,1-2 times/week,Good,5.0,7.6
218,219.0,69,Female,164.1,66.8,24.8,Yes,3-5 times/week,Average,7.0,10.1
219,220.0,29,Female,164.8,55.4,20.4,No,NaN,Good,7.0,7.3
220,221.0,56,Other,168.6,78.8,27.7,Yes,Daily,Average,9.0,8.9
221,222.0,19,Male,159.7,78.1,30.6,Yes,Daily,Excellent,4.0,8.8
222,223.0,20,Other,153.2,62.1,26.5,Yes,Daily,Good,1.0,7.8
223,224.0,66,Female,164.0,63.7,23.7,Yes,1-2 times/week,Average,5.0,9.5
224,225.0,54,Female,172.5,68.2,22.9,Yes,NaN,Good,4.0,3.7
225,226.0,66,Other,162.6,52.7,19.9,No,NaN,Average,3.0,4.2
226,227.0,34,Other,169.1,71.1,24.9,No,Daily,Poor,7.0,9.6
227,228.0,66,Other,146.3,45.3,21.2,Yes,Daily,Good,9.0,6.0
228,229.0,19,Male,165.2,50.8,18.6,No,1-2 times/week,Excellent,4.0,7.2
229,230.0,19,Female,161.0,62.4,24.1,No,Daily,Good,6.0,9.6
230,231.0,45,Other,152.2,60.6,26.2,No,1-2 times/week,Poor,1.0,7.3
231,232.0,40,Female,171.6,76.8,26.1,No,Daily,Poor,1.0,9.5
232,233.0,54,Male,183.5,74.2,22.0,Yes,NaN,Excellent,3.0,6.4
233,234.0,49,Male,174.9,90.6,29.6,No,NaN,Poor,5.0,7.9
234,235.0,50,Male,175.5,71.4,23.2,No,NaN,Excellent,6.0,7.1
235,236.0,18,Male,172.1,73.1,24.7,No,3-5 times/week,Average,9.0,9.2
236,237.0,36,Female,171.5,52.6,17.9,No,Daily,Poor,9.0,6.6
237,238.0,19,Male,147.0,52.6,24.3,Yes,3-5 times/week,Average,10.0,5.6
238,239.0,61,Male,163.7,71.0,26.5,No,NaN,Average,1.0,6.3
239,240.0,43,Other,170.1,71.2,24.6,Yes,Daily,Poor,2.0,6.4
240,241.0,49,Male,170.3,74.3,25.6,No,3-5 times/week,Excellent,8.0,6.0
241,242.0,23,Other,177.7,89.0,28.2,No,NaN,Excellent,5.0,6.0
242,243.0,49,Male,154.7,53.2,22.2,No,NaN,Excellent,3.0,8.7
243,244.0,21,Male,171.1,95.3,32.6,Yes,Daily,Poor,9.0,9.1
244,245.0,28,Other,154.3,47.6,20.0,No,Daily,Average,2.0,7.6
245,246.0,34,Male,162.9,75.6,28.5,No,1-2 times/week,Good,7.0,6.0
246,247.0,55,Female,164.4,51.3,19.0,No,Daily,Good,10.0,6.1
247,248.0,41,Female,173.6,80.9,26.8,No,NaN,Poor,8.0,3.9
248,249.0,22,Male,172.4,47.7,16.0,No,1-2 times/week,Good,2.0,7.6
249,250.0,69,Female,166.2,29.0,10.5,Yes,1-2 times/week,Average,1.0,6.0
250,251.0,51,Other,143.5,72.2,35.1,No,Daily,Good,3.0,9.2
251,252.0,23,Male,169.4,68.1,23.7,Yes,NaN,Excellent,8.0,4.9
252,253.0,39,Male,162.3,86.6,32.9,Yes,3-5 times/week,Average,4.0,6.1
253,254.0,28,Other,178.9,71.2,22.2,No,NaN,Poor,5.0,6.9
254,255.0,65,Other,176.5,58.8,18.9,No,NaN,Poor,9.0,7.7
255,256.0,33,Other,155.6,61.9,25.6,Yes,Daily,Excellent,4.0,9.7
256,257.0,50,Male,170.8,118.2,40.5,No,3-5 times/week,Good,9.0,4.9
257,258.0,26,Other,171.0,56.9,19.5,No,1-2 times/week,Poor,6.0,6.5
258,259.0,23,Other,170.3,77.9,26.9,Yes,3-5 times/week,Poor,7.0,4.9
259,260.0,33,Female,169.0,76.0,26.6,No,Daily,Average,8.0,8.2
260,261.0,46,Female,171.3,78.2,26.6,No,NaN,Average,10.0,6.0
261,262.0,20,Male,180.0,77.0,23.8,No,NaN,Average,10.0,6.8
262,263.0,37,Female,159.5,66.0,25.9,No,3-5 times/week,Average,1.0,6.7
263,264.0,53,Female,155.9,43.6,17.9,No,3-5 times/week,Poor,9.0,7.2
264,265.0,36,Other,172.8,72.3,24.2,No,Daily,Average,2.0,6.8
265,266.0,43,Other,146.2,69.8,32.7,No,3-5 times/week,Excellent,3.0,5.5
266,267.0,20,Female,171.5,71.9,24.4,No,Daily,Excellent,1.0,7.1
267,268.0,36,Female,169.8,78.5,27.2,Yes,1-2 times/week,Average,10.0,5.8
268,269.0,37,Female,141.5,63.8,31.9,No,3-5 times/week,Average,3.0,8.2
269,270.0,49,Male,158.6,60.7,24.1,No,NaN,Good,2.0,7.1
270,271.0,24,Male,180.8,83.5,25.5,No,3-5 times/week,Average,7.0,5.4
271,272.0,69,Male,150.4,65.1,28.8,Yes,NaN,Poor,7.0,10.6
272,273.0,58,Female,167.1,62.6,22.4,No,1-2 times/week,Excellent,6.0,9.5
273,274.0,50,Female,155.0,61.3,25.5,No,1-2 times/week,Excellent,10.0,10.7
274,275.0,57,Male,157.9,78.9,31.6,No,3-5 times/week,Poor,4.0,6.5
275,276.0,56,Male,184.2,66.9,19.7,Yes,Daily,Average,3.0,5.7
276,277.0,35,Female,166.2,103.2,37.4,No,NaN,Good,7.0,8.2
277,278.0,57,Other,170.2,70.9,24.5,No,1-2 times/week,Excellent,3.0,8.7
278,279.0,18,Male,163.9,51.9,19.3,No,3-5 times/week,Good,9.0,7.3
279,280.0,28,Female,149.8,63.4,28.3,Yes,1-2 times/week,Excellent,10.0,3.8
280,281.0,45,Female,153.2,79.8,34.0,No,3-5 times/week,Good,8.0,5.5
281,282.0,42,Other,176.8,61.0,19.5,Yes,NaN,Excellent,7.0,7.6
282,283.0,67,Female,166.5,69.7,25.1,No,3-5 times/week,Good,2.0,6.0
283,284.0,40,Female,157.3,84.7,34.2,Yes,NaN,Average,10.0,5.0
284,285.0,48,Male,164.8,86.9,32.0,Yes,1-2 times/week,Average,3.0,6.6
285,286.0,47,Male,171.6,62.1,21.1,No,NaN,Poor,8.0,2.1
286,287.0,59,Other,169.5,66.1,23.0,No,NaN,Poor,3.0,6.1
287,288.0,52,Other,157.3,71.5,28.9,No,Daily,Good,8.0,6.4
288,289.0,24,Female,149.2,90.1,40.5,No,1-2 times/week,Good,4.0,7.5
289,290.0,33,Male,160.9,53.5,20.7,Yes,NaN,Excellent,5.0,7.8
290,291.0,43,Other,176.1,75.4,24.3,Yes,Daily,Poor,9.0,7.6
291,292.0,65,Other,173.5,70.8,23.5,No,Daily,Poor,10.0,8.3
292,293.0,69,Other,169.1,56.5,19.8,No,NaN,Excellent,2.0,6.7
293,294.0,66,Female,163.3,88.6,33.2,No,3-5 times/week,Good,3.0,4.8
294,295.0,19,Male,159.8,84.9,33.2,No,NaN,Poor,1.0,7.1
295,296.0,18,Other,163.5,93.1,34.8,No,3-5 times/week,Good,8.0,5.7
296,297.0,65,Male,172.8,87.7,29.4,No,NaN,Average,9.0,5.0
297,298.0,29,Other,175.1,70.2,22.9,No,1-2 times/week,Good,10.0,7.9
298,299.0,22,Other,162.4,79.3,30.1,No,Daily,Average,9.0,4.9

## ➩ max_cols
#### _You can check your system's maximum rows with __pd.set_option('display.max_columns')__ statement_

In [51]:
df = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')
pd.options.display.max_columns = 5
df

        ID  Age  ... Stress_Level  Sleep_Hours
0      1.0   56  ...          9.0          8.5
1      2.0   69  ...          2.0          5.9
2      3.0   46  ...          3.0          4.8
3      4.0   32  ...          9.0          6.6
4      5.0   60  ...          6.0          6.1
5      6.0   25  ...          1.0          5.8
6      7.0   38  ...          2.0          5.8
7      8.0   56  ...          7.0          6.8
8      9.0   36  ...          6.0          6.3
9     10.0   40  ...          1.0          5.6
10    11.0   28  ...         10.0          9.7
11    12.0   28  ...          2.0          7.7
12     NaN   41  ...          6.0          7.2
13    14.0   53  ...          6.0          6.9
14    15.0   57  ...          6.0          8.0
15    16.0   41  ...          9.0          7.8
16    17.0   20  ...          2.0          5.4
17    18.0   39  ...         10.0          4.7
18    19.0   19  ...         10.0          3.6
19    20.0   41  ...          9.0          9.7
20    21.0   61  ...          9.0          6.3
21    22.0   47  ...         10.0          7.9
22    23.0   55  ...          9.0          7.3
23    24.0   19  ...          NaN          8.4
24    25.0   38  ...          3.0          6.9
25    26.0   50  ...         10.0          NaN
26    27.0   29  ...          9.0          5.4
27    28.0   39  ...         10.0          6.5
28    29.0   61  ...          9.0          4.6
29    30.0   42  ...          3.0          5.7
30    31.0   66  ...          4.0          5.2
31     NaN   44  ...          4.0          6.5
32    33.0   59  ...          4.0          6.3
33    34.0   45  ...          7.0          7.2
34    35.0   33  ...          5.0          8.3
35    36.0   32  ...          7.0          6.6
36    37.0   64  ...          6.0          4.7
37    38.0   68  ...          7.0          3.9
38    39.0   61  ...          8.0          7.2
39    40.0   69  ...          6.0          6.0
40    41.0   20  ...          9.0          6.8
41    42.0   54  ...          4.0          7.5
42    43.0   68  ...          5.0          9.2
43    44.0   24  ...          9.0          4.4
44    45.0   38  ...          9.0          5.5
45    46.0   26  ...          2.0          6.9
46    47.0   56  ...          2.0          5.3
47    48.0   35  ...          9.0          4.8
48    49.0   21  ...          6.0          9.0
49    50.0   42  ...          8.0          5.4
50    51.0   31  ...          8.0          5.0
51    52.0   67  ...          8.0          5.3
52    53.0   26  ...          5.0          8.6
53    54.0   43  ...         10.0          6.0
54    55.0   19  ...          4.0          4.9
55    56.0   37  ...          3.0          5.7
56    57.0   45  ...          4.0          6.9
57    58.0   64  ...          8.0          8.3
58    59.0   24  ...          4.0          8.2
59    60.0   61  ...          8.0          5.8
60    61.0   25  ...          8.0          6.2
61    62.0   64  ...          1.0         10.2
62    63.0   52  ...          9.0          8.5
63    64.0   31  ...          3.0          6.6
64    65.0   34  ...          6.0          3.6
65    66.0   53  ...          3.0          6.3
66    67.0   67  ...          9.0          5.0
67    68.0   57  ...          1.0          5.7
68    69.0   21  ...          7.0          5.6
69    70.0   19  ...          5.0          6.7
70    71.0   23  ...          3.0          7.1
71    72.0   59  ...          7.0          5.9
72    73.0   21  ...          1.0          5.1
73    74.0   46  ...          6.0          6.7
74    75.0   35  ...          7.0          6.3
75    76.0   43  ...          9.0          4.2
76    77.0   61  ...          9.0          7.9
77    78.0   51  ...          7.0          5.9
78    79.0   27  ...          5.0          6.6
79    80.0   53  ...          7.0          6.7
80    81.0   31  ...          1.0          7.0
81    82.0   48  ...          7.0          7.2
82    83.0   65  ...         10.0          5.0
83    84.0   32  ...          4.0          7.5
84    85.0   25  ...          2.0          6.5
85    86.0   31  ...          6.0          8.6
86    87.0   40  ...          7.0          8.2
87    88.0   57  ...          7.0          9.0
88    89.0   38  ...          8.0          5.6
89    90.0   33  ...          5.0          8.9
90    91.0   62  ...         10.0          7.1
91    92.0   35  ...         10.0          8.0
92    93.0   64  ...          8.0          8.0
93    94.0   41  ...          4.0          7.7
94    95.0   43  ...         10.0          5.4
95    96.0   42  ...          1.0          8.4
96    97.0   62  ...          8.0          7.5
97    98.0   58  ...          4.0          4.8
98    99.0   46  ...          5.0          6.3
99   100.0   32  ...          4.0          5.2
100  101.0   62  ...          7.0          4.9
101  102.0   18  ...         10.0          8.3
102  103.0   42  ...          3.0          4.8
103  104.0   24  ...          2.0          5.0
104  105.0   26  ...         10.0         10.0
105  106.0   41  ...          2.0          6.3
106  107.0   18  ...          7.0          8.0
107  108.0   61  ...         10.0          8.7
108  109.0   25  ...          6.0          8.2
109  110.0   41  ...          2.0          7.2
110  111.0   28  ...          8.0          6.9
111  112.0   68  ...          6.0          7.8
112  113.0   34  ...          8.0          6.7
113  114.0   25  ...          6.0          8.0
114  115.0   52  ...          4.0          6.6
115  116.0   52  ...          8.0          6.8
116  117.0   50  ...          4.0          9.8
117  118.0   22  ...          6.0          6.3
118  119.0   59  ...          5.0          7.0
119  120.0   56  ...          4.0          7.6
120  121.0   58  ...          7.0          7.7
121  122.0   45  ...          8.0          7.4
122  123.0   24  ...          6.0          5.1
123  124.0   26  ...          1.0          7.2
124  125.0   25  ...          7.0          7.4
125    NaN   29  ...          4.0          8.7
126  127.0   51  ...          2.0          8.1
127  128.0   50  ...          3.0          8.8
128  129.0   65  ...         10.0          5.5
129    NaN   40  ...          4.0          5.5
130  131.0   41  ...          7.0          7.5
131  132.0   54  ...          9.0          8.7
132  133.0   52  ...         10.0          NaN
133  134.0   61  ...          6.0          5.9
134  135.0   57  ...         10.0          4.6
135  136.0   39  ...          5.0          7.5
136  137.0   44  ...          9.0          6.8
137  138.0   52  ...          8.0          6.3
138  139.0   18  ...          8.0          8.4
139  140.0   52  ...          8.0          6.9
140  141.0   54  ...          8.0          7.0
141  142.0   64  ...          8.0          8.3
142  143.0   31  ...          NaN         10.3
143  144.0   20  ...         10.0          6.3
144  145.0   18  ...          7.0          5.7
145  146.0   22  ...          2.0          5.5
146  147.0   43  ...          2.0          7.7
147  148.0   31  ...          5.0          5.4
148  149.0   56  ...          6.0          NaN
149  150.0   44  ...          9.0          6.6
150  151.0   26  ...          1.0          9.3
151  152.0   32  ...          7.0          8.8
152  153.0   32  ...          7.0          4.7
153  154.0   43  ...          8.0          9.4
154  155.0   59  ...          1.0          5.2
155  156.0   30  ...         10.0          7.2
156  157.0   68  ...          4.0          5.7
157  158.0   49  ...         10.0          6.4
158  159.0   56  ...          5.0          5.5
159  160.0   66  ...          2.0          9.5
160  161.0   69  ...          2.0          6.8
161  162.0   49  ...          4.0          7.3
162  163.0   21  ...          3.0          5.4
163  164.0   47  ...          7.0          4.9
164  165.0   54  ...          7.0          6.3
165  166.0   40  ...          2.0          7.8
166  167.0   56  ...          5.0          6.8
167  168.0   62  ...          5.0          8.5
168    NaN   32  ...          8.0          7.2
169  170.0   60  ...          8.0          7.0
170  171.0   46  ...          4.0          7.8
171  172.0   53  ...         10.0          7.2
172  173.0   30  ...          1.0          8.4
173  174.0   49  ...          6.0          7.8
174  175.0   24  ...          7.0          8.4
175  176.0   68  ...          1.0          8.1
176  177.0   39  ...          8.0          9.0
177  178.0   45  ...          9.0          8.2
178  179.0   19  ...          8.0          9.6
179  180.0   59  ...          3.0          6.2
180  181.0   62  ...          9.0          8.3
181  182.0   23  ...         10.0          4.9
182  183.0   45  ...          3.0          8.4
183  184.0   45  ...          4.0          7.1
184  185.0   61  ...          6.0          8.4
185  186.0   61  ...          7.0          9.5
186  187.0   37  ...          8.0          8.2
187  188.0   47  ...          7.0          6.4
188  189.0   28  ...          3.0          5.4
189  190.0   45  ...          2.0          7.8
190  191.0   42  ...          2.0          6.6
191  192.0   56  ...          9.0          8.0
192  193.0   50  ...          7.0          6.2
193  194.0   18  ...          7.0          5.6
194  195.0   44  ...          5.0          6.6
195  196.0   69  ...          6.0          7.8
196  197.0   30  ...          7.0          7.2
197  198.0   58  ...          9.0          5.8
198  199.0   20  ...         10.0          9.7
199  200.0   56  ...          4.0          6.8
200  201.0   23  ...          6.0          3.6
201  202.0   25  ...          1.0          8.4
202  203.0   44  ...          7.0          7.0
203  204.0   26  ...          4.0          6.7
204  205.0   54  ...          2.0          6.7
205  206.0   50  ...          4.0          6.7
206  207.0   68  ...          8.0          9.5
207  208.0   59  ...          2.0          7.7
208  209.0   61  ...          1.0          7.4
209  210.0   41  ...          1.0          6.6
210  211.0   32  ...          7.0          9.6
211  212.0   49  ...          7.0          8.3
212  213.0   49  ...          4.0          8.5
213  214.0   41  ...          5.0          7.4
214  215.0   58  ...          5.0          8.5
215  216.0   69  ...          7.0          7.6
216  217.0   66  ...          3.0          6.4
217  218.0   66  ...          5.0          7.6
218  219.0   69  ...          7.0         10.1
219  220.0   29  ...          7.0          7.3
220  221.0   56  ...          9.0          8.9
221  222.0   19  ...          4.0          8.8
222  223.0   20  ...          1.0          7.8
223  224.0   66  ...          5.0          9.5
224  225.0   54  ...          4.0          3.7
225  226.0   66  ...          3.0          4.2
226  227.0   34  ...          7.0          9.6
227  228.0   66  ...          9.0          6.0
228  229.0   19  ...          4.0          7.2
229  230.0   19  ...          6.0          9.6
230  231.0   45  ...          1.0          7.3
231  232.0   40  ...          1.0          9.5
232  233.0   54  ...          3.0          6.4
233  234.0   49  ...          5.0          7.9
234  235.0   50  ...          6.0          7.1
235  236.0   18  ...          9.0          9.2
236  237.0   36  ...          9.0          6.6
237  238.0   19  ...         10.0          5.6
238  239.0   61  ...          1.0          6.3
239  240.0   43  ...          2.0          6.4
240  241.0   49  ...          8.0          6.0
241  242.0   23  ...          5.0          6.0
242  243.0   49  ...          3.0          8.7
243  244.0   21  ...          9.0          9.1
244  245.0   28  ...          2.0          7.6
245  246.0   34  ...          7.0          6.0
246  247.0   55  ...         10.0          6.1
247  248.0   41  ...          8.0          3.9
248  249.0   22  ...          2.0          7.6
249  250.0   69  ...          1.0          6.0
250  251.0   51  ...          3.0          9.2
251  252.0   23  ...          8.0          4.9
252  253.0   39  ...          4.0          6.1
253  254.0   28  ...          5.0          6.9
254  255.0   65  ...          9.0          7.7
255  256.0   33  ...          4.0          9.7
256  257.0   50  ...          9.0          4.9
257  258.0   26  ...          6.0          6.5
258  259.0   23  ...          7.0          4.9
259  260.0   33  ...          8.0          8.2
260  261.0   46  ...         10.0          6.0
261  262.0   20  ...         10.0          6.8
262  263.0   37  ...          1.0          6.7
263  264.0   53  ...          9.0          7.2
264  265.0   36  ...          2.0          6.8
265  266.0   43  ...          3.0          5.5
266  267.0   20  ...          1.0          7.1
267  268.0   36  ...         10.0          5.8
268  269.0   37  ...          3.0          8.2
269  270.0   49  ...          2.0          7.1
270  271.0   24  ...          7.0          5.4
271  272.0   69  ...          7.0         10.6
272  273.0   58  ...          6.0          9.5
273  274.0   50  ...         10.0         10.7
274  275.0   57  ...          4.0          6.5
275  276.0   56  ...          3.0          5.7
276  277.0   35  ...          7.0          8.2
277  278.0   57  ...          3.0          8.7
278  279.0   18  ...          9.0          7.3
279  280.0   28  ...         10.0          3.8
280  281.0   45  ...          8.0          5.5
281  282.0   42  ...          7.0          7.6
282  283.0   67  ...          2.0          6.0
283  284.0   40  ...         10.0          5.0
284  285.0   48  ...          3.0          6.6
285  286.0   47  ...          8.0          2.1
286  287.0   59  ...          3.0          6.1
287  288.0   52  ...          8.0          6.4
288  289.0   24  ...          4.0          7.5
289  290.0   33  ...          5.0          7.8
290  291.0   43  ...          9.0          7.6
291  292.0   65  ...         10.0          8.3
292  293.0   69  ...          2.0          6.7
293  294.0   66  ...          3.0          4.8
294  295.0   19  ...          1.0          7.1
295  296.0   18  ...          8.0          5.7
296  297.0   65  ...          9.0          5.0
297  298.0   29  ...         10.0          7.9
298  299.0   22  ...          9.0          4.9

[299 rows x 11 columns]

In [52]:
df.info.max_columns = 3

AttributeError: 'method' object has no attribute 'max_columns'

# Adding & Removing

In [54]:
df.loc[150] = [302.0, 25, 'Male', 153.8, 80.6, 26.5, 'Yes' 'Daily', 'Average', 9.0, 6.5 ]

ValueError: Must have equal len keys and value when setting with an iterable

### _adding a new column with random values_

In [55]:
                    #  how to add a column
                    # we need atleast 298 values to add in a new column

import random
pages = [random.randint(200,298) for i in range(299)]

                                  # this list can be added as values of pages column
                                 # adding column
df['Pages'] = pages
df

        ID  Age  ... Sleep_Hours  Pages
0      1.0   56  ...         8.5    283
1      2.0   69  ...         5.9    264
2      3.0   46  ...         4.8    267
3      4.0   32  ...         6.6    267
4      5.0   60  ...         6.1    290
5      6.0   25  ...         5.8    262
6      7.0   38  ...         5.8    214
7      8.0   56  ...         6.8    281
8      9.0   36  ...         6.3    205
9     10.0   40  ...         5.6    222
10    11.0   28  ...         9.7    284
11    12.0   28  ...         7.7    239
12     NaN   41  ...         7.2    232
13    14.0   53  ...         6.9    270
14    15.0   57  ...         8.0    265
15    16.0   41  ...         7.8    201
16    17.0   20  ...         5.4    264
17    18.0   39  ...         4.7    257
18    19.0   19  ...         3.6    258
19    20.0   41  ...         9.7    298
20    21.0   61  ...         6.3    287
21    22.0   47  ...         7.9    249
22    23.0   55  ...         7.3    212
23    24.0   19  ...         8.4    259
24    25.0   38  ...         6.9    279
25    26.0   50  ...         NaN    285
26    27.0   29  ...         5.4    284
27    28.0   39  ...         6.5    294
28    29.0   61  ...         4.6    212
29    30.0   42  ...         5.7    223
30    31.0   66  ...         5.2    235
31     NaN   44  ...         6.5    257
32    33.0   59  ...         6.3    227
33    34.0   45  ...         7.2    208
34    35.0   33  ...         8.3    202
35    36.0   32  ...         6.6    217
36    37.0   64  ...         4.7    262
37    38.0   68  ...         3.9    200
38    39.0   61  ...         7.2    222
39    40.0   69  ...         6.0    215
40    41.0   20  ...         6.8    259
41    42.0   54  ...         7.5    223
42    43.0   68  ...         9.2    291
43    44.0   24  ...         4.4    284
44    45.0   38  ...         5.5    216
45    46.0   26  ...         6.9    244
46    47.0   56  ...         5.3    220
47    48.0   35  ...         4.8    283
48    49.0   21  ...         9.0    214
49    50.0   42  ...         5.4    277
50    51.0   31  ...         5.0    229
51    52.0   67  ...         5.3    209
52    53.0   26  ...         8.6    295
53    54.0   43  ...         6.0    225
54    55.0   19  ...         4.9    274
55    56.0   37  ...         5.7    251
56    57.0   45  ...         6.9    220
57    58.0   64  ...         8.3    220
58    59.0   24  ...         8.2    214
59    60.0   61  ...         5.8    213
60    61.0   25  ...         6.2    203
61    62.0   64  ...        10.2    260
62    63.0   52  ...         8.5    201
63    64.0   31  ...         6.6    257
64    65.0   34  ...         3.6    290
65    66.0   53  ...         6.3    290
66    67.0   67  ...         5.0    206
67    68.0   57  ...         5.7    258
68    69.0   21  ...         5.6    296
69    70.0   19  ...         6.7    267
70    71.0   23  ...         7.1    225
71    72.0   59  ...         5.9    247
72    73.0   21  ...         5.1    273
73    74.0   46  ...         6.7    271
74    75.0   35  ...         6.3    293
75    76.0   43  ...         4.2    259
76    77.0   61  ...         7.9    262
77    78.0   51  ...         5.9    296
78    79.0   27  ...         6.6    243
79    80.0   53  ...         6.7    213
80    81.0   31  ...         7.0    225
81    82.0   48  ...         7.2    235
82    83.0   65  ...         5.0    272
83    84.0   32  ...         7.5    277
84    85.0   25  ...         6.5    221
85    86.0   31  ...         8.6    241
86    87.0   40  ...         8.2    256
87    88.0   57  ...         9.0    279
88    89.0   38  ...         5.6    293
89    90.0   33  ...         8.9    257
90    91.0   62  ...         7.1    253
91    92.0   35  ...         8.0    201
92    93.0   64  ...         8.0    290
93    94.0   41  ...         7.7    209
94    95.0   43  ...         5.4    254
95    96.0   42  ...         8.4    268
96    97.0   62  ...         7.5    268
97    98.0   58  ...         4.8    259
98    99.0   46  ...         6.3    214
99   100.0   32  ...         5.2    297
100  101.0   62  ...         4.9    227
101  102.0   18  ...         8.3    218
102  103.0   42  ...         4.8    289
103  104.0   24  ...         5.0    219
104  105.0   26  ...        10.0    238
105  106.0   41  ...         6.3    288
106  107.0   18  ...         8.0    249
107  108.0   61  ...         8.7    237
108  109.0   25  ...         8.2    287
109  110.0   41  ...         7.2    210
110  111.0   28  ...         6.9    289
111  112.0   68  ...         7.8    267
112  113.0   34  ...         6.7    219
113  114.0   25  ...         8.0    218
114  115.0   52  ...         6.6    236
115  116.0   52  ...         6.8    247
116  117.0   50  ...         9.8    279
117  118.0   22  ...         6.3    202
118  119.0   59  ...         7.0    258
119  120.0   56  ...         7.6    270
120  121.0   58  ...         7.7    213
121  122.0   45  ...         7.4    287
122  123.0   24  ...         5.1    250
123  124.0   26  ...         7.2    216
124  125.0   25  ...         7.4    255
125    NaN   29  ...         8.7    202
126  127.0   51  ...         8.1    276
127  128.0   50  ...         8.8    242
128  129.0   65  ...         5.5    230
129    NaN   40  ...         5.5    250
130  131.0   41  ...         7.5    253
131  132.0   54  ...         8.7    212
132  133.0   52  ...         NaN    284
133  134.0   61  ...         5.9    239
134  135.0   57  ...         4.6    294
135  136.0   39  ...         7.5    201
136  137.0   44  ...         6.8    200
137  138.0   52  ...         6.3    282
138  139.0   18  ...         8.4    285
139  140.0   52  ...         6.9    233
140  141.0   54  ...         7.0    233
141  142.0   64  ...         8.3    283
142  143.0   31  ...        10.3    267
143  144.0   20  ...         6.3    271
144  145.0   18  ...         5.7    262
145  146.0   22  ...         5.5    234
146  147.0   43  ...         7.7    232
147  148.0   31  ...         5.4    262
148  149.0   56  ...         NaN    222
149  150.0   44  ...         6.6    264
150  151.0   26  ...         9.3    219
151  152.0   32  ...         8.8    213
152  153.0   32  ...         4.7    240
153  154.0   43  ...         9.4    275
154  155.0   59  ...         5.2    298
155  156.0   30  ...         7.2    238
156  157.0   68  ...         5.7    205
157  158.0   49  ...         6.4    289
158  159.0   56  ...         5.5    229
159  160.0   66  ...         9.5    248
160  161.0   69  ...         6.8    272
161  162.0   49  ...         7.3    293
162  163.0   21  ...         5.4    271
163  164.0   47  ...         4.9    270
164  165.0   54  ...         6.3    207
165  166.0   40  ...         7.8    251
166  167.0   56  ...         6.8    262
167  168.0   62  ...         8.5    269
168    NaN   32  ...         7.2    253
169  170.0   60  ...         7.0    200
170  171.0   46  ...         7.8    220
171  172.0   53  ...         7.2    222
172  173.0   30  ...         8.4    276
173  174.0   49  ...         7.8    262
174  175.0   24  ...         8.4    239
175  176.0   68  ...         8.1    273
176  177.0   39  ...         9.0    257
177  178.0   45  ...         8.2    285
178  179.0   19  ...         9.6    285
179  180.0   59  ...         6.2    271
180  181.0   62  ...         8.3    204
181  182.0   23  ...         4.9    249
182  183.0   45  ...         8.4    225
183  184.0   45  ...         7.1    294
184  185.0   61  ...         8.4    267
185  186.0   61  ...         9.5    269
186  187.0   37  ...         8.2    226
187  188.0   47  ...         6.4    268
188  189.0   28  ...         5.4    264
189  190.0   45  ...         7.8    230
190  191.0   42  ...         6.6    228
191  192.0   56  ...         8.0    252
192  193.0   50  ...         6.2    237
193  194.0   18  ...         5.6    250
194  195.0   44  ...         6.6    256
195  196.0   69  ...         7.8    276
196  197.0   30  ...         7.2    208
197  198.0   58  ...         5.8    272
198  199.0   20  ...         9.7    217
199  200.0   56  ...         6.8    205
200  201.0   23  ...         3.6    295
201  202.0   25  ...         8.4    262
202  203.0   44  ...         7.0    255
203  204.0   26  ...         6.7    228
204  205.0   54  ...         6.7    258
205  206.0   50  ...         6.7    220
206  207.0   68  ...         9.5    282
207  208.0   59  ...         7.7    207
208  209.0   61  ...         7.4    230
209  210.0   41  ...         6.6    289
210  211.0   32  ...         9.6    239
211  212.0   49  ...         8.3    243
212  213.0   49  ...         8.5    222
213  214.0   41  ...         7.4    255
214  215.0   58  ...         8.5    240
215  216.0   69  ...         7.6    258
216  217.0   66  ...         6.4    286
217  218.0   66  ...         7.6    262
218  219.0   69  ...        10.1    273
219  220.0   29  ...         7.3    251
220  221.0   56  ...         8.9    248
221  222.0   19  ...         8.8    234
222  223.0   20  ...         7.8    258
223  224.0   66  ...         9.5    297
224  225.0   54  ...         3.7    213
225  226.0   66  ...         4.2    203
226  227.0   34  ...         9.6    225
227  228.0   66  ...         6.0    284
228  229.0   19  ...         7.2    226
229  230.0   19  ...         9.6    293
230  231.0   45  ...         7.3    229
231  232.0   40  ...         9.5    205
232  233.0   54  ...         6.4    289
233  234.0   49  ...         7.9    291
234  235.0   50  ...         7.1    229
235  236.0   18  ...         9.2    281
236  237.0   36  ...         6.6    284
237  238.0   19  ...         5.6    241
238  239.0   61  ...         6.3    264
239  240.0   43  ...         6.4    297
240  241.0   49  ...         6.0    207
241  242.0   23  ...         6.0    291
242  243.0   49  ...         8.7    202
243  244.0   21  ...         9.1    201
244  245.0   28  ...         7.6    278
245  246.0   34  ...         6.0    211
246  247.0   55  ...         6.1    271
247  248.0   41  ...         3.9    218
248  249.0   22  ...         7.6    282
249  250.0   69  ...         6.0    226
250  251.0   51  ...         9.2    201
251  252.0   23  ...         4.9    293
252  253.0   39  ...         6.1    269
253  254.0   28  ...         6.9    251
254  255.0   65  ...         7.7    203
255  256.0   33  ...         9.7    290
256  257.0   50  ...         4.9    287
257  258.0   26  ...         6.5    260
258  259.0   23  ...         4.9    240
259  260.0   33  ...         8.2    265
260  261.0   46  ...         6.0    226
261  262.0   20  ...         6.8    233
262  263.0   37  ...         6.7    268
263  264.0   53  ...         7.2    204
264  265.0   36  ...         6.8    292
265  266.0   43  ...         5.5    235
266  267.0   20  ...         7.1    277
267  268.0   36  ...         5.8    297
268  269.0   37  ...         8.2    209
269  270.0   49  ...         7.1    204
270  271.0   24  ...         5.4    236
271  272.0   69  ...        10.6    257
272  273.0   58  ...         9.5    276
273  274.0   50  ...        10.7    226
274  275.0   57  ...         6.5    279
275  276.0   56  ...         5.7    281
276  277.0   35  ...         8.2    245
277  278.0   57  ...         8.7    275
278  279.0   18  ...         7.3    268
279  280.0   28  ...         3.8    280
280  281.0   45  ...         5.5    234
281  282.0   42  ...         7.6    297
282  283.0   67  ...         6.0    212
283  284.0   40  ...         5.0    253
284  285.0   48  ...         6.6    271
285  286.0   47  ...         2.1    221
286  287.0   59  ...         6.1    262
287  288.0   52  ...         6.4    277
288  289.0   24  ...         7.5    250
289  290.0   33  ...         7.8    235
290  291.0   43  ...         7.6    267
291  292.0   65  ...         8.3    224
292  293.0   69  ...         6.7    264
293  294.0   66  ...         4.8    276
294  295.0   19  ...         7.1    233
295  296.0   18  ...         5.7    234
296  297.0   65  ...         5.0    255
297  298.0   29  ...         7.9    210
298  299.0   22  ...         4.9    276

[299 rows x 12 columns]

### _how to remove a row_ ⮯
### ___drop()__ method_
### _the __drop()__ method removes the specified __row and column__._

#### ___axis__ : Specifies whether to drop rows (axis=0 or 'index') or columns (axis=1 or 'columns'). By default, axis=0 (rows)._

In [57]:
import pandas as pd          # removing the specified empty rows           

d = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')
dfff = pd.DataFrame(d)

dfff.dropna(subset=['Exercise'], inplace = True)
dfff.head(3)

    ID  Age  ... Stress_Level  Sleep_Hours
1  2.0   69  ...          2.0          5.9
2  3.0   46  ...          3.0          4.8
3  4.0   32  ...          9.0          6.6

[3 rows x 11 columns]

In [58]:
dfff.shape

(219, 11)

In [64]:
import pandas as pd          # removing the specified row           

df = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')
df = df.drop(4, axis=0)
df

        ID  Age  ... Stress_Level  Sleep_Hours
0      1.0   56  ...          9.0          8.5
1      2.0   69  ...          2.0          5.9
2      3.0   46  ...          3.0          4.8
3      4.0   32  ...          9.0          6.6
5      6.0   25  ...          1.0          5.8
6      7.0   38  ...          2.0          5.8
7      8.0   56  ...          7.0          6.8
8      9.0   36  ...          6.0          6.3
9     10.0   40  ...          1.0          5.6
10    11.0   28  ...         10.0          9.7
11    12.0   28  ...          2.0          7.7
12     NaN   41  ...          6.0          7.2
13    14.0   53  ...          6.0          6.9
14    15.0   57  ...          6.0          8.0
15    16.0   41  ...          9.0          7.8
16    17.0   20  ...          2.0          5.4
17    18.0   39  ...         10.0          4.7
18    19.0   19  ...         10.0          3.6
19    20.0   41  ...          9.0          9.7
20    21.0   61  ...          9.0          6.3
21    22.0   47  ...         10.0          7.9
22    23.0   55  ...          9.0          7.3
23    24.0   19  ...          NaN          8.4
24    25.0   38  ...          3.0          6.9
25    26.0   50  ...         10.0          NaN
26    27.0   29  ...          9.0          5.4
27    28.0   39  ...         10.0          6.5
28    29.0   61  ...          9.0          4.6
29    30.0   42  ...          3.0          5.7
30    31.0   66  ...          4.0          5.2
31     NaN   44  ...          4.0          6.5
32    33.0   59  ...          4.0          6.3
33    34.0   45  ...          7.0          7.2
34    35.0   33  ...          5.0          8.3
35    36.0   32  ...          7.0          6.6
36    37.0   64  ...          6.0          4.7
37    38.0   68  ...          7.0          3.9
38    39.0   61  ...          8.0          7.2
39    40.0   69  ...          6.0          6.0
40    41.0   20  ...          9.0          6.8
41    42.0   54  ...          4.0          7.5
42    43.0   68  ...          5.0          9.2
43    44.0   24  ...          9.0          4.4
44    45.0   38  ...          9.0          5.5
45    46.0   26  ...          2.0          6.9
46    47.0   56  ...          2.0          5.3
47    48.0   35  ...          9.0          4.8
48    49.0   21  ...          6.0          9.0
49    50.0   42  ...          8.0          5.4
50    51.0   31  ...          8.0          5.0
51    52.0   67  ...          8.0          5.3
52    53.0   26  ...          5.0          8.6
53    54.0   43  ...         10.0          6.0
54    55.0   19  ...          4.0          4.9
55    56.0   37  ...          3.0          5.7
56    57.0   45  ...          4.0          6.9
57    58.0   64  ...          8.0          8.3
58    59.0   24  ...          4.0          8.2
59    60.0   61  ...          8.0          5.8
60    61.0   25  ...          8.0          6.2
61    62.0   64  ...          1.0         10.2
62    63.0   52  ...          9.0          8.5
63    64.0   31  ...          3.0          6.6
64    65.0   34  ...          6.0          3.6
65    66.0   53  ...          3.0          6.3
66    67.0   67  ...          9.0          5.0
67    68.0   57  ...          1.0          5.7
68    69.0   21  ...          7.0          5.6
69    70.0   19  ...          5.0          6.7
70    71.0   23  ...          3.0          7.1
71    72.0   59  ...          7.0          5.9
72    73.0   21  ...          1.0          5.1
73    74.0   46  ...          6.0          6.7
74    75.0   35  ...          7.0          6.3
75    76.0   43  ...          9.0          4.2
76    77.0   61  ...          9.0          7.9
77    78.0   51  ...          7.0          5.9
78    79.0   27  ...          5.0          6.6
79    80.0   53  ...          7.0          6.7
80    81.0   31  ...          1.0          7.0
81    82.0   48  ...          7.0          7.2
82    83.0   65  ...         10.0          5.0
83    84.0   32  ...          4.0          7.5
84    85.0   25  ...          2.0          6.5
85    86.0   31  ...          6.0          8.6
86    87.0   40  ...          7.0          8.2
87    88.0   57  ...          7.0          9.0
88    89.0   38  ...          8.0          5.6
89    90.0   33  ...          5.0          8.9
90    91.0   62  ...         10.0          7.1
91    92.0   35  ...         10.0          8.0
92    93.0   64  ...          8.0          8.0
93    94.0   41  ...          4.0          7.7
94    95.0   43  ...         10.0          5.4
95    96.0   42  ...          1.0          8.4
96    97.0   62  ...          8.0          7.5
97    98.0   58  ...          4.0          4.8
98    99.0   46  ...          5.0          6.3
99   100.0   32  ...          4.0          5.2
100  101.0   62  ...          7.0          4.9
101  102.0   18  ...         10.0          8.3
102  103.0   42  ...          3.0          4.8
103  104.0   24  ...          2.0          5.0
104  105.0   26  ...         10.0         10.0
105  106.0   41  ...          2.0          6.3
106  107.0   18  ...          7.0          8.0
107  108.0   61  ...         10.0          8.7
108  109.0   25  ...          6.0          8.2
109  110.0   41  ...          2.0          7.2
110  111.0   28  ...          8.0          6.9
111  112.0   68  ...          6.0          7.8
112  113.0   34  ...          8.0          6.7
113  114.0   25  ...          6.0          8.0
114  115.0   52  ...          4.0          6.6
115  116.0   52  ...          8.0          6.8
116  117.0   50  ...          4.0          9.8
117  118.0   22  ...          6.0          6.3
118  119.0   59  ...          5.0          7.0
119  120.0   56  ...          4.0          7.6
120  121.0   58  ...          7.0          7.7
121  122.0   45  ...          8.0          7.4
122  123.0   24  ...          6.0          5.1
123  124.0   26  ...          1.0          7.2
124  125.0   25  ...          7.0          7.4
125    NaN   29  ...          4.0          8.7
126  127.0   51  ...          2.0          8.1
127  128.0   50  ...          3.0          8.8
128  129.0   65  ...         10.0          5.5
129    NaN   40  ...          4.0          5.5
130  131.0   41  ...          7.0          7.5
131  132.0   54  ...          9.0          8.7
132  133.0   52  ...         10.0          NaN
133  134.0   61  ...          6.0          5.9
134  135.0   57  ...         10.0          4.6
135  136.0   39  ...          5.0          7.5
136  137.0   44  ...          9.0          6.8
137  138.0   52  ...          8.0          6.3
138  139.0   18  ...          8.0          8.4
139  140.0   52  ...          8.0          6.9
140  141.0   54  ...          8.0          7.0
141  142.0   64  ...          8.0          8.3
142  143.0   31  ...          NaN         10.3
143  144.0   20  ...         10.0          6.3
144  145.0   18  ...          7.0          5.7
145  146.0   22  ...          2.0          5.5
146  147.0   43  ...          2.0          7.7
147  148.0   31  ...          5.0          5.4
148  149.0   56  ...          6.0          NaN
149  150.0   44  ...          9.0          6.6
150  151.0   26  ...          1.0          9.3
151  152.0   32  ...          7.0          8.8
152  153.0   32  ...          7.0          4.7
153  154.0   43  ...          8.0          9.4
154  155.0   59  ...          1.0          5.2
155  156.0   30  ...         10.0          7.2
156  157.0   68  ...          4.0          5.7
157  158.0   49  ...         10.0          6.4
158  159.0   56  ...          5.0          5.5
159  160.0   66  ...          2.0          9.5
160  161.0   69  ...          2.0          6.8
161  162.0   49  ...          4.0          7.3
162  163.0   21  ...          3.0          5.4
163  164.0   47  ...          7.0          4.9
164  165.0   54  ...          7.0          6.3
165  166.0   40  ...          2.0          7.8
166  167.0   56  ...          5.0          6.8
167  168.0   62  ...          5.0          8.5
168    NaN   32  ...          8.0          7.2
169  170.0   60  ...          8.0          7.0
170  171.0   46  ...          4.0          7.8
171  172.0   53  ...         10.0          7.2
172  173.0   30  ...          1.0          8.4
173  174.0   49  ...          6.0          7.8
174  175.0   24  ...          7.0          8.4
175  176.0   68  ...          1.0          8.1
176  177.0   39  ...          8.0          9.0
177  178.0   45  ...          9.0          8.2
178  179.0   19  ...          8.0          9.6
179  180.0   59  ...          3.0          6.2
180  181.0   62  ...          9.0          8.3
181  182.0   23  ...         10.0          4.9
182  183.0   45  ...          3.0          8.4
183  184.0   45  ...          4.0          7.1
184  185.0   61  ...          6.0          8.4
185  186.0   61  ...          7.0          9.5
186  187.0   37  ...          8.0          8.2
187  188.0   47  ...          7.0          6.4
188  189.0   28  ...          3.0          5.4
189  190.0   45  ...          2.0          7.8
190  191.0   42  ...          2.0          6.6
191  192.0   56  ...          9.0          8.0
192  193.0   50  ...          7.0          6.2
193  194.0   18  ...          7.0          5.6
194  195.0   44  ...          5.0          6.6
195  196.0   69  ...          6.0          7.8
196  197.0   30  ...          7.0          7.2
197  198.0   58  ...          9.0          5.8
198  199.0   20  ...         10.0          9.7
199  200.0   56  ...          4.0          6.8
200  201.0   23  ...          6.0          3.6
201  202.0   25  ...          1.0          8.4
202  203.0   44  ...          7.0          7.0
203  204.0   26  ...          4.0          6.7
204  205.0   54  ...          2.0          6.7
205  206.0   50  ...          4.0          6.7
206  207.0   68  ...          8.0          9.5
207  208.0   59  ...          2.0          7.7
208  209.0   61  ...          1.0          7.4
209  210.0   41  ...          1.0          6.6
210  211.0   32  ...          7.0          9.6
211  212.0   49  ...          7.0          8.3
212  213.0   49  ...          4.0          8.5
213  214.0   41  ...          5.0          7.4
214  215.0   58  ...          5.0          8.5
215  216.0   69  ...          7.0          7.6
216  217.0   66  ...          3.0          6.4
217  218.0   66  ...          5.0          7.6
218  219.0   69  ...          7.0         10.1
219  220.0   29  ...          7.0          7.3
220  221.0   56  ...          9.0          8.9
221  222.0   19  ...          4.0          8.8
222  223.0   20  ...          1.0          7.8
223  224.0   66  ...          5.0          9.5
224  225.0   54  ...          4.0          3.7
225  226.0   66  ...          3.0          4.2
226  227.0   34  ...          7.0          9.6
227  228.0   66  ...          9.0          6.0
228  229.0   19  ...          4.0          7.2
229  230.0   19  ...          6.0          9.6
230  231.0   45  ...          1.0          7.3
231  232.0   40  ...          1.0          9.5
232  233.0   54  ...          3.0          6.4
233  234.0   49  ...          5.0          7.9
234  235.0   50  ...          6.0          7.1
235  236.0   18  ...          9.0          9.2
236  237.0   36  ...          9.0          6.6
237  238.0   19  ...         10.0          5.6
238  239.0   61  ...          1.0          6.3
239  240.0   43  ...          2.0          6.4
240  241.0   49  ...          8.0          6.0
241  242.0   23  ...          5.0          6.0
242  243.0   49  ...          3.0          8.7
243  244.0   21  ...          9.0          9.1
244  245.0   28  ...          2.0          7.6
245  246.0   34  ...          7.0          6.0
246  247.0   55  ...         10.0          6.1
247  248.0   41  ...          8.0          3.9
248  249.0   22  ...          2.0          7.6
249  250.0   69  ...          1.0          6.0
250  251.0   51  ...          3.0          9.2
251  252.0   23  ...          8.0          4.9
252  253.0   39  ...          4.0          6.1
253  254.0   28  ...          5.0          6.9
254  255.0   65  ...          9.0          7.7
255  256.0   33  ...          4.0          9.7
256  257.0   50  ...          9.0          4.9
257  258.0   26  ...          6.0          6.5
258  259.0   23  ...          7.0          4.9
259  260.0   33  ...          8.0          8.2
260  261.0   46  ...         10.0          6.0
261  262.0   20  ...         10.0          6.8
262  263.0   37  ...          1.0          6.7
263  264.0   53  ...          9.0          7.2
264  265.0   36  ...          2.0          6.8
265  266.0   43  ...          3.0          5.5
266  267.0   20  ...          1.0          7.1
267  268.0   36  ...         10.0          5.8
268  269.0   37  ...          3.0          8.2
269  270.0   49  ...          2.0          7.1
270  271.0   24  ...          7.0          5.4
271  272.0   69  ...          7.0         10.6
272  273.0   58  ...          6.0          9.5
273  274.0   50  ...         10.0         10.7
274  275.0   57  ...          4.0          6.5
275  276.0   56  ...          3.0          5.7
276  277.0   35  ...          7.0          8.2
277  278.0   57  ...          3.0          8.7
278  279.0   18  ...          9.0          7.3
279  280.0   28  ...         10.0          3.8
280  281.0   45  ...          8.0          5.5
281  282.0   42  ...          7.0          7.6
282  283.0   67  ...          2.0          6.0
283  284.0   40  ...         10.0          5.0
284  285.0   48  ...          3.0          6.6
285  286.0   47  ...          8.0          2.1
286  287.0   59  ...          3.0          6.1
287  288.0   52  ...          8.0          6.4
288  289.0   24  ...          4.0          7.5
289  290.0   33  ...          5.0          7.8
290  291.0   43  ...          9.0          7.6
291  292.0   65  ...         10.0          8.3
292  293.0   69  ...          2.0          6.7
293  294.0   66  ...          3.0          4.8
294  295.0   19  ...          1.0          7.1
295  296.0   18  ...          8.0          5.7
296  297.0   65  ...          9.0          5.0
297  298.0   29  ...         10.0          7.9
298  299.0   22  ...          9.0          4.9

[298 rows x 11 columns]

### _how to drop a column ⮯_

In [65]:
df.drop('Sleep_Hours', axis=1)   # if we apply inplace =  True it will be delted permenantly .
df.head(4)

    ID  Age  ... Stress_Level  Sleep_Hours
0  1.0   56  ...          9.0          8.5
1  2.0   69  ...          2.0          5.9
2  3.0   46  ...          3.0          4.8
3  4.0   32  ...          9.0          6.6

[4 rows x 11 columns]

In [76]:
name = df['Diet']                        # we can also access the columns by storing in new varible
name

0           Poor
1           Good
2      Excellent
3      Excellent
5           Good
         ...
294         Poor
295         Good
296      Average
297         Good
298      Average
Name: Diet, Length: 298, dtype: object

In [67]:
                               # creating a new dataframe
import pandas as pd

df = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')
df = pd.DataFrame()
df['Age'] = age
df

NameError: name 'age' is not defined

# Data Cleaning
#### Data cleaning means fixing bad data in your data set.
##### Bad data could be:

##### -> Empty cells
##### -> Data in wrong format
##### -> Wrong data
##### -> Duplicates

#  __➪➪  Working with a New CSV 'Books' Data__

In [68]:
import pandas as pd
df = pd.read_csv('C:/Users/woake/Python/books.csv')
df

,Name,Author,...,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,...,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,...,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,...,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,...,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,...,2019,Non Fiction
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,...,2011,Fiction
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,...,2014,Fiction
7,A Gentleman in Moscow: A Novel,Amor Towles,...,2017,Fiction
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,...,2018,Non Fiction
9,A Man Called Ove: A Novel,Fredrik Backman,...,2016,Fiction
10,A Man Called Ove: A Novel,Fredrik Backman,...,2017,Fiction
11,A Patriot's History of the United States: From...,Larry Schweikart,...,2010,Non Fiction
12,A Stolen Life: A Memoir,Jaycee Dugard,...,2011,Non Fiction
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,...,2018,Fiction
14,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,...,2009,Non Fiction
15,Adult Coloring Book Designs: Stress Relief Col...,Adult Coloring Book Designs,...,2016,Non Fiction
16,Adult Coloring Book: Stress Relieving Animal D...,Blue Star Coloring,...,2015,Non Fiction
17,Adult Coloring Book: Stress Relieving Patterns,Blue Star Coloring,...,2015,Non Fiction
18,Adult Coloring Books: A Coloring Book for Adul...,Coloring Books for Adults,...,2015,Non Fiction
19,Alexander Hamilton,Ron Chernow,...,2016,Non Fiction
20,All the Light We Cannot See,Anthony Doerr,...,2014,Fiction
21,All the Light We Cannot See,Anthony Doerr,...,2015,Fiction
22,Allegiant,Veronica Roth,...,2013,Fiction
23,American Sniper: The Autobiography of the Most...,Chris Kyle,...,2015,Non Fiction
24,And the Mountains Echoed,Khaled Hosseini,...,2013,Fiction
25,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,...,2009,Non Fiction
26,Astrophysics for People in a Hurry,Neil deGrasse Tyson,...,2017,Non Fiction
27,"Autobiography of Mark Twain, Vol. 1",Mark Twain,...,2010,Non Fiction
28,Baby Touch and Feel: Animals,DK,...,2015,Non Fiction
29,Balance (Angie's Extreme Stress Menders),Angie Grace,...,2015,Non Fiction
30,Barefoot Contessa Foolproof: Recipes You Can T...,Ina Garten,...,2012,Non Fiction
31,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,...,2010,Non Fiction
32,Becoming,Michelle Obama,...,2018,Non Fiction
33,Becoming,Michelle Obama,...,2019,Non Fiction
34,Being Mortal: Medicine and What Matters in the...,Atul Gawande,...,2015,Non Fiction
35,Between the World and Me,Ta-Nehisi Coates,...,2015,Non Fiction
36,Between the World and Me,Ta-Nehisi Coates,...,2016,Non Fiction
37,Born to Run,Bruce Springsteen,...,2016,Non Fiction
38,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,...,2009,Fiction
39,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,...,2010,Non Fiction
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,...,2017,Fiction
41,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,...,2019,Fiction
42,"Cabin Fever (Diary of a Wimpy Kid, Book 6)",Jeff Kinney,...,2011,Fiction
43,Calm the F*ck Down: An Irreverent Adult Colori...,Sasha O'Hara,...,2016,Non Fiction
44,Can't Hurt Me: Master Your Mind and Defy the Odds,David Goggins,...,2019,Non Fiction
45,Capital in the Twenty First Century,Thomas Piketty,...,2014,Non Fiction
46,Catching Fire (The Hunger Games),Suzanne Collins,...,2010,Fiction
47,Catching Fire (The Hunger Games),Suzanne Collins,...,2011,Fiction
48,Catching Fire (The Hunger Games),Suzanne Collins,...,2012,Fiction
49,Cravings: Recipes for All the Food You Want to...,Chrissy Teigen,...,2016,Non Fiction
50,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,...,2009,Non Fiction
51,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,...,2010,Non Fiction
52,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,...,2011,Non Fiction
53,Crazy Rich Asians (Crazy Rich Asians Trilogy),Kevin Kwan,...,2018,Fiction
54,Creative Haven Creative Cats Coloring Book (Ad...,Marjorie Sarnat,...,2015,Non Fiction
55,Creative Haven Owls Coloring Book (Adult Color...,Marjorie Sarnat,...,2015,Non Fiction
56,Cutting for Stone,Abraham Verghese,...,2010,Fiction
57,Cutting for Stone,Abraham Verghese,...,2011,Fiction
58,Daring Greatly: How the Courage to Be Vulnerab...,Brené Brown,...,2013,Non Fiction
59,"David and Goliath: Underdogs, Misfits, and the...",Malcolm Gladwell,...,2013,Non Fiction
60,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,...,2009,Fiction
61,Dead in the Family (Sookie Stackhouse/True Blo...,Charlaine Harris,...,2010,Fiction
62,"Dead Reckoning (Sookie Stackhouse/True Blood, ...",Charlaine Harris,...,2011,Fiction
63,Dear Zoo: A Lift-the-Flap Book,Rod Campbell,...,2015,Fiction
64,Dear Zoo: A Lift-the-Flap Book,Rod Campbell,...,2016,Fiction
65,Dear Zoo: A Lift-the-Flap Book,Rod Campbell,...,2017,Fiction
66,Dear Zoo: A Lift-the-Flap Book,Rod Campbell,...,2018,Fiction
67,Decision Points,George W. Bush,...,2010,Non Fiction
68,"Delivering Happiness: A Path to Profits, Passi...",Tony Hsieh,...,2010,Non Fiction
69,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,...,2013,Non Fiction
70,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,...,2014,Non Fiction
71,"Diary of a Wimpy Kid: Hard Luck, Book 8",Jeff Kinney,...,2013,Fiction
72,Diary of a Wimpy Kid: The Last Straw (Book 3),Jeff Kinney,...,2009,Fiction
73,Diary of a Wimpy Kid: The Long Haul,Jeff Kinney,...,2014,Fiction
74,Difficult Riddles For Smart Kids: 300 Difficul...,M Prefontaine,...,2019,Non Fiction
75,Divergent,Veronica Roth,...,2013,Fiction
76,Divergent,Veronica Roth,...,2014,Fiction
77,Divergent / Insurgent,Veronica Roth,...,2014,Fiction
78,Divine Soul Mind Body Healing and Transmission...,Zhi Gang Sha,...,2009,Non Fiction
79,Doctor Sleep: A Novel,Stephen King,...,2013,Fiction
80,"Dog Days (Diary of a Wimpy Kid, Book 4) (Volum...",Jeff Kinney,...,2009,Fiction
81,Dog Man and Cat Kid: From the Creator of Capta...,Dav Pilkey,...,2018,Fiction
82,Dog Man: A Tale of Two Kitties: From the Creat...,Dav Pilkey,...,2017,Fiction
83,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,...,2018,Fiction
84,Dog Man: Brawl of the Wild: From the Creator o...,Dav Pilkey,...,2019,Fiction
85,Dog Man: Fetch-22: From the Creator of Captain...,Dav Pilkey,...,2019,Fiction
86,Dog Man: For Whom the Ball Rolls: From the Cre...,Dav Pilkey,...,2019,Fiction
87,Dog Man: Lord of the Fleas: From the Creator o...,Dav Pilkey,...,2018,Fiction
88,Double Down (Diary of a Wimpy Kid #11),Jeff Kinney,...,2016,Fiction
89,Dover Creative Haven Art Nouveau Animal Design...,Marty Noble,...,2015,Non Fiction
90,Drive: The Surprising Truth About What Motivat...,Daniel H. Pink,...,2010,Non Fiction
91,Eat This Not That! Supermarket Survival Guide:...,David Zinczenko,...,2009,Non Fiction
92,"Eat This, Not That! Thousands of Simple Food S...",David Zinczenko,...,2009,Non Fiction
93,Eat to Live: The Amazing Nutrient-Rich Program...,Joel Fuhrman MD,...,2011,Non Fiction
94,Eat to Live: The Amazing Nutrient-Rich Program...,Joel Fuhrman MD,...,2012,Non Fiction
95,Eclipse (Twilight Sagas),Stephenie Meyer,...,2009,Fiction
96,Eclipse (Twilight),Stephenie Meyer,...,2009,Fiction
97,Educated: A Memoir,Tara Westover,...,2018,Non Fiction
98,Educated: A Memoir,Tara Westover,...,2019,Non Fiction
99,Enchanted Forest: An Inky Quest and Coloring b...,Johanna Basford,...,2015,Non Fiction
100,Fahrenheit 451,Ray Bradbury,...,2016,Fiction
101,Fahrenheit 451,Ray Bradbury,...,2018,Fiction
102,Fantastic Beasts and Where to Find Them: The O...,J.K. Rowling,...,2016,Fiction
103,Fear: Trump in the White House,Bob Woodward,...,2018,Non Fiction
104,Fifty Shades Darker,E L James,...,2012,Fiction
105,Fifty Shades Freed: Book Three of the Fifty Sh...,E L James,...,2012,Fiction
106,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,...,2012,Fiction
107,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,...,2013,Fiction
108,Fifty Shades Trilogy (Fifty Shades of Grey / F...,E L James,...,2012,Fiction
109,Fire and Fury: Inside the Trump White House,Michael Wolff,...,2018,Non Fiction
110,First 100 Words,Roger Priddy,...,2014,Non Fiction
111,First 100 Words,Roger Priddy,...,2015,Non Fiction
112,First 100 Words,Roger Priddy,...,2016,Non Fiction
113,First 100 Words,Roger Priddy,...,2017,Non Fiction
114,First 100 Words,Roger Priddy,...,2018,Non Fiction
115,Food Rules: An Eater's Manual,Michael Pollan,...,2010,Non Fiction
116,Frozen (Little Golden Book),RH Disney,...,2014,Fiction
117,"Game Change: Obama and the Clintons, McCain an...",John Heilemann,...,2010,Non Fiction
118,Game of Thrones Boxed Set: A Game of Thrones/A...,George R.R. Martin,...,2011,Fiction
119,Game of Thrones Boxed Set: A Game of Thrones/A...,George R.R. Martin,...,2012,Fiction
120,Game of Thrones Boxed Set: A Game of Thrones/A...,George R.R. Martin,...,2013,Fiction
121,George Washington's Sacred Fire,Peter A. Lillback,...,2010,Non Fiction
122,George Washington's Secret Six: The Spy Ring T...,Brian Kilmeade,...,2013,Non Fiction
123,Giraffes Can't Dance,Giles Andreae,...,2015,Fiction
124,Giraffes Can't Dance,Giles Andreae,...,2016,Fiction
125,Giraffes Can't Dance,Giles Andreae,...,2017,Fiction
126,Giraffes Can't Dance,Giles Andreae,...,2018,Fiction
127,Giraffes Can't Dance,Giles Andreae,...,2019,Fiction
128,"Girl, Stop Apologizing: A Shame-Free Plan for ...",Rachel Hollis,...,2019,Non Fiction
129,"Girl, Wash Your Face: Stop Believing the Lies ...",Rachel Hollis,...,2018,Non Fiction
130,"Girl, Wash Your Face: Stop Believing the Lies ...",Rachel Hollis,...,2019,Non Fiction
131,Glenn Beck's Common Sense: The Case Against an...,Glenn Beck,...,2009,Non Fiction
132,Go Set a Watchman: A Novel,Harper Lee,...,2015,Fiction
133,Go the F**k to Sleep,Adam Mansbach,...,2011,Fiction
134,Going Rogue: An American Life,Sarah Palin,...,2009,Non Fiction
135,Gone Girl,Gillian Flynn,...,2012,Fiction
136,Gone Girl,Gillian Flynn,...,2013,Fiction
137,Gone Girl,Gillian Flynn,...,2014,Fiction
138,Good Days Start With Gratitude: A 52 Week Guid...,Pretty Simple Press,...,2019,Non Fiction
139,Good to Great: Why Some Companies Make the Lea...,Jim Collins,...,2009,Non Fiction
140,Good to Great: Why Some Companies Make the Lea...,Jim Collins,...,2010,Non Fiction
141,Good to Great: Why Some Companies Make the Lea...,Jim Collins,...,2011,Non Fiction
142,Good to Great: Why Some Companies Make the Lea...,Jim Collins,...,2012,Non Fiction
143,Goodnight Moon,Margaret Wise Brown,...,2017,Fiction
144,Goodnight Moon,Margaret Wise Brown,...,2018,Fiction
145,Goodnight Moon,Margaret Wise Brown,...,2019,Fiction
146,"Goodnight, Goodnight Construction Site (Hardco...",Sherri Duskey Rinker,...,2012,Fiction
147,"Goodnight, Goodnight Construction Site (Hardco...",Sherri Duskey Rinker,...,2013,Fiction
148,"Grain Brain: The Surprising Truth about Wheat,...",David Perlmutter MD,...,2014,Non Fiction
149,Grey: Fifty Shades of Grey as Told by Christia...,E L James,...,2015,Fiction
150,Guts,Raina Telgemeier,...,2019,Non Fiction
151,Hamilton: The Revolution,Lin-Manuel Miranda,...,2016,Non Fiction
152,"Happy, Happy, Happy: My Life and Legacy as the...",Phil Robertson,...,2013,Non Fiction
153,Harry Potter and the Chamber of Secrets: The I...,J.K. Rowling,...,2016,Fiction
154,"Harry Potter and the Cursed Child, Parts 1 & 2...",J.K. Rowling,...,2016,Fiction
155,Harry Potter and the Goblet of Fire: The Illus...,J. K. Rowling,...,2019,Fiction
156,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,...,2017,Fiction
157,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,...,2016,Fiction
158,Harry Potter Coloring Book,Scholastic,...,2015,Non Fiction
159,Harry Potter Paperback Box Set (Books 1-7),J. K. Rowling,...,2016,Fiction
160,Have a Little Faith: A True Story,Mitch Albom,...,2009,Non Fiction
161,Heaven is for Real: A Little Boy's Astounding ...,Todd Burpo,...,2011,Non Fiction
162,Heaven is for Real: A Little Boy's Astounding ...,Todd Burpo,...,2012,Non Fiction
163,Hillbilly Elegy: A Memoir of a Family and Cult...,J. D. Vance,...,2016,Non Fiction
164,Hillbilly Elegy: A Memoir of a Family and Cult...,J. D. Vance,...,2017,Non Fiction
165,Homebody: A Guide to Creating Spaces You Never...,Joanna Gaines,...,2018,Non Fiction
166,How to Win Friends & Influence People,Dale Carnegie,...,2014,Non Fiction
167,How to Win Friends & Influence People,Dale Carnegie,...,2015,Non Fiction
168,How to Win Friends & Influence People,Dale Carnegie,...,2016,Non Fiction
169,How to Win Friends & Influence People,Dale Carnegie,...,2017,Non Fiction
170,How to Win Friends & Influence People,Dale Carnegie,...,2018,Non Fiction
171,Howard Stern Comes Again,Howard Stern,...,2019,Non Fiction
172,Humans of New York,Brandon Stanton,...,2013,Non Fiction
173,Humans of New York,Brandon Stanton,...,2014,Non Fiction
174,Humans of New York : Stories,Brandon Stanton,...,2015,Non Fiction
175,"Hyperbole and a Half: Unfortunate Situations, ...",Allie Brosh,...,2013,Non Fiction
176,"I Am Confident, Brave & Beautiful: A Coloring ...",Hopscotch Girls,...,2019,Non Fiction
177,"I, Alex Cross",James Patterson,...,2009,Fiction
178,If Animals Kissed Good Night,Ann Whitford Paul,...,2017,Fiction
179,If Animals Kissed Good Night,Ann Whitford Paul,...,2019,Fiction
180,If I Stay,Gayle Forman,...,2014,Fiction
181,"In the Garden of Beasts: Love, Terror, and an ...",Eric Larson,...,2011,Non Fiction
182,Inferno,Dan Brown,...,2013,Fiction
183,Inheritance: Book IV (Inheritance Cycle),Christopher Paolini,...,2011,Fiction
184,Instant Pot Pressure Cooker Cookbook: 500 Ever...,Jennifer Smith,...,2019,Non Fiction
185,Instant Pot Pressure Cooker Cookbook: 500 Ever...,Jennifer Smith,...,2018,Non Fiction
186,It's Not Supposed to Be This Way: Finding Unex...,Lysa TerKeurst,...,2019,Non Fiction
187,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,...,2011,Non Fiction
188,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,...,2012,Non Fiction
189,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,...,2013,Non Fiction
190,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,...,2014,Non Fiction
191,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,...,2015,Non Fiction
192,Jesus Calling: Enjoying Peace in His Presence ...,Sarah Young,...,2016,Non Fiction
193,JOURNEY TO THE ICE P,RH Disney,...,2014,Fiction
194,Joyland (Hard Case Crime),Stephen King,...,2013,Fiction
195,Killers of the Flower Moon: The Osage Murders ...,David Grann,...,2017,Non Fiction
196,Killing Jesus (Bill O'Reilly's Killing Series),Bill O'Reilly,...,2013,Non Fiction
197,Killing Kennedy: The End of Camelot,Bill O'Reilly,...,2012,Non Fiction
198,Killing Lincoln: The Shocking Assassination th...,Bill O'Reilly,...,2011,Non Fiction
199,Killing Lincoln: The Shocking Assassination th...,Bill O'Reilly,...,2012,Non Fiction
200,Killing Patton: The Strange Death of World War...,Bill O'Reilly,...,2014,Non Fiction
201,Killing Reagan: The Violent Assault That Chang...,Bill O'Reilly,...,2015,Non Fiction
202,Killing the Rising Sun: How America Vanquished...,Bill O'Reilly,...,2016,Non Fiction
203,Kitchen Confidential Updated Edition: Adventur...,Anthony Bourdain,...,2018,Non Fiction
204,Knock-Knock Jokes for Kids,Rob Elliott,...,2013,Non Fiction
205,Knock-Knock Jokes for Kids,Rob Elliott,...,2014,Non Fiction
206,Knock-Knock Jokes for Kids,Rob Elliott,...,2015,Non Fiction
207,Last Week Tonight with John Oliver Presents A ...,Jill Twiss,...,2018,Fiction
208,Laugh-Out-Loud Jokes for Kids,Rob Elliott,...,2013,Non Fiction
209,Laugh-Out-Loud Jokes for Kids,Rob Elliott,...,2014,Non Fiction
210,Laugh-Out-Loud Jokes for Kids,Rob Elliott,...,2015,Non Fiction
211,Laugh-Out-Loud Jokes for Kids,Rob Elliott,...,2016,Non Fiction
212,Laugh-Out-Loud Jokes for Kids,Rob Elliott,...,2017,Non Fiction
213,"Lean In: Women, Work, and the Will to Lead",Sheryl Sandberg,...,2013,Non Fiction
214,Leonardo da Vinci,Walter Isaacson,...,2017,Non Fiction
215,Lettering and Modern Calligraphy: A Beginner's...,Paper Peony Press,...,2018,Non Fiction
216,Liberty and Tyranny: A Conservative Manifesto,Mark R. Levin,...,2009,Non Fiction
217,Life,Keith Richards,...,2010,Non Fiction
218,Little Bee: A Novel,Chris Cleave,...,2010,Fiction
219,Little Blue Truck,Alice Schertle,...,2014,Fiction
220,Little Fires Everywhere,Celeste Ng,...,2018,Fiction
221,Looking for Alaska,John Green,...,2014,Fiction
222,"Love Wins: A Book About Heaven, Hell, and the ...",Rob Bell,...,2011,Non Fiction
223,Love You Forever,Robert Munsch,...,2014,Fiction
224,Love You Forever,Robert Munsch,...,2015,Fiction
225,Magnolia Table: A Collection of Recipes for Ga...,Joanna Gaines,...,2018,Non Fiction
226,Make It Ahead: A Barefoot Contessa Cookbook,Ina Garten,...,2014,Non Fiction
227,Make Your Bed: Little Things That Can Change Y...,Admiral William H. McRaven,...,2017,Non Fiction
228,"Mastering the Art of French Cooking, Vol. 2",Julia Child,...,2009,Non Fiction
229,Milk and Honey,Rupi Kaur,...,2016,Non Fiction
230,Milk and Honey,Rupi Kaur,...,2017,Non Fiction
231,Milk and Honey,Rupi Kaur,...,2018,Non Fiction
232,Milk and Vine: Inspirational Quotes From Class...,Adam Gasiewski,...,2017,Non Fiction
233,Mindset: The New Psychology of Success,Carol S. Dweck,...,2014,Non Fiction
234,Mindset: The New Psychology of Success,Carol S. Dweck,...,2015,Non Fiction
235,Mindset: The New Psychology of Success,Carol S. Dweck,...,2016,Non Fiction
236,Mockingjay (The Hunger Games),Suzanne Collins,...,2010,Fiction
237,Mockingjay (The Hunger Games),Suzanne Collins,...,2011,Fiction
238,Mockingjay (The Hunger Games),Suzanne Collins,...,2012,Fiction
239,"National Geographic Kids Why?: Over 1,111 Answ...",Crispin Boyer,...,2019,Non Fiction
240,National Geographic Little Kids First Big Book...,Amy Shields,...,2019,Non Fiction
241,New Moon (The Twilight Saga),Stephenie Meyer,...,2009,Fiction
242,Night (Night),Elie Wiesel,...,2016,Non Fiction
243,No Easy Day: The Autobiography of a Navy Seal:...,Mark Owen,...,2012,Non Fiction
244,Obama: An Intimate Portrait,Pete Souza,...,2017,Non Fiction
245,"Oh, the Places You'll Go!",Dr. Seuss,...,2012,Fiction
246,"Oh, the Places You'll Go!",Dr. Seuss,...,2013,Fiction
247,"Oh, the Places You'll Go!",Dr. Seuss,...,2014,Fiction
248,"Oh, the Places You'll Go!",Dr. Seuss,...,2015,Fiction
249,"Oh, the Places You'll Go!",Dr. Seuss,...,2016,Fiction
250,"Oh, the Places You'll Go!",Dr. Seuss,...,2017,Fiction
251,"Oh, the Places You'll Go!",Dr. Seuss,...,2018,Fiction
252,"Oh, the Places You'll Go!",Dr. Seuss,...,2019,Fiction
253,Old School (Diary of a Wimpy Kid #10),Jeff Kinney,...,2015,Fiction
254,Olive Kitteridge,Elizabeth Strout,...,2009,Fiction
255,One Thousand Gifts: A Dare to Live Fully Right...,Ann Voskamp,...,2011,Non Fiction
256,One Thousand Gifts: A Dare to Live Fully Right...,Ann Voskamp,...,2012,Non Fiction
257,"Option B: Facing Adversity, Building Resilienc...",Sheryl Sandberg,...,2017,Non Fiction
258,Origin: A Novel (Robert Langdon),Dan Brown,...,2017,Fiction
259,Orphan Train,Christina Baker Kline,...,2014,Fiction
260,Outliers: The Story of Success,Malcolm Gladwell,...,2009,Non Fiction
261,Outliers: The Story of Success,Malcolm Gladwell,...,2010,Non Fiction
262,P is for Potty! (Sesame Street) (Lift-the-Flap),Naomi Kleinberg,...,2018,Non Fiction
263,P is for Potty! (Sesame Street) (Lift-the-Flap),Naomi Kleinberg,...,2019,Non Fiction
264,Percy Jackson and the Olympians Paperback Boxe...,Rick Riordan,...,2010,Fiction
265,Player's Handbook (Dungeons & Dragons),Wizards RPG Team,...,2017,Fiction
266,Player's Handbook (Dungeons & Dragons),Wizards RPG Team,...,2018,Fiction
267,Player's Handbook (Dungeons & Dragons),Wizards RPG Team,...,2019,Fiction
268,Pokémon Deluxe Essential Handbook: The Need-to...,Scholastic,...,2016,Fiction

In [173]:
import pandas as pd
df = pd.read_csv('C:/Users/woake/Python/books.csv')
df.head()

,Name,Author,UserRating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

## ➪  Filtering

In [ ]:
# Example Problem

To get a better understanding of the authors. Shivam thought to extract the rating of different books published
by various authors. 
Write a program to get the rating of a book based on a given author's name.
1. Atul Gawande
2. Phil Robertson
3. Dan Brown
4. John Green

In [69]:
# to apply some conditions (filter)

df[df['Author'] == 'Atul Gawande']

,Name,Author,...,Year,Genre
34,Being Mortal: Medicine and What Matters in the...,Atul Gawande,...,2015,Non Fiction

In [70]:
# to apply some conditions (filter)

df[df['Author'] == 'Phil Robertson']

,Name,Author,...,Year,Genre
152,"Happy, Happy, Happy: My Life and Legacy as the...",Phil Robertson,...,2013,Non Fiction

In [71]:
df[df['Author']=='Phil Robertson']["Name"].values

array(['Happy, Happy, Happy: My Life and Legacy as the Duck Commander'],
      dtype=object)

In [72]:
df[df['Author']=='Phil Robertson']["UserRating"]

152    4.8
Name: UserRating, dtype: float64

In [ ]:
# Example Problem
Find the rating of the following books:

1. Allegiant
2. Born to Run
3. Fifty Shades Darker

In [73]:
df[df['Name']=='Allegiant' ]

         Name         Author  ...  Year    Genre
22  Allegiant  Veronica Roth  ...  2013  Fiction

[1 rows x 7 columns]

In [74]:
df[df['Name']=='Born to Run' ]

           Name             Author  ...  Year        Genre
37  Born to Run  Bruce Springsteen  ...  2016  Non Fiction

[1 rows x 7 columns]

In [75]:
df[df['Name']=='Fifty Shades Darker' ]

                    Name     Author  ...  Year    Genre
104  Fifty Shades Darker  E L James  ...  2012  Fiction

[1 rows x 7 columns]

In [76]:
df[df['Name']=='Fifty Shades Darker' ]['UserRating']

104    4.4
Name: UserRating, dtype: float64

In [77]:
df[df['Price']>55 ]

,Name,Author,...,Year,Genre
69,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,...,2013,Non Fiction
70,Diagnostic and Statistical Manual of Mental Di...,American Psychiatric Association,...,2014,Non Fiction
473,The Twilight Saga Collection,Stephenie Meyer,...,2009,Fiction

In [79]:
df[df['Year']<= 2009]

,Name,Author,...,Year,Genre
14,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,...,2009,Non Fiction
25,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,...,2009,Non Fiction
38,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,...,2009,Fiction
50,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,...,2009,Non Fiction
60,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,...,2009,Fiction
72,Diary of a Wimpy Kid: The Last Straw (Book 3),Jeff Kinney,...,2009,Fiction
78,Divine Soul Mind Body Healing and Transmission...,Zhi Gang Sha,...,2009,Non Fiction
80,"Dog Days (Diary of a Wimpy Kid, Book 4) (Volum...",Jeff Kinney,...,2009,Fiction
91,Eat This Not That! Supermarket Survival Guide:...,David Zinczenko,...,2009,Non Fiction
92,"Eat This, Not That! Thousands of Simple Food S...",David Zinczenko,...,2009,Non Fiction
95,Eclipse (Twilight Sagas),Stephenie Meyer,...,2009,Fiction
96,Eclipse (Twilight),Stephenie Meyer,...,2009,Fiction
131,Glenn Beck's Common Sense: The Case Against an...,Glenn Beck,...,2009,Non Fiction
134,Going Rogue: An American Life,Sarah Palin,...,2009,Non Fiction
139,Good to Great: Why Some Companies Make the Lea...,Jim Collins,...,2009,Non Fiction
160,Have a Little Faith: A True Story,Mitch Albom,...,2009,Non Fiction
177,"I, Alex Cross",James Patterson,...,2009,Fiction
216,Liberty and Tyranny: A Conservative Manifesto,Mark R. Levin,...,2009,Non Fiction
228,"Mastering the Art of French Cooking, Vol. 2",Julia Child,...,2009,Non Fiction
241,New Moon (The Twilight Saga),Stephenie Meyer,...,2009,Fiction
254,Olive Kitteridge,Elizabeth Strout,...,2009,Fiction
260,Outliers: The Story of Success,Malcolm Gladwell,...,2009,Non Fiction
271,Publication Manual of the American Psychologic...,American Psychological Association,...,2009,Non Fiction
299,Sookie Stackhouse,Charlaine Harris,...,2009,Fiction
304,StrengthsFinder 2.0,Gallup,...,2009,Non Fiction
313,"Super Freakonomics: Global Cooling, Patriotic ...",Steven D. Levitt,...,2009,Non Fiction
330,The 5000 Year Leap,W. Cleon Skousen,...,2009,Non Fiction
331,The 7 Habits of Highly Effective People: Power...,Stephen R. Covey,...,2009,Non Fiction
346,The Book of Basketball: The NBA According to T...,Bill Simmons,...,2009,Non Fiction
364,The Elegance of the Hedgehog,Muriel Barbery,...,2009,Fiction
369,The Five Dysfunctions of a Team: A Leadership ...,Patrick Lencioni,...,2009,Non Fiction
374,The Five Love Languages: How to Express Heartf...,Gary Chapman,...,2009,Non Fiction
387,The Girl Who Played with Fire (Millennium),Stieg Larsson,...,2009,Fiction
388,The Girl with the Dragon Tattoo (Millennium Se...,Stieg Larsson,...,2009,Fiction
398,The Guernsey Literary and Potato Peel Pie Society,Mary Ann Shaffer,...,2009,Fiction
402,The Help,Kathryn Stockett,...,2009,Fiction
417,The Last Lecture,Randy Pausch,...,2009,Non Fiction
418,The Last Olympian (Percy Jackson and the Olymp...,Rick Riordan,...,2009,Fiction
429,The Lost Symbol,Dan Brown,...,2009,Fiction
430,The Love Dare,Stephen Kendrick,...,2009,Non Fiction
459,The Shack: Where Tragedy Confronts Eternity,William P. Young,...,2009,Fiction
470,The Time Traveler's Wife,Audrey Niffenegger,...,2009,Fiction
471,The Tipping Point: How Little Things Can Make ...,Malcolm Gladwell,...,2009,Non Fiction
473,The Twilight Saga Collection,Stephenie Meyer,...,2009,Fiction
498,Three Cups of Tea: One Man's Mission to Promot...,Greg Mortenson,...,2009,Non Fiction
512,True Compass: A Memoir,Edward M. Kennedy,...,2009,Non Fiction
513,"Twilight (The Twilight Saga, Book 1)",Stephenie Meyer,...,2009,Fiction
520,Under the Dome: A Novel,Stephen King,...,2009,Fiction
524,Watchmen,Alan Moore,...,2009,Fiction
535,Where the Wild Things Are,Maurice Sendak,...,2009,Fiction

In [80]:
df[df['Year']<= 2009].head(3)

,Name,Author,...,Year,Genre
14,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,...,2009,Non Fiction
25,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,...,2009,Non Fiction
38,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,...,2009,Fiction

In [81]:
df[df['Year']<= 2009].tail()

,Name,Author,...,Year,Genre
512,True Compass: A Memoir,Edward M. Kennedy,...,2009,Non Fiction
513,"Twilight (The Twilight Saga, Book 1)",Stephenie Meyer,...,2009,Fiction
520,Under the Dome: A Novel,Stephen King,...,2009,Fiction
524,Watchmen,Alan Moore,...,2009,Fiction
535,Where the Wild Things Are,Maurice Sendak,...,2009,Fiction

In [82]:
df[df['Reviews']>70000 ]

                        Name         Author  ...  Year    Genre
382    The Girl on the Train  Paula Hawkins  ...  2015  Fiction
383    The Girl on the Train  Paula Hawkins  ...  2016  Fiction
534  Where the Crawdads Sing    Delia Owens  ...  2019  Fiction

[3 rows x 7 columns]

In [83]:
df[df['Reviews']>70000 ].shape

(3, 7)

In [84]:
df[df['Reviews']<400 ]

,Name,Author,...,Year,Genre
78,Divine Soul Mind Body Healing and Transmission...,Zhi Gang Sha,...,2009,Non Fiction
300,Soul Healing Miracles: Ancient and New Sacred ...,Zhi Gang Sha,...,2013,Non Fiction

In [85]:
df[df['Reviews']<400 ].info

<bound method DataFrame.info of                                                   Name        Author  ...  \
78   Divine Soul Mind Body Healing and Transmission...  Zhi Gang Sha  ...
300  Soul Healing Miracles: Ancient and New Sacred ...  Zhi Gang Sha  ...

     Year        Genre
78   2009  Non Fiction
300  2013  Non Fiction

[2 rows x 7 columns]>

## _Applying multiple conditions - ( multiple filters )_

In [86]:
# applying multiple conditions - (multiple filters)

df[ (df['Price']<=10) & (df['Price']>=9) ]

,Name,Author,...,Year,Genre
23,American Sniper: The Autobiography of the Most...,Chris Kyle,...,2015,Non Fiction
26,Astrophysics for People in a Hurry,Neil deGrasse Tyson,...,2017,Non Fiction
58,Daring Greatly: How the Courage to Be Vulnerab...,Brené Brown,...,2013,Non Fiction
93,Eat to Live: The Amazing Nutrient-Rich Program...,Joel Fuhrman MD,...,2011,Non Fiction
94,Eat to Live: The Amazing Nutrient-Rich Program...,Joel Fuhrman MD,...,2012,Non Fiction
99,Enchanted Forest: An Inky Quest and Coloring b...,Johanna Basford,...,2015,Non Fiction
115,Food Rules: An Eater's Manual,Michael Pollan,...,2010,Non Fiction
117,"Game Change: Obama and the Clintons, McCain an...",John Heilemann,...,2010,Non Fiction
133,Go the F**k to Sleep,Adam Mansbach,...,2011,Fiction
135,Gone Girl,Gillian Flynn,...,2012,Fiction
136,Gone Girl,Gillian Flynn,...,2013,Fiction
137,Gone Girl,Gillian Flynn,...,2014,Fiction
148,"Grain Brain: The Surprising Truth about Wheat,...",David Perlmutter MD,...,2014,Non Fiction
158,Harry Potter Coloring Book,Scholastic,...,2015,Non Fiction
161,Heaven is for Real: A Little Boy's Astounding ...,Todd Burpo,...,2011,Non Fiction
162,Heaven is for Real: A Little Boy's Astounding ...,Todd Burpo,...,2012,Non Fiction
180,If I Stay,Gayle Forman,...,2014,Fiction
198,Killing Lincoln: The Shocking Assassination th...,Bill O'Reilly,...,2011,Non Fiction
199,Killing Lincoln: The Shocking Assassination th...,Bill O'Reilly,...,2012,Non Fiction
218,Little Bee: A Novel,Chris Cleave,...,2010,Fiction
233,Mindset: The New Psychology of Success,Carol S. Dweck,...,2014,Non Fiction
234,Mindset: The New Psychology of Success,Carol S. Dweck,...,2015,Non Fiction
235,Mindset: The New Psychology of Success,Carol S. Dweck,...,2016,Non Fiction
241,New Moon (The Twilight Saga),Stephenie Meyer,...,2009,Fiction
242,Night (Night),Elie Wiesel,...,2016,Non Fiction
257,"Option B: Facing Adversity, Building Resilienc...",Sheryl Sandberg,...,2017,Non Fiction
268,Pokémon Deluxe Essential Handbook: The Need-to...,Scholastic,...,2016,Fiction
269,Proof of Heaven: A Neurosurgeon's Journey into...,Eben Alexander,...,2012,Non Fiction
270,Proof of Heaven: A Neurosurgeon's Journey into...,Eben Alexander,...,2013,Non Fiction
284,Radical: Taking Back Your Faith from the Ameri...,David Platt,...,2010,Non Fiction
285,Radical: Taking Back Your Faith from the Ameri...,David Platt,...,2011,Non Fiction
292,Sarah's Key,Tatiana de Rosnay,...,2010,Fiction
295,Secret Garden: An Inky Treasure Hunt and Color...,Johanna Basford,...,2015,Non Fiction
339,The Amateur,Edward Klein,...,2012,Non Fiction
340,The Art of Racing in the Rain: A Novel,Garth Stein,...,2010,Fiction
341,The Art of Racing in the Rain: A Novel,Garth Stein,...,2011,Fiction
360,The Day the Crayons Quit,Drew Daywalt,...,2013,Fiction
361,The Day the Crayons Quit,Drew Daywalt,...,2014,Fiction
362,The Day the Crayons Quit,Drew Daywalt,...,2015,Fiction
374,The Five Love Languages: How to Express Heartf...,Gary Chapman,...,2009,Non Fiction
386,The Girl Who Played with Fire (Millennium Series),Stieg Larsson,...,2010,Fiction
398,The Guernsey Literary and Potato Peel Pie Society,Mary Ann Shaffer,...,2009,Fiction
413,The Immortal Life of Henrietta Lacks,Rebecca Skloot,...,2011,Non Fiction
414,The Immortal Life of Henrietta Lacks,Rebecca Skloot,...,2012,Non Fiction
417,The Last Lecture,Randy Pausch,...,2009,Non Fiction
432,"The Mark of Athena (Heroes of Olympus, Book 3)",Rick Riordan,...,2012,Fiction
433,The Martian,Andy Weir,...,2015,Fiction
463,"The Son of Neptune (Heroes of Olympus, Book 2)",Rick Riordan,...,2011,Fiction
467,The Sun and Her Flowers,Rupi Kaur,...,2017,Non Fiction
469,"The Throne of Fire (The Kane Chronicles, Book 2)",Rick Riordan,...,2011,Fiction
471,The Tipping Point: How Little Things Can Make ...,Malcolm Gladwell,...,2009,Non Fiction
472,The Total Money Makeover: Classic Edition: A P...,Dave Ramsey,...,2019,Non Fiction
475,The Unofficial Harry Potter Cookbook: From Cau...,Dinah Bucholz,...,2019,Non Fiction
486,The Wonderful Things You Will Be,Emily Winfield Martin,...,2016,Fiction
487,The Wonderful Things You Will Be,Emily Winfield Martin,...,2017,Fiction
488,The Wonderful Things You Will Be,Emily Winfield Martin,...,2018,Fiction
489,The Wonderful Things You Will Be,Emily Winfield Martin,...,2019,Fiction
496,Thirteen Reasons Why,Jay Asher,...,2017,Fiction
513,"Twilight (The Twilight Saga, Book 1)",Stephenie Meyer,...,2009,Fiction
523,Uninvited: Living Loved When You Feel Less Tha...,Lysa TerKeurst,...,2016,Non Fiction
530,What to Expect When You're Expecting,Heidi Murkoff,...,2011,Non Fiction
540,Wonder,R. J. Palacio,...,2013,Fiction
541,Wonder,R. J. Palacio,...,2014,Fiction
542,Wonder,R. J. Palacio,...,2015,Fiction
543,Wonder,R. J. Palacio,...,2016,Fiction
544,Wonder,R. J. Palacio,...,2017,Fiction

In [87]:
         # applying multiple conditions - (multiple filters)

df[ (df['UserRating']>4.7) & (df['Price']<1) ]

,Name,Author,...,Year,Genre
42,"Cabin Fever (Diary of a Wimpy Kid, Book 6)",Jeff Kinney,...,2011,Fiction
71,"Diary of a Wimpy Kid: Hard Luck, Book 8",Jeff Kinney,...,2013,Fiction
219,Little Blue Truck,Alice Schertle,...,2014,Fiction
358,The Constitution of the United States,Delegates of the Constitutional,...,2016,Non Fiction
381,The Getaway,Jeff Kinney,...,2017,Fiction
505,To Kill a Mockingbird,Harper Lee,...,2013,Fiction
506,To Kill a Mockingbird,Harper Lee,...,2014,Fiction
507,To Kill a Mockingbird,Harper Lee,...,2015,Fiction
508,To Kill a Mockingbird,Harper Lee,...,2016,Fiction

In [88]:
# applying multiple conditions - (multiple filters)

df[ (df['UserRating']>4.8) & (df['Reviews']>20000) ]

                          Name     Author  ...  Year    Genre
245  Oh, the Places You'll Go!  Dr. Seuss  ...  2012  Fiction
246  Oh, the Places You'll Go!  Dr. Seuss  ...  2013  Fiction
247  Oh, the Places You'll Go!  Dr. Seuss  ...  2014  Fiction
248  Oh, the Places You'll Go!  Dr. Seuss  ...  2015  Fiction
249  Oh, the Places You'll Go!  Dr. Seuss  ...  2016  Fiction
250  Oh, the Places You'll Go!  Dr. Seuss  ...  2017  Fiction
251  Oh, the Places You'll Go!  Dr. Seuss  ...  2018  Fiction
252  Oh, the Places You'll Go!  Dr. Seuss  ...  2019  Fiction

[8 rows x 7 columns]

# how to check duplicates in the data
## __duplicated()__ :
#### _This method is used to identify duplicate rows or values. It returns a Boolean Series, where True indicates a duplicate and False indicates a unique (or first occurrence of a duplicate) entry._

In [4]:
import pandas as pd
df = pd.read_csv('C:/Users/woake/Python/books.csv')

df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
545    False
546    False
547    False
548    False
549    False
Length: 550, dtype: bool

In [5]:
# how to check the duplicactes in data

df.duplicated().sum()

0

In [6]:
            # lets drop the year column, and check the duplicactes again

import pandas as pd
df = pd.read_csv('C:/Users/woake/Python/books.csv')

df = df.drop('Year', axis=1)
df

,Name,Author,UserRating,Reviews,Price,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,Non Fiction
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,Non Fiction

In [7]:
# how to check the duplicactes in data

df.duplicated().sum()

189

# drop_duplicates():
#### _This method is used to remove duplicate rows from a DataFrame or Series._

In [8]:
                               # dropping duplicate data
df = df.drop_duplicates()
df.head()

,Name,Author,UserRating,Reviews,Price,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,Non Fiction

In [9]:
df.shape

(361, 6)

### _Loading the dataset again ( after dropping the duplicates )_

In [10]:
df = pd.read_csv('C:/Users/woake/Python/books.csv')
df.head()

,Name,Author,UserRating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [11]:
# checking duplicates 

df.duplicated().sum()

0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        550 non-null    object
 1   Author      550 non-null    object
 2   UserRating  550 non-null    float64
 3   Reviews     550 non-null    int64
 4   Price       550 non-null    int64
 5   Year        550 non-null    int64
 6   Genre       550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [13]:
df.shape

(550, 7)

## _To drop duplicate rows in a Pandas DataFrame based on a specific subset of columns , the __drop_duplicates() method__ is used with the __subset parameter___ . ⮯

In [14]:
                           # dropping duplicate data based on specific columns

df = df.drop_duplicates(subset = ['Name', 'Author'])
df.head()

,Name,Author,UserRating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [15]:
df.shape

(351, 7)

In [16]:
len( df['Name'].unique() )

351

##  _➥  exporting this cleaned dataset into local machine_  .
### ___to_csv()___ _is a method used to __export a DataFrame object__ into a Comma-Separated Values __(CSV) file__. This function allows for __saving tabular data__ , which is organized into rows and columns within a DataFrame, into a common and widely accessible file format._

##### select the file path and define a name to it then export

In [17]:
df.to_csv('C:/Users/Woake/Downloads/Books_Unique_Dataset.csv')

# __➪➪ Loading another CSV Messy Dataset__

In [18]:
import pandas as pd
df = pd.read_csv('C:/Users/woake/Downloads/car-sales-extended-missing-data.csv')
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

# _how to check missing data_ ⮯
### ___isnull()__ function takes a scalar or array-like object and indicates whether values are missing  ( __NaN__ in numeric arrays , __None__ or __NaN__ in object arrays , __NaT__ in datetimelike ) ._
### ___isnull() method__ returns a DataFrame object with a Boolean value __True for NULL values, and otherwise False___.

In [19]:

df.isnull()

      Make  Colour  Odometer (KM)  Doors  Price
0    False   False          False  False  False
1    False   False          False  False  False
2    False   False          False  False  False
3    False   False          False  False  False
4    False   False          False  False  False
..     ...     ...            ...    ...    ...
995  False   False          False  False  False
996   True   False          False  False  False
997  False   False          False  False  False
998  False   False          False  False  False
999  False   False          False  False  False

[1000 rows x 5 columns]

In [20]:
df.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

#### 1. drop the rows with missing values
#### 2. fill the missing values with the most appropritate value

###  _➩ The __dropna()__ method in Pandas is used to remove missing values ( __NaN, None, NaT, or numpy.nan__ )_

In [21]:
df = df.dropna()
df.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 773 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           773 non-null    object
 1   Colour         773 non-null    object
 2   Odometer (KM)  773 non-null    float64
 3   Doors          773 non-null    float64
 4   Price          773 non-null    float64
dtypes: float64(3), object(2)
memory usage: 36.2+ KB

#### _after dropping the rows with missing values we got only 4 rows remaining._
#### _this is 40% loss of data_

In [23]:
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
994     BMW   Blue       163322.0    3.0  31666.0
995  Toyota  Black        35820.0    4.0  32042.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[773 rows x 5 columns]

## _➩  Loading the Previous data again_

In [24]:
df = pd.read_csv('C:/Users/woake/Downloads/car-sales-extended-missing-data.csv')
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [25]:
df.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

### _filling the missing value_  ⮯ 
#### ___fillna()__ The fillna() method in Pandas is used to fill missing (NaN) values in a DataFrame or Series._

#### _➩ here we are __filling the null values__ with most common values in the given column_ ⮯

In [26]:
               # checking col1 'Make'

df["Make"].mode()     # mode : the most common value

0    Toyota
Name: Make, dtype: object

In [27]:
df["Make"] = df["Make"].fillna('Toyota')
df["Make"]

0       Honda
1         BMW
2       Honda
3      Toyota
4      Nissan
        ...
995    Toyota
996    Toyota
997    Nissan
998     Honda
999    Toyota
Name: Make, Length: 1000, dtype: object

In [28]:
                             # checking col2 'Colour'

df["Colour"].mode()

0    White
Name: Colour, dtype: object

In [29]:
                                                      # filling the missing value

df["Colour"] = df["Colour"].fillna('White')
df["Colour"]

0      White
1       Blue
2      White
3      White
4       Blue
       ...
995    Black
996    White
997     Blue
998    White
999     Blue
Name: Colour, Length: 1000, dtype: object

In [30]:
                                       # checking col3 'Odometer (KM)'

df["Odometer (KM)"].mean()

131253.23789473684

In [31]:
                             # filling the missing value

df["Odometer (KM)"] = df["Odometer (KM)"].fillna(92302)
df["Odometer (KM)"]

0       35431.0
1      192714.0
2       84714.0
3      154365.0
4      181577.0
         ...
995     35820.0
996    155144.0
997     66604.0
998    215883.0
999    248360.0
Name: Odometer (KM), Length: 1000, dtype: float64

In [32]:
                       # checking if there's any null values left

df.isnull().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors            50
Price            50
dtype: int64

In [33]:
df["Doors"].mean()

4.011578947368421

In [34]:
df["Doors"] = df["Doors"].fillna(4.0)
df["Doors"]

0      4.0
1      5.0
2      4.0
3      4.0
4      3.0
      ...
995    4.0
996    3.0
997    4.0
998    4.0
999    4.0
Name: Doors, Length: 1000, dtype: float64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Colour         1000 non-null   object
 2   Odometer (KM)  1000 non-null   float64
 3   Doors          1000 non-null   float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [36]:
df

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996  Toyota  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [37]:
df["Price"] = df["Price"].str.replace('$', '')
df["Price"] = df["Price"].str.replace(',', '')
df

AttributeError: Can only use .str accessor with string values!

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Colour         1000 non-null   object
 2   Odometer (KM)  1000 non-null   float64
 3   Doors          1000 non-null   float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [40]:
df["Price"] = df["Price"].astype(float)
df["Price"]

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 1000, dtype: float64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Colour         1000 non-null   object
 2   Odometer (KM)  1000 non-null   float64
 3   Doors          1000 non-null   float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

In [41]:
df["Price"].mean()

16042.814736842105

In [42]:
df["Price"] = df["Price"].fillna(7900)
df["Price"]

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 1000, dtype: float64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           1000 non-null   object
 1   Colour         1000 non-null   object
 2   Odometer (KM)  1000 non-null   float64
 3   Doors          1000 non-null   float64
 4   Price          1000 non-null   float64
dtypes: float64(3), object(2)
memory usage: 39.2+ KB

# __➩➩  Working with CSV Messy 'Health' Dataset__

In [11]:
# Loading the dataset

health = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')
health.head()

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1

In [12]:
                          # checking null values
health.isnull().sum()

ID               5
Age              0
Gender           9
Height           6
Weight           5
BMI              1
Smoker           1
Exercise        80
Diet             3
Stress_Level     2
Sleep_Hours      3
dtype: int64

In [13]:
health['Exercise'].mode()

0    Daily
Name: Exercise, dtype: object

In [14]:
                                           # lets fill the misssing values with mode

health['Exercise'] = health['Exercise'].fillna('Regular')
health.head()

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,Regular,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1

In [15]:
health.isnull().sum()

ID              5
Age             0
Gender          9
Height          6
Weight          5
BMI             1
Smoker          1
Exercise        0
Diet            3
Stress_Level    2
Sleep_Hours     3
dtype: int64

## ➩ __ffill and bfill__ ( forwardfill and backwardfill )
#### _ffill ( forward fill ) and bfill ( backward fill ) are methods used to fill missing values ( NaN or NA ) in a DataFrame or Series by propagating existing valid observations._
#### _If you have a sequence [ 1 , NaN , NaN , 4 ], ffill() would result in [ 1 , 1 , 1 , 4 ]._
####  _If you have a sequence [ 1 , NaN , NaN , 4 ], bfill() would result in [ 1 , 4 , 4 , 4 ]._

In [16]:
                                                     # fill and bfill 
health['Age'] = health['Age'].ffill()
health.head()

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,Regular,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1

In [17]:
health['BMI'] = health['BMI'].fillna(health['BMI'].mean())
health.isnull().sum()

ID              5
Age             0
Gender          9
Height          6
Weight          5
BMI             0
Smoker          1
Exercise        0
Diet            3
Stress_Level    2
Sleep_Hours     3
dtype: int64

In [18]:
health['Weight'] = health['Weight'].fillna(health['Weight'].median())
health.isnull().sum()

ID              5
Age             0
Gender          9
Height          6
Weight          0
BMI             0
Smoker          1
Exercise        0
Diet            3
Stress_Level    2
Sleep_Hours     3
dtype: int64

In [19]:
health['ID'] = health['ID'].ffill()
health.tail()

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
294,295.0,19,Male,159.8,84.9,33.2,No,Regular,Poor,1.0,7.1
295,296.0,18,Other,163.5,93.1,34.8,No,3-5 times/week,Good,8.0,5.7
296,297.0,65,Male,172.8,87.7,29.4,No,Regular,Average,9.0,5.0
297,298.0,29,Other,175.1,70.2,22.9,No,1-2 times/week,Good,10.0,7.9
298,299.0,22,Other,162.4,79.3,30.1,No,Daily,Average,9.0,4.9

In [20]:
health.isnull().sum()

ID              0
Age             0
Gender          9
Height          6
Weight          0
BMI             0
Smoker          1
Exercise        0
Diet            3
Stress_Level    2
Sleep_Hours     3
dtype: int64

In [21]:
health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            299 non-null    float64
 1   Age           299 non-null    int64
 2   Gender        290 non-null    object
 3   Height        293 non-null    float64
 4   Weight        299 non-null    float64
 5   BMI           299 non-null    float64
 6   Smoker        298 non-null    object
 7   Exercise      299 non-null    object
 8   Diet          296 non-null    object
 9   Stress_Level  297 non-null    float64
 10  Sleep_Hours   296 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 25.8+ KB

## _In pandas , __inplace = True__ is a parameter used in various DataFrame methods ( like __drop() , fillna() , dropna() , replace() , etc.__ )_  ⮯

In [23]:
# lets drop those 11 rows where Gender and Height name are missing

health.dropna( inplace = True )
health.info()

<class 'pandas.core.frame.DataFrame'>
Index: 276 entries, 0 to 298
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            276 non-null    float64
 1   Age           276 non-null    int64
 2   Gender        276 non-null    object
 3   Height        276 non-null    float64
 4   Weight        276 non-null    float64
 5   BMI           276 non-null    float64
 6   Smoker        276 non-null    object
 7   Exercise      276 non-null    object
 8   Diet          276 non-null    object
 9   Stress_Level  276 non-null    float64
 10  Sleep_Hours   276 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 25.9+ KB

### ___reset_index()__ is a DataFrame method that resets the index of a DataFrame to the default integer-based index (0, 1, 2, ...)_.
### ___drop :__ If True, the old index is discarded and not added as a new column. The default is False._

In [24]:
health = health.reset_index( drop = True )
health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            276 non-null    float64
 1   Age           276 non-null    int64
 2   Gender        276 non-null    object
 3   Height        276 non-null    float64
 4   Weight        276 non-null    float64
 5   BMI           276 non-null    float64
 6   Smoker        276 non-null    object
 7   Exercise      276 non-null    object
 8   Diet          276 non-null    object
 9   Stress_Level  276 non-null    float64
 10  Sleep_Hours   276 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 23.8+ KB

In [25]:
health.isnull().sum()

ID              0
Age             0
Gender          0
Height          0
Weight          0
BMI             0
Smoker          0
Exercise        0
Diet            0
Stress_Level    0
Sleep_Hours     0
dtype: int64

####  _checking if there's any null data left_  ⮯

In [26]:
health['Stress_Level'].isnull().sum()

0

In [27]:
health['Sleep_Hours'].isnull().sum()

0

In [28]:
health['Gender'].isnull().sum()

0

In [29]:
health['Exercise'].isnull().sum()

0

## Now Data is cleaned ✓

## ➪ ___drop() :__ This is the most versatile method for removing specified rows or columns by label_

In [48]:
mydata = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['x', 'y', 'z'])
mydata

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [49]:
import pandas as pd

mydata = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}, index=['x', 'y', 'z']) 
df_no_y = df.drop('y')         # Drop a row
                               
df_no_C = df.drop(columns='C')   # Drop a column

                                 # Drop multiple rows and columns (using inplace)
mydata.drop(['x', 'z'], inplace = True)
mydata.drop(columns = ['A', 'B'], inplace = True)
mydata

   C
y  8


## _➪ The __fillna()__ method is used to replace missing values (NaN) with a specified value or method ._

In [32]:
# replacing empty cells with the value 130

health1 = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')

health1.fillna(130, inplace = True)
health1.head()

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,130,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1

In [45]:
# replacing empty cells with the value 130

health1 = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')

health1.fillna(value = 555, inplace = True)
health1.head(3)

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,555,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8

In [46]:
health1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            299 non-null    float64
 1   Age           299 non-null    int64
 2   Gender        299 non-null    object
 3   Height        299 non-null    float64
 4   Weight        299 non-null    float64
 5   BMI           299 non-null    float64
 6   Smoker        299 non-null    object
 7   Exercise      299 non-null    object
 8   Diet          299 non-null    object
 9   Stress_Level  299 non-null    float64
 10  Sleep_Hours   299 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 25.8+ KB

## _➪ The __dropna()__ method is used to remove rows or columns containing missing values (NaN)_.

In [48]:
hlt = pd.read_csv('C:/Users/woake/OneDrive/Documents/Health.csv')

hlt.dropna()                    # Removes rows containing any NaN values
hlt.head()

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1

In [49]:
hlt.shape

(299, 11)

## _➪ The __replace()__ method is used to replace specific values within a DataFrame or Series with other values ._ 
#### ___to_replace :__ The value(s) to be replaced. Can be a single value, a list of values, a dictionary, or a regular expression._

In [50]:
hlt.replace(to_replace = 'No', value = 99 )
hlt.head()

,ID,Age,Gender,Height,Weight,BMI,Smoker,Exercise,Diet,Stress_Level,Sleep_Hours
0,1.0,56,Other,177.6,37.3,11.8,Yes,NaN,Poor,9.0,8.5
1,2.0,69,Other,169.3,70.7,24.7,No,1-2 times/week,Good,2.0,5.9
2,3.0,46,Female,159.1,69.0,27.3,No,Daily,Excellent,3.0,4.8
3,4.0,32,Male,170.6,76.4,26.3,No,3-5 times/week,Excellent,9.0,6.6
4,5.0,60,Male,158.4,60.4,24.1,No,3-5 times/week,Excellent,6.0,6.1

# __➩➩➩  Importing Another CSV Data__

In [51]:

df = pd.read_csv('C:/Users/woake/Python/books.csv')
df

,Name,Author,UserRating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [52]:
      # making a function to convert the price column into inr

def price_inr(p):
    return p*86

df["Price INR"] = df["Price"].apply(price_inr)
df.head()

,Name,Author,UserRating,Reviews,Price,Year,Genre,Price INR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,688
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,1892
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,1290
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,516
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,1032

In [53]:
# lets drop the price column

df = df.drop('Price', axis=1)
df.head()

,Name,Author,UserRating,Reviews,Year,Genre,Price INR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,2016,Non Fiction,688
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,Fiction,1892
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,Non Fiction,1290
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,Fiction,516
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,Non Fiction,1032

In [54]:
# lets make another column to categorize books based on their user ratings
# 1. Good    # 2. Must Read     # 3 Average

def category(r):
    if r<4:
        return "Average"
    elif r>=4 and r<=4.5:
        return 'Good'
    else:
        return 'Must Read'

                         # lets apply this function to userrating column
df['Category'] = df['UserRating'].apply(category)
df.head(45)

,Name,Author,UserRating,Reviews,Year,Genre,Price INR,Category
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,2016,Non Fiction,688,Must Read
1,11/22/63: A Novel,Stephen King,4.6,2052,2011,Fiction,1892,Must Read
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,2018,Non Fiction,1290,Must Read
3,1984 (Signet Classics),George Orwell,4.7,21424,2017,Fiction,516,Must Read
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,2019,Non Fiction,1032,Must Read
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643,2011,Fiction,946,Good
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,2014,Fiction,2580,Must Read
7,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699,2017,Fiction,1290,Must Read
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983,2018,Non Fiction,258,Must Read
9,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,2016,Fiction,688,Must Read
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848,2017,Fiction,688,Must Read
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,2010,Non Fiction,172,Must Read
12,A Stolen Life: A Memoir,Jaycee Dugard,4.6,4149,2011,Non Fiction,2752,Must Read
13,A Wrinkle in Time (Time Quintet),Madeleine L'Engle,4.5,5153,2018,Fiction,430,Good
14,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,2009,Non Fiction,1462,Must Read
15,Adult Coloring Book Designs: Stress Relief Col...,Adult Coloring Book Designs,4.5,2313,2016,Non Fiction,344,Good
16,Adult Coloring Book: Stress Relieving Animal D...,Blue Star Coloring,4.6,2925,2015,Non Fiction,516,Must Read
17,Adult Coloring Book: Stress Relieving Patterns,Blue Star Coloring,4.4,2951,2015,Non Fiction,516,Good
18,Adult Coloring Books: A Coloring Book for Adul...,Coloring Books for Adults,4.5,2426,2015,Non Fiction,688,Good
19,Alexander Hamilton,Ron Chernow,4.8,9198,2016,Non Fiction,1118,Must Read
20,All the Light We Cannot See,Anthony Doerr,4.6,36348,2014,Fiction,1204,Must Read
21,All the Light We Cannot See,Anthony Doerr,4.6,36348,2015,Fiction,1204,Must Read
22,Allegiant,Veronica Roth,3.9,6310,2013,Fiction,1118,Average
23,American Sniper: The Autobiography of the Most...,Chris Kyle,4.6,15921,2015,Non Fiction,774,Must Read
24,And the Mountains Echoed,Khaled Hosseini,4.3,12159,2013,Fiction,1118,Good
25,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,2009,Non Fiction,430,Must Read
26,Astrophysics for People in a Hurry,Neil deGrasse Tyson,4.7,9374,2017,Non Fiction,774,Must Read
27,"Autobiography of Mark Twain, Vol. 1",Mark Twain,4.2,491,2010,Non Fiction,1204,Good
28,Baby Touch and Feel: Animals,DK,4.6,5360,2015,Non Fiction,430,Must Read
29,Balance (Angie's Extreme Stress Menders),Angie Grace,4.6,1909,2015,Non Fiction,946,Must Read
30,Barefoot Contessa Foolproof: Recipes You Can T...,Ina Garten,4.8,1296,2012,Non Fiction,2064,Must Read
31,"Barefoot Contessa, How Easy Is That?: Fabulous...",Ina Garten,4.7,615,2010,Non Fiction,1806,Must Read
32,Becoming,Michelle Obama,4.8,61133,2018,Non Fiction,946,Must Read
33,Becoming,Michelle Obama,4.8,61133,2019,Non Fiction,946,Must Read
34,Being Mortal: Medicine and What Matters in the...,Atul Gawande,4.8,11113,2015,Non Fiction,1290,Must Read
35,Between the World and Me,Ta-Nehisi Coates,4.7,10070,2015,Non Fiction,1118,Must Read
36,Between the World and Me,Ta-Nehisi Coates,4.7,10070,2016,Non Fiction,1118,Must Read
37,Born to Run,Bruce Springsteen,4.7,3729,2016,Non Fiction,1548,Must Read
38,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,2009,Fiction,1118,Must Read
39,"Broke: The Plan to Restore Our Trust, Truth an...",Glenn Beck,4.5,471,2010,Non Fiction,688,Good
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,2017,Fiction,430,Must Read
41,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,14344,2019,Fiction,430,Must Read
42,"Cabin Fever (Diary of a Wimpy Kid, Book 6)",Jeff Kinney,4.8,4505,2011,Fiction,0,Must Read
43,Calm the F*ck Down: An Irreverent Adult Colori...,Sasha O'Hara,4.6,10369,2016,Non Fiction,344,Must Read
44,Can't Hurt Me: Master Your Mind and Defy the Odds,David Goggins,4.8,16244,2019,Non Fiction,1548,Must Read

# ➩ groupby () method
### ___groupby()__ function is a powerful tool used to split a DataFrame into groups based on one or more columns, allowing for efficient data analysis and aggregation. It follows a __"split-apply-combine" strategy, where data is divided into groups,__ a function is applied to each group, and the results are combined into a new DataFrame_
### _After splitting , a function is applied to each individual group. This function can be an aggregation   (e.g., __sum() , mean() , count() , min() , max() )__ , a transformation (e.g., transform()), or a custom function defined by the user (using apply())._

In [55]:
gb = df.groupby('Year')

gb.first()                    # first entry of each category

,Name,Author,UserRating,Reviews,Genre,Price INR,Category
Year,,,,,,,
2009,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,Non Fiction,1462,Must Read
2010,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460,Non Fiction,172,Must Read
2011,11/22/63: A Novel,Stephen King,4.6,2052,Fiction,1892,Must Read
2012,Barefoot Contessa Foolproof: Recipes You Can T...,Ina Garten,4.8,1296,Non Fiction,2064,Must Read
2013,Allegiant,Veronica Roth,3.9,6310,Fiction,1118,Average
2014,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735,Fiction,2580,Must Read
2015,Adult Coloring Book: Stress Relieving Animal D...,Blue Star Coloring,4.6,2925,Non Fiction,516,Must Read
2016,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,Non Fiction,688,Must Read
2017,1984 (Signet Classics),George Orwell,4.7,21424,Fiction,516,Must Read
2018,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,Non Fiction,1290,Must Read
2019,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,Non Fiction,1032,Must Read

In [56]:
gb = df.groupby('Year')['Genre']
gb.first()

Year
2009    Non Fiction
2010    Non Fiction
2011        Fiction
2012    Non Fiction
2013        Fiction
2014        Fiction
2015    Non Fiction
2016    Non Fiction
2017        Fiction
2018    Non Fiction
2019    Non Fiction
Name: Genre, dtype: object

In [57]:
gb = df.groupby('Year')[['Name', 'UserRating']]
gb.first()

                                                   Name  UserRating
Year
2009  Act Like a Lady, Think Like a Man: What Men Re...         4.6
2010  A Patriot's History of the United States: From...         4.6
2011                                  11/22/63: A Novel         4.6
2012  Barefoot Contessa Foolproof: Recipes You Can T...         4.8
2013                                          Allegiant         3.9
2014  A Game of Thrones / A Clash of Kings / A Storm...         4.7
2015  Adult Coloring Book: Stress Relieving Animal D...         4.6
2016                      10-Day Green Smoothie Cleanse         4.7
2017                             1984 (Signet Classics)         4.7
2018            12 Rules for Life: An Antidote to Chaos         4.7
2019  5,000 Awesome Facts (About Everything!) (Natio...         4.8

 ### _Which Year has the average user rating ⮯_

In [58]:
gb = df.groupby('Year')['UserRating'].mean()
gb

Year
2009    4.584
2010    4.558
2011    4.558
2012    4.532
2013    4.554
2014    4.622
2015    4.648
2016    4.678
2017    4.660
2018    4.668
2019    4.740
Name: UserRating, dtype: float64

### _Which Year has the highest user rating_ ⮯

In [59]:
import numpy as np

gb = np.max ( df.groupby('Year')['UserRating'].mean().values )
gb

4.74

### _Which Genre has better user rating_ ⮯

In [60]:
gb = df.groupby('Genre')['UserRating'].mean()
gb

Genre
Fiction        4.648333
Non Fiction    4.595161
Name: UserRating, dtype: float64

 ### _Which Genre has the highest user rating_ ⮯

In [61]:
gb = df.groupby('Genre')['UserRating'].max()
gb

Genre
Fiction        4.9
Non Fiction    4.9
Name: UserRating, dtype: float64

###  _Which Genre has the lower user rating_ ⮯

In [62]:
gb = df.groupby('Genre')['UserRating'].min()
gb

Genre
Fiction        3.3
Non Fiction    4.0
Name: UserRating, dtype: float64

### _Total number of books published in each year_ ⮯

In [63]:
books = df.groupby('Year')['Name'].count()
books

Year
2009    50
2010    50
2011    50
2012    50
2013    50
2014    50
2015    50
2016    50
2017    50
2018    50
2019    50
Name: Name, dtype: int64

### _Total reviews in each genre ⮯_

In [64]:

df.groupby('Genre')['Reviews'].sum()

Genre
Fiction        3764110
Non Fiction    2810195
Name: Reviews, dtype: int64

### _Average reviews in each year_ ⮯

In [65]:

gb = df.groupby('Year')['Reviews'].mean()
gb

Year
2009     4710.12
2010     5479.62
2011     8100.82
2012    13090.92
2013    13098.14
2014    15859.94
2015    14233.38
2016    14196.00
2017    12888.40
2018    13930.42
2019    15898.34
Name: Reviews, dtype: float64

### _Category wise books count_ ⮯

In [66]:

gb = df.groupby('Category')['Name'].count()
gb

Category
Average        7
Good         151
Must Read    392
Name: Name, dtype: int64

### _Category wise rating_ ⮯

In [67]:

gb = df.groupby('Category')['UserRating'].max()
gb

Category
Average      3.9
Good         4.5
Must Read    4.9
Name: UserRating, dtype: float64

### _Category wise books count ⮯_

In [68]:

rev = df.groupby('Category')[['Name', 'Reviews']].sum()
rev = rev['Reviews']

### _Category wise books count ⮯_

In [69]:

gb = df.groupby('Category')[['Name', 'Reviews']].count()
gb

           Name  Reviews
Category
Average       7        7
Good        151      151
Must Read   392      392

In [70]:
gb['Reviews'] = rev
gb

           Name  Reviews
Category
Average       7   192882
Good        151  1502259
Must Read   392  4879164

### _Category wise books count and total reviews_ ⮯

In [71]:

gb = df.groupby('Category').agg( Total_Books = ('Name', 'count'), Total_Reviews = ('Reviews', 'sum') )
gb

           Total_Books  Total_Reviews
Category
Average              7         192882
Good               151        1502259
Must Read          392        4879164