# __2) Operators in Python__
### _Operators are used to perform operations on variables and values._
### _Operators in Python are special symbols or keywords that perform operations on one or more values, known as operands. Python supports various types of operators, categorized by the kind of operation they perform :_

##### _In the example below, we use the + operator to add together two values :_  ⮯

In [10]:
print(10 + 5)

15

# Python divides the operators in the following groups:

##### 1 )  Arithmetic operators
##### 2 )  Assignment operators
##### 3 ) Comparison operators
##### 4 )  Logical operators
##### 5 )  Identity operators
##### 6 )  Membership operators
##### 7 )  Bitwise operators

# 1) ➩➩ __Arithmetic Operators__

### _Arithmetic operators are used with numeric values to perform common mathematical operations :_

In [ ]:
# Operator           Example

+	Addition	     x + y 	
-	Subtraction      x - y	 
*	Multiplication	 x * y	
/	Division	     x / y	
%	Modulus	         x % y	
**	Exponentiation	 x ** y	
//	Floor division	 x // y

#  Addition  __+__
### _This operator can be used to __add numerical values directly__, values stored in variables, or even values obtained from user input._

In [15]:
a = 1
b = 3
print(a+b)

4

In [17]:
x = 5.7
y = 6.8
print(x+y)

12.5

In [1]:
a1 = "hello"
b2 = "Students"
print(a1+ " "+ b2)
print(a1+b2)

hello Students
helloStudents

In [21]:
x1 = 2+6j
y1 = 1+4j
print(x1+y1)

(3+10j)

In [22]:
w1 = -65
w2 = 5
print(w1+w2)

-60

# Substraction __-__
### _Subtraction in Python is performed using the ___minus sign__(-)___. This operator can be used with various numerical data types, including integers , floats , and even with more complex objects like datetime objects and timedelta objects ._

In [23]:
num1 = 56
num2 = 23
print(num1-num2)

33

In [2]:
a2, b2 = 3.5,5.2
print(a2-b2)
print(int(a2-b2))

-1.7000000000000002
-1

In [25]:
var1 = "hello"
var2 = 'students'         # we cannot perform substraction for string values
print(var1-var2)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [27]:
b1 = 5+5j
b2 = 2+4j            # complex (one is actual value and other one is imaginary value)
print(b1-b2)

(3+1j)

# Multiplication __*__
### _in Python, the primary way to perform multiplication is by using the_ ___asterisk (__*__) operator . This operator can be used with various data types :_

In [28]:
n = 56
m = 23
print(n*m)

1288

In [29]:
n1 = 456.5
m1 = 234.6
print(n1*m1)

107094.9

In [6]:
str1 = "Im Vijay, "
print(str1*5)

Im Vijay, Im Vijay, Im Vijay, Im Vijay, Im Vijay,

# Division  /
###  ___True Division (/)___ _(Forward Slash) : This operator performs standard division and always returns a floating-point number, even if both operands are integers and the result is a whole number._

In [1]:
a = 5
b = 6
print(a/b)

0.8333333333333334

In [2]:
a1 = 234.754
b1 = 531.46
print(a1/b1)

0.4417152749030971

In [4]:
comp1 = 1+5j
comp2 = 2+4j
print(comp1/comp2)

(1.1+0.3j)

In [5]:
str1 ="hello"
str2 = "world"                #we cannot devide string values,  it must be numeric
print(str1/str2)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [7]:
print(5.34/4)

1.335

In [6]:
print(23/45)

0.5111111111111111

# Modulus  __%__
### _In Python, the modulo operator , represented by the __percentage sign (%)__ , calculates the remainder of a division operation ._

In [1]:
                # %-modulus  - it gives the remainder of two numbers
print(5%2)
print(10%4)
print(15%3)
print(15%2)

1
2
0
1

In [15]:
result = 10 % 3          # 10 divided by 3 is 3 with a remainder of 1
print(result)

1

In [9]:
print(45%56)

45

In [10]:
print(38756845.5687%687554566.685)

38756845.5687

In [11]:
a1 = 554.5
b1 = 34.44
print(a1%b1)

3.4600000000000364

In [14]:
a2 = 5+6j
b2 = 4+5j                           # we cannot do complex values here.
print(a2 % b2)

TypeError: unsupported operand type(s) for %: 'complex' and 'complex'

# Exponent  **

### _exponents, also __known as powers ( __**__ )__ , are calculated by raising a base number to a specified power._

In [2]:
                                # ** - exponents
print(3**2)     # 3x3
print(3**3)     # 3x3x3
print(3**4)     # 3x3x3x3

9
27
81

In [14]:
print(2 ** 3)            # (2 raised to the power of 3)

8

In [13]:
a = 3
b = 4
print(a**b)

81

In [19]:
print(84086594865786845469.785468**6)

3.5347653980084264e+119

In [21]:
b1 = 8
b2 = 6
c = b1**b2
print(c)

262144

In [23]:
print(54.546**6)

26337675885.834545

# Floor Division   //
### _Floor division in Python is a mathematical operation that divides two numbers and rounds the result down to the nearest whole number. This operation is performed using the_ ___// operator.___

In [3]:
                     # // - 	Floor division - division without decimals
print(5/2)
print(5//2)

print(25/2)
print(25//2)

2.5
2
12.5
12

In [25]:
print(56//78)

0

In [26]:
print(683756.65//56)

12209.0

In [28]:
print(4687564856.78458//7656486.8765)

612.0

# Boolean Operator  [ True / False]
### _Boolean operators, also known as logical operators, are used to combine and evaluate Boolean expressions (expressions that result in True or False). The three main Boolean operators in Python are :_

In [29]:
a = True
print(type(a))

<class 'bool'>

In [31]:
b = False
print(type(b))

<class 'bool'>

# 2) __➩➩ Assignment Operators__
 ## _Assignment operators are used to assign values to variables:_ ⮯

In [ ]:
Operator	Example	     Same as
    
=	        x = 5	      x = 5	
+=          x += 3	      x = x + 3	
-=	        x -= 3	      x = x - 3	
*=	        x *= 3	      x = x * 3	
/=         	x /= 3	      x = x / 3	
%=       	x %= 3	      x = x % 3	
//=     	x //= 3	      x = x // 3	
**=	        x **= 3	      x = x & 3	
|=	        x |= 3	      x = x | 3	
^=	        x ^= 3	      x = x ^ 3	
>>=	        x >>= 3	      x = x >> 3	
<<=	        x <<= 3	      x = x << 3	
:=	      print(x := 3)   x = 3
                          print(x)

In [5]:
x = 5
print(x)
x += 3
print(x)

x -= 2
print(x)

x *= 3
print(x)

x /= 2
print(x)

5
8
6
18
9.0

# 3)  __➩➩  Comparison Operators__
### _Comparison operators in Python, also known as relational operators, are used to compare two values and return a Boolean result (True or False) based on the comparison._

In [ ]:
Operator   Name                  Example
    
==	     Equal	                    x == y	
!=	     Not equal	                x != y	
>	     Greater than	            x > y	
<	     Less than	                x < y	
>=	     Greater than or equal to	x >= y	
<=	     Less than or equal to	    x <= y

#### Equal to ==

In [33]:
x = 5
y = 8
print(x==y)

False

In [35]:
x = 5
y = 5
print(x==y)

True

#### Not Equal !=

In [36]:
x = 5
y = 6
print(x!=y)

True

In [37]:
a1 = 4
a2 = 4
print(a1!=a2)

False

#### Greatere than >

In [38]:
x = 5
y = 23
print(x>y)

False

In [39]:
y = 45.5
z = 43.8
print(y>z)

True

#### Less Than <

In [40]:
n = 56
m = 56
print(n<m)

False

In [41]:
y = 455.5
z = 333.8
print(z<y)

True

#### Greater than or Equal to >=

In [42]:
x = 56
y = 57
print(x>=y)

False

#### Less than Equal to <=

In [43]:
y = 45.5
z = 43.8
print(y<=z)

False

In [44]:
x = 43
y = 45
print(x<=y)

True

In [15]:
x=5
y=10
z=5

print( x==y )
print( x==z )
print( x!=y )

print(x>y)
print(y>z)
print(z<x)
print(x>=y)            # x is neither greater nor equal to y
print(x>=z)            # x is either greater than or equal to z

False
True
True
False
True
False
False
True

# 4) __➩➩ Logical Operators__
##  _Logical operators are used to combine conditional statements : ⮯_

In [ ]:
# Operator	Description	                                            Example	
    
and 	  Returns True if both statements are true              	x < 5 and  x < 10	
or        Returns True if one of the statements is true	            x < 5 or x < 4	
not	      Reverse the result, returns False if the result is true   	not(x < 5 and x < 10)

In [45]:
x = True
y = False
print(x and y)

False

In [16]:
x = True
y = False
print(x or y)

True

In [19]:
x and y

False

In [47]:
x = True
print(not x)

False

In [48]:
y = False 
print(not y)

True

In [12]:
print( 4>5 or 4==4 )
print( 4>5 and 4==4 )
print( not( 4>5 and 4==4 ))

True
False
True

In [13]:
not(4==4)

False

# 5) __➩➩ Identity Operators__
### _The identity operators compare the objects to determine whether they share the same memory and refer to the same object type (data type)._ ⮯

In [ ]:
Operator       Description                                      	 Example	
    
is       Returns True if both variables are the same object         	x is y	
is not	 Returns True if both variables are not the same object     	x is not y

In [9]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)       # Output: True (a and b refer to the same list object)
print(a is c)       # Output: False (a and c are different list objects, even with the same value)
print(a is not c)    # Output : True ( returns True because a and b are same Objects)
print(a is not b)

True
False
True
False

In [58]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a is not b)  # Output: True (a and b are different list objects)

True

In [61]:
               # Usecases
my_var = None
if my_var is None:
 print("my_var is None")

my_var is None

In [11]:
x = 5
y = 10
z = 5
print(x is y)
print(x is z)
print(x is not y)

False
True
True

# 6)  __➩➩ Membership Operators__
### _Membership operators are used to test if a sequence is presented in an object or not :_ ⮯

In [ ]:
# Operator                       	Description	                                              Example
    
in         Returns True if a sequence with the specified value is present in the object	      x in y	
not in     Returns True if a sequence with the specified value is not present in the object    x not

                        in

In [10]:
word = 'hello'

print('e' in word)
print('f' in word)
print('E' in word)
print('x' not in word)

True
False
False
True

In [23]:
my_list = [1, 2, 3, 4, 5]
print(3 in my_list)  
print(6 in my_list)

True
False

In [22]:
my_string = "hello"
print('h' in my_string)     
print('z' in my_string)

True
False

In [64]:
my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)       # Output: True (checks for key)
print(1 in my_dict)         # Output: False (does not check for value directly)

True
False

                    not in

In [65]:
my_list = [1, 2, 3, 4, 5]
print(6 not in my_list)  
print(3 not in my_list)

True
False

In [25]:
y_string = "hello"
print('z' not in my_string) 
print('h' not in my_string)

True
False

# 7)  __➩➩ Bitwise Operators__
### _Bitwise operators are used to compare (binary) numbers :_  ⮯

In [ ]:
# Operator Name                         	Description                                                            	Example
    
& 	    AND                   	Sets each bit to 1 if both bits are 1	                                          x & y	
|	    OR   	                Sets each bit to 1 if one of two bits is 1                                        x | y	
^	    XOR  	                Sets each bit to 1 if only one of two bits is 1	                                  x ^ y	
~	    NOT	                    Inverts all the bits                                                               ~x	
<<      Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	     x << 2	
>>      Signed right shift	    Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall of x >> 2

## _The precedence order is described in the table below, starting with the highest precedence at the top :_ ⮯

In [ ]:
# Operator	         Description

()	                Parentheses	
**                  Exponentiation	
+x  -x  ~x	        Unary plus, unary minus, and bitwise NOT	
*  /  //  %	        Multiplication, division, floor division, and modulus	
+  -	            Addition and subtraction	
<<  >>	            Bitwise left and right shifts	
&	                Bitwise AND	
^	                Bitwise XOR	
|	                Bitwise OR	
==  !=  >  >=        
<  <=  is  is       Comparisons, identity, and memberhip 
not  in  not in
not	                Logical NOT	
and	                AND	
or                  OR

## Practice Problems

In [ ]:
# EXAMPLE PROBLEM : 1

Nidhi and Shubh are two students in the same grade. They have a total of 3 subjects in the school. After
examination, they want to check whether their total marks are equal or not.   
So to help them write a program in python to take marks as input from two students. Print the overall score of both the students.    
Also, print "true" if they have an equal score or print "false" on the screen.
● Hint: Take the input for marks and then use the “==“ operator to print the answer.

In [7]:
nidhi_science = int(input('type your science score here: '))
nidhi_maths = int(input('type your maths score here: '))
nidhi_coding = int(input('type your coding score here: '))
nidhi_total = nidhi_science+nidhi_maths+nidhi_coding

shubh_science = int(input('type your science score here: '))
shubh_maths = int(input('type your maths score here: '))
shubh_coding = int(input('type your coding score here: '))
shubh_total = shubh_science+shubh_maths+shubh_coding

print(nidhi_total, shubh_total)

print(nidhi_total == shubh_total)

type your science score here:  67
type your maths score here:  89
type your coding score here:  78
type your science score here:  87
type your maths score here:  77
type your coding score here:  78

234 242
False

In [ ]:
# PROBLEM : 2

Varun is using a stopwatch to calculate his running speed. The stopwatch shows the time taken in seconds.
He wants to convert it into minutes and seconds. Write a program to help him with this.

● For input :
● Enter the number of seconds: 125
● Output :
● >> 2 minutes and 5 seconds

In [9]:
time = int(input("Enter the number of seconds" ))

mins = time//60
secs = time%60

print(mins, 'minutes', secs, 'seconds')

Enter the number of seconds 125

2 minutes 5 seconds

In [ ]:
# PROBLEM : 3

write a python program to calculate the percentage of the student in the subjects Maths,Science,Social,English and Hindi

In [1]:
x = input("enter the name of the student : ")

a = input("enter the marks scored in Maths")
b = input("enter the marks scored in Science")
c = input("enter the marks scored in Social")
d = input("enter the marks scored in English")
e = input("enter the marks scored in Hindi")

total_marks = int(a)+int(b)+int(a)+int(d)+int(e)
p = (total_marks/500)*100

print("percentage scored by the student ", x, "is", p,"%")

enter the name of the student :  Ranvijay
enter the marks scored in Maths 78
enter the marks scored in Science 78
enter the marks scored in Social 98
enter the marks scored in English 97
enter the marks scored in Hindi 87

percentage scored by the student  Ranvijay is 83.6 %