# __8) Lists in Python__
### _Lists are used to store multiple items in a single variable._

### _Lists are one of 4 built-in data types in Python used to store collections of data , the other 3 are Tuple , Set , and Dictionary , all with different qualities and usage._

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [1]:
num = [4, 55, 64, 32, 16, 32]
print(num)
print(type(num))

[4, 55, 64, 32, 16, 32]
<class 'list'>

In [3]:
mylist = ["a","b","c"]
print(mylist)
print(type(mylist))

['a', 'b', 'c']
<class 'list'>

In [4]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

## Python Collections (Arrays)
### There are four collection data types in the Python programming language :

#### 1) __List__ is a collection which is __ordered and changeable(mutable). Allows duplicate members__.
#### 2) __Tuple__ is a collection which is __ordered and unchangeable. Allows duplicate members__.
#### 3) __Set__ is a collection which is __unordered, unchangeable*, and unindexed. No duplicate members__.
#### 4) __Dictionary__ is a collection which is __ordered** and changeable. No duplicate members__.

# __Properties of Lists__
##### 1) __Ordered__ :      The elements in a list are ordered, which means that you can access them by their index.
##### 2) __Mutable__ :      Unlike tuples, lists are mutable, which means that you can add, remove, or modify elements in a list.
##### 3) __Heterogeneous__ : A list can contain elements of different data types.
##### 4) __Iterable__ :     You can iterate over the elements of a list using a loop.
##### 5) __Indexable__ :    You can access the elements of a list using their index.
##### 6) __Nested__ :       You can nest lists within other lists to create complex data structures.

# Ordered
#### _When we say that lists are ordered, it means that the items have a defined order, and that order will not change._

In [6]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]
print(fruits[0])

apple

In [5]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]
print(fruits[2])

cherry

In [4]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]
print(fruits[3])

mango

In [3]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]
print(fruits[1:3])

['banana', 'cherry']

In [5]:
x = [12,24,43,37,86,45,86,67,65,43,32,65,68]

print(len(x,), print(type(x)))
print(x[2:-5])

<class 'list'>
13 None
[43, 37, 86, 45, 86, 67]

# Mutable or Changeable

#  Heterogenous
### _A heterogeneous structure involves different file types being concatenated in the list._   
#### _such as __[123,"hello", True ["4324.543.54."]]__ etc..._

In [11]:
mixed_list = [ "apple", 3.34, [2,4,6]]
print(mixed_list)

['apple', 3.34, [2, 4, 6]]

In [19]:
list1 = ["apple", "banana", "cherry",1, 5, 7, 9, 3,True, False,23.4,34.5,0.45,3.5]
print(len(list1))
print(type(list1))

14
<class 'list'>

# Allow Duplicates
### _Since lists are indexed, lists can have items with the same value :_

In [1]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

# List Length
### _To determine how many items a list has , use the __len() function__ :_

In [1]:
thislist = ["apple banana"]
print(len(thislist))

1

In [7]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [23]:
list1 = ["apple..-.banana","color", "cherry",1,9, 3,True,3.5]
print(len(list1))
print(type(list1))

8
<class 'list'>

# List Items
### _List items are ordered, changeable, and allow duplicate values._

### _List items are indexed, the first item has index [0], the second item has index [1] etc._

# ➩ __List items - Data types__
### _Lists are used to store multiple items in a single variable. Lists are one of 4 built-in data types in Python used to store collections of data._  
### _List items can be of any data type :_

In [26]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = [23.4,34.5,0.45,3.4]

print(list1)
print(list1, list2)
print(list2)
print(list3)
print(list4, type(list4))

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry'] [1, 5, 7, 9, 3]
[1, 5, 7, 9, 3]
[True, False, False]
[23.4, 34.5, 0.45, 3.4] <class 'list'>

In [3]:
lst = [4,8,100,'hello', True, 8.39]
print(lst)
print(type(lst))
print(len(lst))

[4, 8, 100, 'hello', True, 8.39]
<class 'list'>
6

In [7]:
# A list can contain different data types : A list with strings, integers and boolean values :

list1 = ["abc", 34, True, 40, 50.02,60.45, 56+6j, "male","books"]
print(list1)
print(type(list1))
print(type(list1[1]))

['abc', 34, True, 40, 50.02, 60.45, (56+6j), 'male', 'books']
<class 'list'>
<class 'int'>

In [8]:
print(type(list1[4]))

<class 'float'>

In [9]:
print(type(list1[6]))

<class 'complex'>

# ➩ __The list() Constructor__
### It is also possible to use the list() constructor when creating a new list.

In [7]:
lst = list(("apple", "banana", "cherry"))          # note the double round-brackets
print(lst)

['apple', 'banana', 'cherry']

In [28]:
a = [2] * 5               # Create a list [0, 0, 0, 0, 0, 0, 0]  
b = [0] * 7
c = ["Hello"] * 4

print(a)
print(b)
print(c)
print(a +c)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]
['Hello', 'Hello', 'Hello', 'Hello']
[2, 2, 2, 2, 2, 'Hello', 'Hello', 'Hello', 'Hello']

# ➩ __Index() method__  ( to check the specific index numbers)
### _Returns the index of the first element with the specified value :_

In [33]:
f = ['apple', 'banana', 'cherry']
x =  f.index("cherry")

print(x)
print(f[1])

2
banana

In [14]:
f = ['apple', True, 56.78, 56+6j, 56,67,98]

print(f.index(True))
print(f.index(56.78))
print(f.index(67))

1
2
5

In [15]:
nums = [4, 55, 64, 32, 16, 32]
x = nums.index(32)
print(x)

3

In [10]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange', 'cherry']
x = fruits.index("cherry")
print(x)

2

In [11]:
a = ['Learn', 'Python', 'with', 'me']
try:
    index = a.index('Python')
    print("String found at index", index)
except ValueError:
    print("String not found!")

String found at index 1

#             ➩➩   __Access list Items__  (indexing)
### _List items are indexed and you can access them by referring to the index number:_

# Range of positive indexes
### You can specify a range of indexes by specifying where to start and where to end the range.

In [16]:
thislist = ["apple", "banana", "cherry"]                # Access second element
print(thislist[1])

banana

In [7]:
animals = ['cat', 'dog', 'bird', 'fish']
print(animals[1])
print(animals[3])

dog
fish

In [6]:
a = [10, 20, 30, 40, 50]                 # Access first element
print(a[0])

10

In [26]:
li = ['0', '1', '2']
print(li[0])  
print(li[1])

0
1

In [3]:
lst = [4,8,100,'hello', True, 8.39]

print(lst)
print(lst[0])
print(lst[1])
print(lst[2])
print(lst[3])

print(lst[-1])

[4, 8, 100, 'hello', True, 8.39]
4
8
100
hello
8.39

# Range of Negative Indexes

In [9]:
thislist = ["apple", "banana", "cherry"]           # Access last element
print(thislist[-1])

cherry

In [8]:
li = [1, 2, 3]
print(li[-1])  
print(li[-2])

3
2

 # ➩ __Slicing list items__  
### _You can return a range of characters by using the slice syntax. Specify the start index and the end index, separated by a colon, to return a part of the string._    
## start : stop : step
# __Basic list slicing__

In [10]:
a = [10, 20, 30, 40, 50]           
print(a[0:3])

[10, 20, 30]

In [11]:
numbers = [12,32,54,35,78,98,73,45,34,75]
print(numbers[0:4])

[12, 32, 54, 35]

In [12]:
list = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]   # omiting slicing
print(list[:4])

['apple', 'banana', 'cherry', 'orange']

In [13]:
list1 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]    # omiting slicing
print(list1[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [14]:
numbers = [12,32,64,54,78,98,74,45,34,75]                    # omiting slicing
print(numbers[:])

[12, 32, 64, 54, 78, 98, 74, 45, 34, 75]

In [15]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = a[1:4]
print(b)

[2, 3, 4]

In [16]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = a[2:2]
print(b)
c = a[1:8:3]
print(c)

[]
[2, 5, 8]

In [17]:
num = [43,54,56,76,87,9,86,16,53,12,42,24,22,54]
print(num[:2:])

[43, 54]

# __indexing with step__

In [18]:
num = [43,54,56,76,87,9,86,16,53,12,42,24,22,54]
print(num[::2])                   # index positon  always starts with 0

[43, 56, 87, 86, 53, 42, 22]

In [19]:
num = [43,54,56,76,87,9,86,16,53,12,42,24,22,54]
print(num[::4])

[43, 87, 53, 22]

In [20]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

              # Get all elements in the list
print(a[::])
print(a[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
lst = [4,8,100,'hello', True, 8.39]
print(lst[3:6])       # start : stop : steps
print(lst[1:])        # index 1 to the end
print(lst[:3])        # from index 0 to 2

print(lst[0:6:2])
print(lst[6::-1])
print(lst[::-1])      # reversing a list

['hello', True, 8.39]
[8, 100, 'hello', True, 8.39]
[4, 8, 100]
[4, 100, True]
[8.39, True, 'hello', 100, 8, 4]
[8.39, True, 'hello', 100, 8, 4]

In [25]:
c =[23,345,56.77,56.78,"hello","hi", True,76,78,56,45,78+8j]
d = [ 34,456,76,"vijay", "Chauhan"]
e = c + d

print(e)
print(e[11])
print(e[11:])

[23, 345, 56.77, 56.78, 'hello', 'hi', True, 76, 78, 56, 45, (78+8j), 34, 456, 76, 'vijay', 'Chauhan']
(78+8j)
[(78+8j), 34, 456, 76, 'vijay', 'Chauhan']

# ➩➩ __Change List items__ (mutability property of lists)
#### Change the item value
# __Changing Elements == Updating Elements into List__
### _We can change the value of an element by accessing it using it's index_.

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [26]:
a = [12,23,54,76,87,98,76,54,43,21]
a[3] = "Students"
print(a)

[12, 23, 54, 'Students', 87, 98, 76, 54, 43, 21]

In [27]:
a = [10, 20, 30, 40, 50]
a[1] = 25 
print(a)

[10, 25, 30, 40, 50]

# ➩ Change a Range of Item Values
### _To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values_:

In [23]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [28]:
a = [12,23,54,76,87,98,76,54,43,21]
a[2:4] = ["Students", "class",54673]
print(a)

[12, 23, 'Students', 'class', 54673, 87, 98, 76, 54, 43, 21]

In [29]:
a = [12,23,54,76,87,98,76,54,43,21]
a[3:] = "Students", "class"
print(a)

[12, 23, 54, 'Students', 'class']

In [30]:
a = [10, 20, 30, 40, 50]
a[1:2] = 25 , 23
print(a)

[10, 25, 23, 30, 40, 50]

# Chceck if the element is present in the list

In [31]:
list = ["apple", "banana", "cherry"]
if "apple" in list:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [32]:
li = ["hello","Ranvijay", 'a','c', 'k', 45,65,67,False,85.5,34,56.678,4.4,True]
65 in li

True

In [33]:
li = ["hello","Ranvijay", 'a','c', 'k', 45,65,67,False,85.5,34,56.678,4.4,True]
88.7 in li

False

In [34]:
list1 = ["hello","Ranvijay", 'a','c', 'k', 45,65,67,False,85.5,34,56.678,4.4,True]
if "Ranvijay" in list1:
    print("Ranvijay is present")
else:
    print("Not Found!")

Ranvijay is present

# ➩➩   __Add List Items__

### Methods to add list items -- ___by taking index of element, replacing values ,  append() , insert() , extend() , and we can also use '+' operator to join multiple lists___.
# ⮩ __Append Items__
### _The __append()__ method appends (adds) an element to the end of the list._

In [18]:
li = [1, 2, 3]
li.append(4)
print(li)

[1, 2, 3, 4]

In [19]:
li = [1, 2, 3]
li.extend([4, 5, 6])
print(li)

[1, 2, 3, 4, 5, 6]

In [28]:
list = ["apple", "banana", "cherry"]
list.append("orange")
print(list)

['apple', 'banana', 'cherry', 'orange']

In [77]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [22]:
li = []                # adding items using loop
for i in range(5):
    li.append(i)
print(li)

[0, 1, 2, 3, 4]

In [31]:
newnames = []
for i in names:
    if i[0]=='a':
        newnames.append(i)

print(newnames)

[]

In [19]:
mylist= []
for i in range(1,1000):
    if str(i)[::-1] == str(i):
        mylist.append(i)

print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

In [42]:
# Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [20]:
# names = []

for i in range(6):
    name = input()
    names.append(name)
print(names)
for i in names:
    if i[0]=='a':
        print(i)

 56
 True
 Vijay
 56.8
 6+8j
 89

['56', 'True', 'Vijay', '56.8', '6+8j', '89']

# ⮩ __Insert List Items__
### _To insert a new list item, without replacing any of the existing values, we can use the __insert() method.___  
### _The __insert()__ method inserts the specified value at the specified position._

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [37]:
mylst = ["apple", "banana", "cherry"]
mylst[1] = ("orange")
print(mylst)

['apple', 'orange', 'cherry']

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [38]:
a = [1, 2, 3]
a.insert(1, 100)
print(a)

[1, 100, 2, 3]

In [40]:
li = [1, 2, 3]
for i in [4, 5, 6]:
    li.insert(1, i)  # Inserts items at index 1 one by one
print(li)

[1, 6, 5, 4, 2, 3]

# ⮩ __extend() method__
### _To append elements from another list to the current list, use the __extend() method.___  
### _The __extend()__ method adds the specified list elements (or any iterable) to the end of the current list._

In [41]:
x = ["apple", "banana", "cherry"]
y = ["mango", "pineapple", "papaya"]
x.extend(y)
print(x)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [37]:
fruits = ['apple', 'banana', 'cherry']
cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)

print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [38]:
fruits = ['apple', 'banana', 'cherry']
points = (1, 4, 5, 9)
fruits.extend(points)

print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [39]:
lst = [4,8,100,'hello', True, 8.39] 
new = [1,2,3,4]

lst.extend(new)
print(lst)

[4, 8, 100, 'hello', True, 8.39, 1, 2, 3, 4]

In [40]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [41]:
a = [1, 2, 3]          # Iterate any item using extend method
a.extend([4, 5, 6])

b = [x for x in range(7, 10)]
a.extend(b)

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# ⮩ replacing the elements

In [24]:
lst = [4,8,100,'hello', True, 8.39]                      # replacing an element of a list
lst[2] = 'hi there'
print(lst)

[4, 8, 'hi there', 'hello', True, 8.39]

In [25]:
lst[5] = "How are you"
print(lst)

[4, 8, 'hi there', 'hello', True, 'How are you']

In [26]:
print( len(lst) )

6

In [27]:
type(lst)

list

#  ➩ __Join Two Lists__
### _There are several ways to join , or concatenate , two or more lists in Python._
### _One of the easiest ways are by using the + operator._

In [28]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [29]:
list1 = ["hello","Ranvijay"] 
list2 = [45,65,67,78,90,98]
list3 = [85.5,3.4,"5.67.00",7.8,0.04,]
list4 = [ True, False]

print(list1 + list2 + list3 + list4)

['hello', 'Ranvijay', 45, 65, 67, 78, 90, 98, 85.5, 3.4, '5.67.00', 7.8, 0.04, True, False]

In [128]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [68]:
list1 = ["a", "b" , "c"]      # Append list2 into list1:
list1.append('2')

print(list1)

['a', 'b', 'c', '2']

In [66]:
list1 = ["a", "b" , "c"]      # Append list2 into list1:
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', '2']

In [64]:
list1 = ["a", "b" , "c"]              # extend method
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [39]:
a = [1, 2, 3]           # list concatenation
a = a + [4, 5]
print(a)

[1, 2, 3, 4, 5]

# ➩ __Remove List Items__
### ⮩ _The __remove()__ method removes the specified item._  
### _The __remove()__ method removes the first occurrence of the element with the specified value._

### _Methods to remove list items -- __remove(), pop() ,  del keyword, clear() method___

In [51]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [34]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [126]:
a = [10, 20, 30, 40, 50]
a.remove(40)
print(a)

[10, 20, 30, 50]

In [73]:
new1 = [15,22,32,34,32,72,63,75]
print(new1)

new1.remove(32)
print(new1)

[15, 22, 32, 34, 32, 72, 63, 75]
[15, 22, 34, 32, 72, 63, 75]

In [7]:
                                          # append - to append something in the list
lst = [4,8,100,'hello', True, 8.39]
lst.append('anything')
print(lst)

                                         # remove - to remove something in the list
lst.remove(100)
print(lst)

[4, 8, 100, 'hello', True, 8.39, 'anything']
[4, 8, 'hello', True, 8.39, 'anything']

# ⮩ __pop() method__ 
### _The __pop()__ method removes the specified index._

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [40]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.pop(2)

print(x)

cherry

In [25]:
list6 = ["apple", "banana", "cherry"]
list6.pop()
print(list6)

['apple', 'banana']

In [41]:
lst2 = ["apple",22,45,True,55.2,01.00545, "banana", "cherry"]
lst2.pop(-3)
print(lst2)

['apple', 22, 45, True, 55.2, 'banana', 'cherry']

In [9]:
                                      # insert - to insert something at any index
lst = [4,8,100,'hello', True, 8.39]
lst.insert(3, 'python')
print(lst)

          # pop -             to remove something from a list using index
lst.pop(4)
print(lst)

[4, 8, 100, 'python', 'hello', True, 8.39]
[4, 8, 100, 'python', True, 8.39]

# ⮩ __del keyword__
### _The __del__ keyword also removes the specified index :_
### _The pop() method and Del keyword removes the list items with specified indexes_.

In [38]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [77]:
mylist = ["apple", "banana", "cherry", 2453, 46655, 7666, 9658, 66567]

del mylist [2]
del mylist[-1]
del mylist[-5]

print(mylist)

['apple', 2453, 46655, 7666, 9658]

#  ⮩ __Clear the List__
### _The __clear()__ method empties the list._

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [79]:
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
print(fruits)

[]

# ➩ __Loop Lists__
# __Loop through a List__
## _Iterate over a list - using For loop_

In [17]:
word = 'hello'
for i in word:
    print(i)

h
e
l
l
o

In [18]:
lst = [4,8,100,'hello', True, 8.39]
for i in lst:
    
    print(i)

4
8
100
hello
True
8.39

In [19]:
lst = [4,8,100,'hello', True, 8.39]
for i in range(6):
    
    print( lst[i] )

4
8
100
hello
True
8.39

In [20]:
lst[2]

100

In [47]:
numbers = [10, 20, 30, 40, 50]

                     # Using a for loop to access list items
for num in numbers:
    print(num)

10
20
30
40
50

In [36]:
a = [1, 3, 5, 7, 9]
n = len(a) 
                         # Iterates over the indices from 0 to n-1 (i.e., 0 to 4)
for i in range(n):
    print(a[i])

1
3
5
7
9

In [42]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [41]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [81]:
list1 = ["apple", "banana", "cherry"]
[print(x) for x in list1]

apple
banana
cherry

[None, None, None]

In [82]:
lst = ['Learn', 'Python', 'With', 'Ranvijay']

found = False
for item in lst:
    if item == 'Python':
        found = True
        break

if found:
    print("String found!")
else:
    print("String not found!")

String found!

## ⮩ _Iterate over a list - Using while loop_
#### You can loop through the list items by using a while loop.

In [43]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
  i = i + 1             # i += 1

apple
banana
cherry

In [35]:
a = [1, 3, 5, 7, 9]
i = 0 
                              # The loop runs till the last index (i.e., 4)
while i < len(a):
    print(a[i])
    i += 1

1
3
5
7
9

# ➩   __List Comprehension__
### _List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list._

In [34]:
x = [i for i in range(1,11)]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [49]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [50]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [51]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]           # Using range function

newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]           # Using upper function

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [55]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]           

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [29]:
a = [10, 20, 30, 40, 50]
b = [1, 3, 4]

res = [a[i] for i in b]
print(res)

[20, 40, 50]

In [40]:
a = [[1, 2], [3, 4], [5, 6]]
b = [i for sub in a for i in sub]

print(b)

[1, 2, 3, 4, 5, 6]

In [44]:
pals1 = [i for i in range(1,1000) if str(i)[::-1] == str(i)]

print(pals1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

In [45]:
even_pals = [i for i in pals1 if i%2==0]
print(even_pals)

[2, 4, 6, 8, 22, 44, 66, 88, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898]

In [46]:
odd_pals = [i for i in pals1 if i%2!=0]
print(odd_pals)

[1, 3, 5, 7, 9, 11, 33, 55, 77, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

In [41]:
122%2

0

In [ ]:
# Example Problem in list comprehension.

A teacher created a list of names of the students. Now teachers want to get the name of all those
students whose name starts with the letter “A”. To help the teacher write a python program and create
a list of names of students. Then print the names which start with the letter “A”. (Hint: Use for loop and
give condition I [0] == “A” )

In [44]:
studs = ['jimmy', 'rocky', 'abhishek', 'simba', 'arman', 'sabrina', 'adele']

studs2 = [name for name in studs if name[0]=='a']
print(studs2)

['abhishek', 'arman', 'adele']

# ➩ __Sort Lists__
### _List objects have a __sort()__ method that will sort the list alphanumerically , ascending , by default :_   
# ➩ Sort Ascending
### ⮩ _The __sort()__ method sorts the list ascending by default._

In [83]:
mylist = ["orange", "mango", "kiwi", "pineapple", "banana"]
mylist.sort()
print(mylist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]          # Case sensitive sort
thislist.sort()
print(thislist)

In [86]:
mylist = [100, 96, 50, 65, 82, 42, 23]
mylist.sort()
print(mylist)

[23, 42, 50, 65, 82, 96, 100]

In [89]:
                                               # sorting a list
numlist = [1, 2, 3, 4, 2.78, 5, 0.00656 ]
numlist.sort()
print(numlist)

[0.00656, 1, 2, 2.78, 3, 4, 5]

In [51]:
words = ['hey', 'buddy', 'cool', 'python', 'obvious']
words.sort()
print(words)

['buddy', 'cool', 'hey', 'obvious', 'python']

# ⮩ Sorting with __def function__

In [90]:
                                    # A function that returns the length of the value:
def myfunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key = myfunc)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [33]:
def myfunc(n):                   # Custemized sort function
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [36]:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]
cars.sort(key=myFunc)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [37]:
def myFunc(e):                      # A function that returns the length of the value:
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key = myFunc)
print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']

# ➩ Sort Descending
## _To sort descending , use the keyword argument __reverse = True__ :_

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

In [52]:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

In [59]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [53]:
words = ['hey', 'buddy', 'cool', 'python', 'obvious']
words.sort(reverse=True)
print(words)

['python', 'obvious', 'hey', 'cool', 'buddy']

In [93]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]      # Case insensitive sort
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

# ➩ __Reverse Order__
### _The __reverse()__ method reverses the current sorting order of the elements._

In [62]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [91]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [42]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [144]:
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [45]:
a = ["a", "b", "c", "d"]
b = reversed(a)
for x in b:
  print(x)

d
c
b
a

# ➩ __Copy a List__
### _You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2._
# ⮩ __copy() method__
### _You can use the built-in List method __copy()__ to copy a list._

In [69]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [46]:
thislist = ("apple", "banana", "cherry")
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [47]:
thislist = ["apple", "banana", "cherry"]             # Using slice
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

# ⮩  __count() method__ 
### _The __count()__ method  returns the number of elements with the specified value._

In [49]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.count("cherry")
print(x)

1

In [50]:
points = [1, 4, 3, 1, 9, 7, 2, 9, 7, 8, 9, 3, 1]

print(points.count(9))

3

In [51]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]
x = points.count(9)
print(x)

2

# ➩ __Nested Lists in Python__
### _A nested list is a list within another list, which is useful for representing matrices or tables . We can access nested elements by chaining indexes ._

In [52]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]                                # Access element at row 2, column 3
print(matrix[1][2])

6

In [37]:
a = [[1, 2], [3, 4], [5, 6]]

for sublist in a:
    for item in sublist:
        print(item)

1
2
3
4
5
6

In [38]:
                                        # Itrate over list of lists
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for i in a:
    for j in i:
        print(j, end=' ')
    print()

1 2 3
4 5 6
7 8 9

# ➩ __Get list as input Using split() Method__
###  ⮩ ___input() function__ can be combined with __split()__ to accept multiple elements in a single line and store them in a list._    
### _The __split()__ method separates input based on spaces and returns a list._

In [100]:
user_input = input("Enter elements separated by space: ").split()

print("List:", user_input)

Enter elements separated by space:  567,678,56,779,897,789

List: ['567,678,56,779,897,789']

In [107]:
# Get user input, split it, and convert to integers

user_input = list(map(int, input("Enter numbers separated by space: ").split()))
print("List:", user_input)

Enter numbers separated by space:  56 65 67 78 98

List: [56, 65, 67, 78, 98]

In [17]:
# Get user input for a nested list

user_input = [x.split(",") for x in input("Enter nested list (use commas and semicolons): ").split(";")]

print("Nested List:", user_input)

Enter nested list (use commas and semicolons):  hello, hi

Nested List: [['hello', ' hi']]

In [16]:
n = int(input("Enter the number of elements: "))

# Use list comprehension to get inputs
a = [input(f"Enter element {i+1}: ") for i in range(n)]

print("List:", a)

Enter the number of elements:  2
Enter element 1:  hello
Enter element 2:  hi

List: ['hello', 'hi']

In [13]:
a = []
                                            # Get the number of elements
n = int(input("Enter the number of elements: "))
                                            # Append elements to the list
for i in range(n):
    element = input(f"Enter element {i+1}: ")
    a.append(element)

print("List:", a)

Enter the number of elements:  3
Enter element 1:  python
Enter element 2:  is
Enter element 3:  awesome

List: ['python', 'is', 'awesome']

In [110]:
a = [[4, 3, 5], [1, 2, 3], [3, 7, 4]]
b = [[1, 3], [9, 3, 5, 7], [8]]

a = [x + y for x, y in zip(a, b)]
print(a)

[[4, 3, 5, 1, 3], [1, 2, 3, 9, 3, 5, 7], [3, 7, 4, 8]]

# ⮩ __Using map Function__
### _The __map ()__ function is another way to access elements at specific indexes. It applies a function to every item in the list of indexes and gives us the result as a list_.

In [160]:
def myfunc(n):
  return len(n)

x = map(myfunc, ('apple', 'banana', 'cherry'))
print(x)

<map object at 0x000002B870D94640>

In [159]:
def myfunc(a, b):
  return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
print(x)

<map object at 0x000002B870E7A530>

# ➩ __lambda function__
### _Lambda functions in Python are small, anonymous functions defined using the lambda keyword._
###  _A lambda function can take any number of arguments, but can only have one expression._

In [111]:
x = lambda a : a + 10
print(x(5))

15

In [112]:
x(6)

16

In [161]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [162]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [163]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [113]:
a = [10, 20, 30, 40, 50]
b = [1, 3, 4] 

res = list(map(lambda i : a[i], b))
print(res)

[20, 40, 50]

In [114]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

# Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [115]:
a = [1, 2, 3, 4, 5]

# Use map() with lambda to square each number
b = map(lambda x: x**2, a)

# Convert the map object to a list and print it
print(list(b))

[1, 4, 9, 16, 25]

# Converting Set into List

### _Note :Set does'nt allow duplicates._

In [55]:
nums={1,2,2,2,2,2,2,'hello', 3,'python', 4,2.78, 5, 4, 3, 2, 3, 5, 6, 4, 3, 2, 3, 2}
print(nums)

{1, 2, 3, 'hello', 4, 2.78, 5, 6, 'python'}

In [56]:
nums.add('interesting')
print(nums)

{1, 2, 3, 'hello', 4, 2.78, 5, 6, 'python', 'interesting'}

In [57]:
nums.remove(3)
print(nums)

{1, 2, 'hello', 4, 2.78, 5, 6, 'python', 'interesting'}

In [116]:

numslist = [1,2,2,2,2,2,2,'hello', 3,'python', 4,2.78, 5, 4, 3, 2, 3, 5, 6, 4, 3, 2, 3, 2]
print(numslist)

                                          # removing duplicates
numslist = set(numslist)
print(numslist)

                                          # converting back into a list
numslist = list(numslist)
print(numslist)

[1, 2, 2, 2, 2, 2, 2, 'hello', 3, 'python', 4, 2.78, 5, 4, 3, 2, 3, 5, 6, 4, 3, 2, 3, 2]
{1, 2, 3, 4, 2.78, 'hello', 5, 6, 'python'}
[1, 2, 3, 4, 2.78, 'hello', 5, 6, 'python']

# Practice Questions

In [ ]:
# PROBLEM : 1 

Given the listscores = [55, 89, 76, 65, 93, 50, 72]
Write a Python expression to create a new list that contains only the scores that are above 70.

In [67]:
scores = [55, 89, 76, 65, 93, 50, 72]
high_score = []

for score in scores:
    if score > 70:
        high_score.append(score)
    else:
        pass

print(high_score)

[89, 76, 93, 72]

In [ ]:
# PROBLEM : 2

Given the listdata = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Write a Python expression to:

1. Get the sum of the first five elements.
2. Reverse the entire list.

In [68]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sum_first_five = sum(data[:5])
print("the sum of first five item is", sum_first_five)

reverse = data[::-1]
print("the reverse string is", reverse)

the sum of first five item is 15
the reverse string is [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# PROBLEM : 3

Given the list numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Write Python expressions to:
1. Create a new list with the first half and the second half swapped.
2. Print the sum of the last three elements.

Input:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Output should be:
[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
27

In [75]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_list = numbers[:5]
scnd_half = numbers[5:]
swap = scnd_half + new_list

print( "New list with the first half :  ", new_list)
print("Second half       :       ", scnd_half)
print()
print(swap)

New list with the first half :   [1, 2, 3, 4, 5]
Second half       :        [6, 7, 8, 9, 10]

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

In [ ]:
# PROBLEM : 4

write a python program to interchange first and last elements in a list

In [148]:
a = [10,23,67,78,20, 56,30,55, 68, 40, 85,50,95,56,45]
print(a)
print(len(a))

b = a[0]
a[0] = a[14]
a[14] = b

print("now the new list is : ", a)

[10, 23, 67, 78, 20, 56, 30, 55, 68, 40, 85, 50, 95, 56, 45]
15
now the new list is :  [45, 23, 67, 78, 20, 56, 30, 55, 68, 40, 85, 50, 95, 56, 10]

In [ ]:
# PROBLEM : 5

Task: Data Cleaning
You have a list responses containing responses from a survey. However, some responses are recorded as empty strings due to data entry errors.
Your task is to remove these empty responses from the list.

Write Python code to remove all empty responses from the responses list:
responses = ["Yes", "", "No", "", "Maybe", "", "", "Yes", "No", ""]

In [47]:
responses = ["Yes", "", "No", "", "Maybe", "", "", "Yes", "No", ""]
clean = []

for response in responses:
    if response != "":
        clean.append(response)
    else:
        pass

print(clean)

['Yes', 'No', 'Maybe', 'Yes', 'No']

In [ ]:
# PROBLEM : 6

Data Analysis Scenario:
You have two lists containing exam scores of students from two different classes.
The lists are class1_scores and class2_scores.
You need to analyze the performance of the classes by calculating the average score for each class.
Write Python code to calculate the average score for each class:

class1_scores = [85, 90, 88, 92, 78]
class2_scores = [75, 82, 80, 85, 79]

In [193]:
class1_scores = [85, 90, 88, 92, 78,86,67,63,78]
class2_scores = [75, 82, 80, 85, 79,65,60,75,85]

average1 = sum(class1_scores)/len(class1_scores)
average2 = sum(class2_scores)/len(class2_scores)

print("The average score of class 1 is : ", int(average1))
print("The average score of class 2 is : ", int(average2))

The average score of class 1 is :  80
The average score of class 2 is :  76

In [ ]:
# PROBLEM : 7
Given two lists:
list1 = [[1, 2], [3, 4], [5, 6]]   and list2 = [[7, 8], [9, 10]]
Concatenate them into a single list of lists:

In [119]:
list1 = [[1, 2], [3, 4], [5, 6]]  
list2 = [[7, 8], [9, 10]]
combined = list1 + list2
print(combined)

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

In [ ]:
# PROBLEM : 8

Given a list of sentences:
sentences = ["Hello, world!", "Python is awesome!", "I love coding!"]
Join the sentences into a single string separated by newline characters:

In [197]:
sentences = ["Hello, world!", "Python is awesome!", "I love coding!"]

joined_string = "\n".join(sentences)
print("Joined string with newline characters:\n", joined_string)

Joined string with newline characters:
 Hello, world!
Python is awesome!
I love coding!

In [ ]:
# PROBLEM : 9
a. Create a list named data_points containing integers representing data values: [10, 20, 25, 30, 35, 40, 50, 55]
b. Add the value 60 to the end of the list.
c. Insert the value 5 at the beginning of the list.
d. Remove the value 30 from the list.
e. Print the modified list.

In [6]:
data_points = [15, 20, 25, 30, 35, 40, 50, 55]

data_points.append(60)
print(data_points)
data_points.insert(0, 5)
print(data_points)
data_points.remove(30)

print("modifies list is : ", data_points)

[15, 20, 25, 30, 35, 40, 50, 55, 60]
[5, 15, 20, 25, 30, 35, 40, 50, 55, 60]
modifies list is :  [5, 15, 20, 25, 35, 40, 50, 55, 60]

In [ ]:
# PROBLEM : 10

Student Enrollment Status:

You are managing student enrollments for a course and want to determine their enrollment status based on their course credits.
Create a program that:

1. Asks the user to input the number of students.
2. Asks the user to input the course credits for each student, storing them in a list.
3. Determines the enrollment status for each student:
"Full-time" if course credits are greater than or equal to 12.
"Part-time" if course credits are less than 12.
4. Prints out the enrollment status for each student.

In [7]:
num_students = int(input("enter the number of students"))

course_credits = []

for i in range(num_students):
    credits = int(input("enter the course credit for student:"))
    course_credits.append(credits)
    print(course_credits)

enrollment_status = []

for credits in course_credits:
    if credits >= 12:
        enrollment_status.append("Full_time")
    else:
        enrollment_status.append("part-time")

for i in range(num_students):
    print(f"student {i+1} : enrollment status - {enrollment_status[i]}")

enter the number of students 3
enter the course credit for student: 14

[14]

enter the course credit for student: 26

[14, 26]

enter the course credit for student: 20

[14, 26, 20]
student 1 : enrollment status - Full_time
student 2 : enrollment status - Full_time
student 3 : enrollment status - Full_time

In [ ]:
# PROBLEM : 11

Age Group Classification:

You are analyzing demographic data and want to classify people into different age groups. Create a program that:
Asks the user to input the number of people.
Asks the user to input the ages of each person, storing them in a list.
Classifies each person into one of the following age groups: "Child" (age < 18), "Adult" (18 <= age < 65), or "Senior" (age >= 65).
Prints out the number of people in each age group.

In [10]:
num_people = int(input("enter the number of people : "))

ages = []

for i in range(num_people):
    age = int(input("enter the age of the person : "))
    ages.append(age)

child_count = 0
adult_count = 0
senior_count = 0

for age in ages:
    if age < 18:
        child_count = child_count + 1
    elif age >= 18 and age < 65:
        adult_count = adult_count + 1
    else:
        senior_count = senior_count + 1

print("Number of people in each age group : ")
print("children : ", child_count)
print("adult : ", adult_count)
print("senior : ", senior_count)

enter the number of people :  3
enter the age of the person :  15
enter the age of the person :  45
enter the age of the person :  68

Number of people in each age group :
children :  1
adult :  1
senior :  1

In [ ]:
# PROBLEM : 12 (HOME WORK)

String Methods: 
a. Create a string variable sentence with any sentence of your choice.
b. Convert the sentence to uppercase.
c. Split the sentence into a list of words.
d. Join the words in the list using a space as the separator.
e. Print the modified sentence.

In [10]:
mylist = "Python lists are versatile"
print(mylist)
up = mylist.upper()
print(up)
sp = mylist.split()
print(sp)

Python lists are versatile
PYTHON LISTS ARE VERSATILE
['Python', 'lists', 'are', 'versatile']

In [ ]:
# PROBLEM : 13 (HOME WORK)

List Sorting: 
a. Create a list named ages containing integers representing ages of individuals.
b. Sort the list in ascending order.
c. Sort the list in descending order.
d. Print the sorted lists.

In [126]:
ages = [ 24,43,32,21,26,28,34,45,31]
ages.sort()
print(ages)
ages.sort(reverse = True)
print("The sorted list :", ages)

[21, 24, 26, 28, 31, 32, 34, 43, 45]
The sorted list : [45, 43, 34, 32, 31, 28, 26, 24, 21]

In [129]:
ages = [ [24],[43],[32],[23], [33]]
ages.sort()
print(ages)

ages.sort(reverse = True)
print("The sorted ages list is : ", ages)

[[23], [24], [32], [33], [43]]
The sorted ages list is :  [[43], [33], [32], [24], [23]]

In [ ]:
# PROBLEM

In [23]:
picnic = []             # empty list

for i in range(5):
    item = input('type the item you wanna add in the list: ')    # step 1
    picnic.append(item)   # step 2
    print(picnic)

ask = input('do you wanna remove something?')
if ask=='yes':
    item = input('what do u wanna remove buddy?')
    picnic.remove(item)
    print(picnic)
else:
    print('enjoy your picnic mate')

type the item you wanna add in the list:  banana

['banana']

type the item you wanna add in the list:  carrot

['banana', 'carrot']

type the item you wanna add in the list:  apple

['banana', 'carrot', 'apple']

type the item you wanna add in the list:  cherry

['banana', 'carrot', 'apple', 'cherry']

type the item you wanna add in the list:  orange

['banana', 'carrot', 'apple', 'cherry', 'orange']

do you wanna remove something? apple

enjoy your picnic mate

In [32]:
players = []            # empty  list

for i in range(5):    
    name = input('type name here: ')
    height = int(input('type your height here: '))
    if height>167:
        tup = (name, height)
        players.append(tup)
print(players)

type name here:  rv
type your height here:  177
type name here:  ronak
type your height here:  176
type name here:  rann
type your height here:  178
type name here:  ram
type your height here:  180
type name here:  ronnie
type your height here:  166

[('rv', 177), ('ronak', 176), ('rann', 178), ('ram', 180)]

In [4]:
# Problem : Finding the largest and second largest numbers.

x = [23,34,45,56,67,87,85,65,54,43]
x.sort(reverse = True)
print("The largest number is : ", x[:1])
print("The second largest number is : ", x[1:2])

The largest number is :  [87]
The second largest number is :  [85]

In [5]:
x = [23,34,45,56,67,87,85,65,54,43]
for i in x :
    x.sort(reverse = True)
print("The largest number is : ", x[:1])

The largest number is :  [87]

In [6]:
y = []

for i in range (5):
    x = int(input())
    y.append(x)
    y.sort(reverse = True)
    
print("the second second largest number is : ", y[1:2])

 56
 67
 78
 76
 54

the second second largest number is :  [76]