# __10) Tuples in Python__
### _Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data types in Python used to store collections of data. the other 3 are List, Set, and Dictionary, all with different qualities and usage._   
### _A tuple in Python is an immutable ordered collection of elements. Tuples are similar to lists, but unlike lists, they cannot be changed after their creation (i.e., they are immutable). Tuples can hold elements of different data types._ 
### _The main characteristics of tuples are being ordered , heterogeneous and immutable._  
### _A tuple is a collection which is ordered and unchangeable._

# Creating a Tuple :

In [2]:
tpl = ("apple", "banana", "cherry")
print(tpl)

('apple', 'banana', 'cherry')

In [3]:
numbers = (1, 2, -5)
print(numbers)

(1, 2, -5)

In [1]:
tup = ()       # empty tuple
print(tup)
                                # Using String
tup = ('Vijay', 'Chauhan')
print(tup)
                                    # Using List
li = [1, 2, 3, 4, 5, 6]
print(tuple(li))
                                        # Using Built-in Function
tup = tuple('Vijay')
print(tup)

()
('Vijay', 'Chauhan')
(1, 2, 3, 4, 5, 6)
('V', 'i', 'j', 'a', 'y')

# Single element

In [3]:
a = (5)
print(a)
print(type(a))

5
<class 'int'>

In [8]:
b = (6,)
print(b)
print(type(b))

(6,)
<class 'tuple'>

In [5]:
var = ("Hello")
print(var)
print (type(var))

Hello
<class 'str'>

# Tuple constructor
#### _In Python, the tuple() constructor is a built-in function used to create tuple objects. It offers a way to construct tuples from various iterable data types._

In [12]:
empty = tuple()
print(empty)
print(type(empty))

()
<class 'tuple'>

In [13]:
my_string  = "Python"
my_list = [1, 2, 3]
my_set = {12,23,34}
my_dict = { "cars" : "BMW","a": 1, "b": 2}

my_tuple = tuple(my_list)
print(my_tuple) 

print(tuple(my_string))
print(tuple(my_set))
print(tuple(my_dict))

(1, 2, 3)
('P', 'y', 't', 'h', 'o', 'n')
(34, 12, 23)
('cars', 'a', 'b')

# ➩ ➩     __Tuple Items__
### _Tuple items are ordered, unchangeable, and allow duplicate values._

### _Tuple items are indexed, the first item has index [0] , the second item has index [1] etc._
## Ordered
#### _When we say that tuples are ordered, it means that the items have a defined order, and that order will not change._

## Unchangeable
#### _Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created._
#### _once tuple is created, you cannot change its values. Tuples are unchangable or immutable as it also is called.)_

## Allow Duplicates
### _Since tuples are indexed, they can have items with the same value :_

In [8]:
tpl = ("apple", "banana", "cherry", "apple", "cherry")
print(tpl)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [38]:
tup = (1, 2, 3, 4, 2, 3)
print(tup)

(1, 2, 3, 4, 2, 3)

In [11]:
a = (2,3,6,4,45,6,45,5,66,7,8,66)
print(a)
print(type (a))

(2, 3, 6, 4, 45, 6, 45, 5, 66, 7, 8, 66)
<class 'tuple'>

#  ⮩ __Tuple Length__
### _To determine how many items a tuple has, use the __len()__ function :_

In [4]:
tpl= ("apple", "banana", "cherry")
print(len(tpl))
print(type(tpl))

3
<class 'tuple'>

In [8]:
                                    # Tuple with one item 
tpl = ("apple",)
print(type(tpl))
                                    # NOT a tuple
thistuple = list("apple")
print(type(thistuple))

<class 'tuple'>
<class 'list'>

In [9]:
tup = (1, 3, 4, 2, 5, 6)
l = len(tup)
print('Length of Tuple is : ', l)

Length of Tuple is :  6

In [12]:
alphabets = (('R', 'A', 'N'), ('V', 'I', 'J'),('S', 'A', 'B'), ('RaN', 'ran'))
L = len(alphabets)
print('Length of Tuple is', L)

L_nested = len(alphabets[0])
print('Length of nested tuple is', L_nested)

Length of Tuple is 4
Length of nested tuple is 3

In [20]:
alphabets = (('R', 'A', 'N'), ('r', 'f', 'k'),('r', 'g', 'r'), 'RaN', 'ran')
print('Length of Tuple is : ', len(alphabets))

Length of Tuple is :  5

In [10]:
mixed_tuple = ('apple', 3, True, 2.5)
print(len(mixed_tuple))

print(type(mixed_tuple[0]))

4
<class 'str'>

#  ⮩ Tuple Items - __Data Types__
### _Tuple items can be of any data type :_

In [36]:
tup = (10, 20, 30) 
print(tup)
print(type(tup))

(10, 20, 30)
<class 'tuple'>

In [16]:
tup1 = ("apple", "banana", "cherry")
tup2 = (1, 5, 7, 9, 3)
tup3 = (True, False, False)
tup4 = (23.45, 4.56, 5+7j)

print(tup1)
print(type(tup1))
print(type(tup2))
print(type(tup3))
print(type(tup4))

('apple', 'banana', 'cherry')
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [16]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

# Creating a __Tuple with Mixed Datatypes__.

In [18]:
                                          # Multiple Data Types 
tpl = ("abc", 34, True, 40, "male")
print(tpl)

('abc', 34, True, 40, 'male')

In [19]:
tup3 = (34,5.4,65,67,87,9.8,6.6,True, "Hello", 5+6j, False)
print(len(tup3))
print(type(tup3))

11
<class 'tuple'>

In [59]:
my_tuple = (1,"Hello", 4.6)
print(my_tuple)

(1, 'Hello', 4.6)

In [16]:
tup = (5, 'Welcome', 7, 'Home')
print(tup)

                    # Creating a Tuple with repetition

tup1 = ('ranvijay',) * 3
print(tup1)
print(type(tup1))

(5, 'Welcome', 7, 'Home')
('ranvijay', 'ranvijay', 'ranvijay')
<class 'tuple'>

In [25]:
                                     # Creating a Tuple with the use of loop
tup = ('jupyter notebook')
n = 5
for i in range(n):
    tup = (tup,)
print(tup)

((((('jupyter notebook',),),),),)

# ➩ __Nested Tuples__
#### Tuple inside Tuples

In [21]:
a = ("mouse", 2.4,3.00, (10,20,True), "Vijay",20.3)
print(a)
print(type(a))

('mouse', 2.4, 3.0, (10, 20, True), 'Vijay', 20.3)
<class 'tuple'>

In [22]:
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'coding')
tup3 = (tup1, tup2)
print(tup3)
print(type(tup3))

((0, 1, 2, 3), ('python', 'coding'))
<class 'tuple'>

In [17]:
mytup = ([ 23,34,45,43], [12,34,6.7],[ 45,65,78],[3,4,5,6,7,8], "Ranvijay")
print(mytup)
print(type(mytup))

([23, 34, 45, 43], [12, 34, 6.7], [45, 65, 78], [3, 4, 5, 6, 7, 8], 'Ranvijay')
<class 'tuple'>

In [23]:
tup1 = (0, 1, 2, 3)
tup2 = ('Ranvijay', 'Chauhan')

tup3 = (tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('Ranvijay', 'Chauhan'))

# ➩➩ __Access Tuple Items__
##  Access Tuple using a __Positive Indexing__

### _You can access tuple items by referring to the index number , inside square brackets :_

In [24]:
tup = ("apple", "banana", "cherry")
print(tup[1])
print(tup[2])

banana
cherry

In [26]:
d = (45,56,67,78,89,90,98,87,76, 5+6j, 8+3j)
print(d[5])
print(d[4])
print(d[9])

print(type(d[9]))

90
89
(5+6j)
<class 'complex'>

In [30]:
tup = tuple("Ranvijay")
print(tup[0])

R

In [31]:
tup = tuple("Ranvijay")
print(tup[5])

j

In [32]:
tup = tuple("654267557")
print(tup[2])

4

In [25]:
tup = (10, 5, 20)

print("Value in tup[0] = ", tup[0])
print("Value in tup[1] = ", tup[1])
print("Value in tup[2] = ", tup[2])

Value in tup[0] =  10
Value in tup[1] =  5
Value in tup[2] =  20

# Access Tuple using __Negative Indexing__
## Negative indexing means start from the end.

### _-1 refers to the last item, -2 refers to the second last item etc._

In [18]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [40]:
tup = (10, 5, 20)

print("Value in tup[-1] = ", tup[-1])
print("Value in tup[-2] = ", tup[-2])
print("Value in tup[-3] = ", tup[-3])

Value in tup[-1] =  20
Value in tup[-2] =  5
Value in tup[-3] =  10

# ➩ __Range of Indexes__
#### _You can specify a range of indexes by specifying where to start and where to end the range._
#### _When specifying a range , the return value will be a new tuple with the specified items._

# __Positive Slicing__

In [26]:
tup3 = (34,5.4,65,67,87,9.8,6.6,True, "Hello", 5+6j, False)
print(len(tup3))
print(tup3[6:10])

11
(6.6, True, 'Hello', (5+6j))

In [27]:
tup = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(len(tup))
print(tup[2:5])

7
('cherry', 'orange', 'kiwi')

In [28]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(len(thistuple))
print(thistuple[:4])

7
('apple', 'banana', 'cherry', 'orange')

In [44]:
tup = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [29]:
tup = tuple("Ranvijay")

print(tup[1:4])  
print(tup[:3])

('a', 'n', 'v')
('R', 'a', 'n')

In [49]:
tup = (34,45,7,89,90,98,8,7,6)

print(tup[1:])
print(tup[::1])
print(tup[2:4])

(45, 7, 89, 90, 98, 8, 7, 6)
(34, 45, 7, 89, 90, 98, 8, 7, 6)
(7, 89)

In [29]:
my_tup = ('a','b','c','d','e','f','g','h')

print(my_tup[:4])
print(my_tup[1:4])
print(my_tup[:])
print(my_tup[::2])
print(my_tup[4::])

('a', 'b', 'c', 'd')
('b', 'c', 'd')
('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
('a', 'c', 'e', 'g')
('e', 'f', 'g', 'h')

# __Negative Slicing__
### _Specify negative indexes if you want to start the search from the end of the tuple:_

In [24]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [47]:
tup = (23,32,45,65,67,87,98,90)

print(tup[-1:])
print(tup[:-1])
print(tup[::-1])
print(tup[-5:-2])

(90,)
(23, 32, 45, 65, 67, 87, 98)
(90, 98, 87, 67, 65, 45, 32, 23)
(65, 67, 87)

In [30]:
fruits = ("apple", "banana", "cherry","orange", "kiwi", "melon", "mango")

print(fruits[:-1])
print(fruits[:-4])
print(fruits[-5:-2])

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon')
('apple', 'banana', 'cherry')
('cherry', 'orange', 'kiwi')

In [31]:
tup4 = (9,8,6.6,True, "Hello", 5+6j, False, ("Ranvijay"), '67.67.9')

print(len(tup4),  "   :  ", type(tup4))
print(tup4[::])
print(tup4[3:])
print(tup4[:4])
print(tup4[-2 :-5 ])

9    :   <class 'tuple'>
(9, 8, 6.6, True, 'Hello', (5+6j), False, 'Ranvijay', '67.67.9')
(True, 'Hello', (5+6j), False, 'Ranvijay', '67.67.9')
(9, 8, 6.6, True)
()

# Reversing the tuple

In [32]:
t = (1, 2, 3, 4, 5)            # Reverse the tuple using slicing with a step of -1
rev = t[::-1]
print(rev)

(5, 4, 3, 2, 1)

In [33]:
a = (43,56,7,98,65,45,34,65,58,29,87)

print(a[::-1])
print(a[:-4])
print(a[3:])
print(a[-2:-1])

(87, 29, 58, 65, 34, 45, 65, 98, 7, 56, 43)
(43, 56, 7, 98, 65, 45, 34)
(98, 65, 45, 34, 65, 58, 29, 87)
(29,)

In [33]:
t = (1, 2, 3, 4, 5)          # Converting back to a Tuple
rev = tuple(reversed(t))
print(rev)

(5, 4, 3, 2, 1)

In [34]:
t = (1, 2, 3, 4, 5)  
                           # Reverse the tuple by iterating through the indices in reverse order
rev = tuple(t[i] for i in range(len(t) - 1, -1, -1))
print(rev)

(5, 4, 3, 2, 1)

# ⮩ Check if Item present in a tuple
### _To determine if a specified item is present in a tuple use the __in keyword__:_

In [45]:
tup1 = ("apple", "banana", "cherry")
if "apple" in tup1:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# ➩➩ __Update Tuples__
### _Tuples are unchangeable , meaning that you cannot change , add , or remove items once the tuple is created._
### _But there are some workarounds._
# Change Tuple Values
#### _Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called._      
#### _But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple._

In [34]:
a = [0, 1, 2]
tup = tuple(a)

print(tup)

(0, 1, 2)

In [35]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"

print(y)
print(tuple(y))

['apple', 'kiwi', 'cherry']
('apple', 'kiwi', 'cherry')

# ➩➩ Unchangeable == immutable
### _Tuples are unchangeable , meaning that we cannot change , add or remove items after the tuple has been created._

## 1. Converting string into tuple
#### _The tuple() constructor can be directly applied to a string, which is an iterable. This will create a tuple where each character of the string becomes a separate element._

In [36]:
my_string = "hello"
my_tuple = (my_string)

print(my_tuple)
print(type(my_tuple))

hello
<class 'str'>

In [41]:
my_string = "single element"
my_tuple = tuple(my_string,)  

print(my_tuple)
print(type(my_tuple))

('s', 'i', 'n', 'g', 'l', 'e', ' ', 'e', 'l', 'e', 'm', 'e', 'n', 't')
<class 'tuple'>

In [42]:
data_string = "apple,banana,cherry"
list_of_items = data_string.split(',')
tuple_of_items = (list_of_items)

print(tuple_of_items)
print(tuple(tuple_of_items))

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')

In [43]:
string = "Hello"
print(string)
print(type(string))

num = tuple(string)
print(num)
print(type(num))

Hello
<class 'str'>
('H', 'e', 'l', 'l', 'o')
<class 'tuple'>

## 2. Converting list into tuple :
#### _you can convert it into a list, add your item(s), and convert it back into a tuple._

In [44]:
lis = [5,6,7,8,9,3]
print(lis)
print(type(lis))

number = tuple(lis)  
print(number)
print(type(number))

[5, 6, 7, 8, 9, 3]
<class 'list'>
(5, 6, 7, 8, 9, 3)
<class 'tuple'>

In [45]:
x = ("data", "analyst","python","coding")
y = list(x)
y[1] = "science"

x = tuple(y) 
print(x)

('data', 'science', 'python', 'coding')

## 3. Converting tuple to a tuple : 
#### _You are allowed to convert  a original tuple with a new tuple._

In [46]:
original_tuple = (1, 2, 3, 'a', 'b' 'c')

                                    # Convert the original tuple into a new tuple
new_tuple = tuple(original_tuple)

print(f"Original tuple : {original_tuple}")
print(f"New tuple : {new_tuple}")

print(f"Are they the same object?  : {original_tuple is new_tuple}")

Original tuple : (1, 2, 3, 'a', 'bc')
New tuple : (1, 2, 3, 'a', 'bc')
Are they the same object?  : True

## 4. Converting a set into tuple

In [48]:
set1 =  {1,3,5,7,9,2,4,6,8}
tup1 = tuple(set1)

print(tup1)
print(type(tup1))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [16]:
my_set = {1, 2, 3, 'a', 'b'}
my_tuple = tuple(my_set)

print(f"Original set : {my_set}")
print(f"Converted tuple : {my_tuple}")
print(f"Type of converted object : {type(my_tuple)}")

Original set : {1, 2, 3, 'b', 'a'}
Converted tuple : (1, 2, 3, 'b', 'a')
Type of converted object : <class 'tuple'>

In [49]:
s = {'a', 'b', 'c', 'd', 'e'} 
x = [i for i in s]
print(tuple(x))

('d', 'b', 'e', 'a', 'c')

In [54]:
s = {'a', 'b', 'c', 'd', 'e'} 
for i in s:
      print(tuple(i))

('d',)
('b',)
('e',)
('a',)
('c',)

## 5. Converting a dictionary into tuple

In [57]:
dict1 = {'a':1, 'b':2, 'c':3}
print(dict1, type(dict1))

tup = tuple(dict1)
print(tup, type(tup))

{'a': 1, 'b': 2, 'c': 3} <class 'dict'>
('a', 'b', 'c') <class 'tuple'>

In [27]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

keys_tuple = tuple(my_dict.keys())
print(keys_tuple)

('name', 'age', 'city')

In [26]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
values_tuple = tuple(my_dict.values())
print(values_tuple)

('Alice', 30, 'New York')

In [25]:
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
items_tuple = tuple(my_dict.items())
print(items_tuple)

(('name', 'Alice'), ('age', 30), ('city', 'New York'))

# ➩ __Add Items__
### ⮩  _Since tuples are immutable, they __do not have a built-in append() method__, but there are other ways to add items to a tuple._

In [58]:
mytuple = ("apple", "banana", "cherry")
y = list(mytuple)
y.append("orange")
mytuple = tuple(y)
print(mytuple)

('apple', 'banana', 'cherry', 'orange')

In [60]:
x = (56,67,7,89,9,0.6)
y = list(x)

y.append(87)
x = tuple(y)
print(x)

(56, 67, 7, 89, 9, 0.6, 87)

In [61]:
tup5= ("apple", "banana", "cherry")
y = list(tup5)
y.append("orange")
tup5 = tuple(y)
print(tup5)

('apple', 'banana', 'cherry', 'orange')

# ⮩  Add tuple to a tuple : 
### _You are allowed to tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:_

In [160]:
thistuple = ("apple", "banana", "cherry")
y = tuple("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# ➩➩ __Remove Items__
### _Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:_

In [4]:
my_tuple = ("apple", "banana", "cherry")      # Original tuple
temp_list = list(my_tuple)                    # Convert tuple to list
temp_list.remove("apple")                     # Remove an item from the list
my_tuple = tuple(temp_list)                   # Convert list back to tuple                   
print(my_tuple)                               # Output result

('banana', 'cherry')

# The del keyword can delete the tuple completely:

In [62]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)      # this will raise an error because the tuple is no longer exists.

NameError: name 'thistuple' is not defined

In [ ]:
tup = (0, 1, 2, 3, 4)
del tup
print(tup)

# ➩➩ __Packing - Unpacking a Tuple__
### _When we create a tuple, we normally assign values to it. This is called "packing" a tuple:_

In [9]:
                         # Pacing a Tuple

fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [53]:
                     # packing a Tuple

a, b, c = 11, 12, 13
tup = (a, b, c)
print(tup)

(11, 12, 13)

In [11]:
                                     # Unpacking a tuple:

fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits

print(green)
print(yellow) 
print(red)

apple
banana
cherry

In [28]:
                                     # unpacking Tuple
tup = ("Ranvijay", "For", "Work")
                                  # This line unpack values of Tuple1
a, b, c = tup
print(a)
print(b)
print(c)

Ranvijay
For
Work

# ⮩ __Using Asterisk *__
### _If the number of variables are less than the number of values, you can add an __*__ to the variable name and the values will be assigned to the variable as a list :_

In [13]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [15]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# ➩  __Loop Tuples__
#  Loop Through a Tuple
### _You can loop through the tuple items by __using a for loop___.

In [29]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [18]:
for x in ('apple', 'banana', 'cherry'):
    print(x)

apple
banana
cherry

In [97]:
z = ("a","b","c","d")
for i in z:
    print(i)

a
b
c
d

#  ➩ Loop Through the Index Numbers
### _You can also loop through the tuple items by referring to their index number_.

###  ⮩ _Use the __range()__ and __len()__ functions to create a suitable iterable._

In [37]:
tup =('ranvijay', 'Hello', 'ramesh', 5)
for i in tup[1]:
    print(i)

H
e
l
l
o

In [30]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

# ➩ Using a While Loop
#### _You can loop through the tuple items by using a while loop._
### ⮩  _Use the __len() function__ to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes._
#### _Remember to increase the index by 1 after each iteration._

In [16]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

# ➩➩ __Join Tuples__
# ⮩ Join Two Tuples == Concatenation
### _To join two or more tuples you can use the __+ operator__:_

In [19]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [33]:
tup1 = (0, 1, 2, 3)
tup2 = ('Ranvijay', 'For', 'Work')

tup3 = tup1 + tup2
print(tup3)

(0, 1, 2, 3, 'Ranvijay', 'For', 'Work')

# ⮩  Multiply Tuples == Repetation
### _If you want to multiply the content of a tuple a given number of times, you can use the __* operator__:_

In [21]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [44]:
tup = ('python',)*3
print(tup)

('python', 'python', 'python')

In [63]:
tupp1 =  ("a", "b" , "c", 1,2,3)

tupp2  =  tupp1[2]*4

tupp4 = tupp1[4]*8

print(tupp2)
print("2 * 8 = " , tupp4)

cccc
2 * 8 =  16

In [38]:
T = (3,4,5,6,7,8,9)
print(T+T)
print(T*3)
print("Length is: " , len(T))

(3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 6, 7, 8, 9)
(3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 6, 7, 8, 9)
Length is:  7

# ⮩  Traversal through Tuple - using for loop

In [65]:
tup = (1, 2, 3, 4, 5)

             # Traverse through each item in the tuple
for x in tup:
    print(x, end = " ")

1 2 3 4 5

In [32]:
tup = (1, 2, 3, 4, 5,"Hello", "Vijay", '0.00056')
for x in tup:
    print(x, end=" ")

1 2 3 4 5 Hello Vijay 0.00056

# ➩➩ __Python Tuple Methods__
### _Python has two built-in methods that you can use on tuples_.

#### _-> __count()__ :	Returns the number of times a specified value occurs in a tuple._    
#### _-> __index()__ :	Searches the tuple for a specified value and returns the position of where it was found._

# ⮩  __count () method__ in tuple 
### _The __count()__  method returns the number of times a specified value appears in the tuple._

In [23]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

2

In [43]:
a = (23,34,12,56,12,7,23,23,76,56,43,12)
print(a.count(12))

3

In [44]:
b = ('ran', 'rv', 'rj', 'chn', 'rv', 'chn', 'ran','rv')
print(b.count('rv'))     
print(b.count('ran'))

3
2

In [40]:
                                    # Creating tuples
Tup = (0, 1, (2, 3), (2, 3), 1, 
         [3, 2], 'Vijay', (0,))
                                         # count the appearance of (2, 3)
c = Tup.count((2, 3))
print('Count of (2, 3) in Tuple is:', c)
                                       # count the appearance of [3, 2]
d = Tup.count([3, 2])
print('Count of [3, 2] in Tuple is:', d)

Count of (2, 3) in Tuple is: 2
Count of [3, 2] in Tuple is: 1

In [68]:
my_tuple = ((1, 2), ('a', 'b'), (1, 2), ('c', 'd'), ('a', 'b'))
count_tuple = my_tuple.count((1, 2))
print(count_tuple)  

count_xy = my_tuple.count(('x', 'y'))
print(count_xy)

2
0

In [ ]:
# PROBLEM 

write a python program to find repeated items in a tuple.

tuplex = 5,7,9,4,5,6,7,6,8,4,5,4

In [73]:
tuplex = 5,7,9,4,5,6,7,6,8,4,5,4
print(tuplex)

countt = tuplex.count(5)
print( "The count of 5s is : " , countt)

(5, 7, 9, 4, 5, 6, 7, 8, 4, 5, 4)
The count of 5s is :  3

# ⮩ __index method__ in Tuple
### _The __index()__ method returns the first occurrence of the given element from the tuple._

In [45]:
b = ('ran', 'rv', 'rj', 'chn', 'rv', 'chn', 'ran','rv')
print(b.index('rv'))
print(b.index('chn'))

1
3

In [46]:
Tup = (0, 1, 2, 3, 2, 3, 1, 3, 2)
res = Tup.index(3)
print('First occurrence of 3 is', res)

res = Tup.index(3, 4)
print('First occurrence of 3 after 4th index is:',res)

First occurrence of 3 is 3
First occurrence of 3 after 4th index is: 5

In [47]:
Tupl = ( 1, 3, 4, 2, 5, 6 )
res = Tupl.index(3)
print('Index of 3 is : ', res)

Index of 3 is :  1

In [48]:
Tupl = ( 3, 3, 5, 7, 3, 3 )
res = Tupl.index(3)
print('Index of 3 is : ', res)

Index of 3 is :  0

In [49]:
alphabets = ('A', 'b', 'b', 'c', 'h', 'g', 'o',
             's', 'G', 'b', 'e', 'c', 'h')
index = alphabets.index('G', 4, 10)

print('Index of G in alphabets from index\
                            4 to 10:', index)

Index of G in alphabets from index                            4 to 10: 8

In [42]:
t = ('R', 'A', 'N')
u = t.index('A')
print(u)

1

# ⮩  __min() Method__ in Tuple

### _In Python, the __min() function__ is used to find the minimum value within a tuple._   
#### _It is a built-in function and not a method specifically belonging to the tuple object itself._

In [73]:
tp =( 4, 2, 5, 6, 7, 5)
print(min(tp))

2

In [75]:
Tup = ( -1, 3, 4, -2, 5, 6 )
 
res = min(Tup)
print('Minimum of Tuple is : ', res)

Minimum of Tuple is :  -2

In [50]:
Tup1 = ( "Ranvijay", "Chauhan", "SabhavathVijay", "Vijay")
print(Tup1)
print("Minimum of Tuple is :",  min(Tup1))

('Ranvijay', 'Chauhan', 'SabhavathVijay', 'Vijay')
Minimum of Tuple is : Chauhan

In [51]:
alphabets = ('ABC', 'fgh', 'hJk', 'AbA', 'cCC')

res = min(alphabets)
print('Minimum of Tuple is : ', res)

Minimum of Tuple is :  ABC

# ⮩  __max() method__ in Tuple
### _The __max() function__ returns the item with the highest value, or the item with the highest value in an iterable._

In [64]:
tup =( 4, 2, 5, 6, 7, 5, 9, 6, 5, 4, 3, 2)
print(max(tup))

9

In [66]:
Tup = ( 1, 3, 4, 2, 5, 6 )
 
res = max(Tup)
print('Maximum of Tuple is : ', res)

Maximum of Tuple is :  6

In [69]:
Tup1 = ( "Ranvijay", "Chauhan", "SabhavathVijay")

res = max(Tup1)
print('Maximum of Tuple is : ', res)

Maximum of Tuple is :  SabhavathVijay

In [52]:
alphabets = ('ABC', 'fgh', 'hJk', 'AbA', 'cCC')

res = max(alphabets)
print('Maximum of Tuple is : ', res)

Maximum of Tuple is :  hJk

# Removing Empty tuple from the list

In [53]:
                                   # Using filter method
a = [(1, 2), (), (3, 4), (), (5,)]

res = list(filter(None, a))
print(res)

[(1, 2), (3, 4), (5,)]

In [54]:
                          # Using for loop 
a = [(1, 2), (), (3, 4), (), (5,)]
res = [] 
for t in a:
    if t != ():
        res.append(t)
print(res)

[(1, 2), (3, 4), (5,)]

# ⮩ Clearing a Tuple

In [55]:
test_tup = (1, 5, 3, 6, 8)
print("The original tuple : " + str(test_tup))
temp = list(test_tup)
temp.clear()
test_tup = tuple(temp)

print("The tuple after clearing values : " + str(test_tup))

The original tuple : (1, 5, 3, 6, 8)
The tuple after clearing values : ()

In [56]:
test_tup = (1, 5, 3, 6, 8)
print("The original tuple : " + str(test_tup))
test_tup = tuple()
print("The tuple after clearing values : " +str(test_tup))

The original tuple : (1, 5, 3, 6, 8)
The tuple after clearing values : ()

In [57]:
test_tup = (1, 5, 3, 6, 8)
print("The original tuple : " + str(test_tup))
test_tup = test_tup[0:1] + ()
print("The tuple after clearing values : " +str(test_tup))

The original tuple : (1, 5, 3, 6, 8)
The tuple after clearing values : (1,)

In [47]:
tup = (1, 5, 3, 6, 8)

                                          # Delete the original tuple using the del keyword
del tup
print("The original tuple:", (1, 5, 3, 6, 8))
print("The tuple after clearing values:", ())

The original tuple: (1, 5, 3, 6, 8)
The tuple after clearing values: ()

# Python program to remove last item in the list

In [60]:
tup1 = ("Ranvijay", "Sabhavath","Chauhan")

                        # remove last element
tup = tup1[:-1]
print(tup)

('Ranvijay', 'Sabhavath')

In [61]:
a = (45,56,67,78,8,99)
b = len(a)-1
print(a[:b])

(45, 56, 67, 78, 8)

In [62]:
tup = ("Ranvijay", "Chauhan", "Sabhavath")
element = len(tup)-1
t1 = tup[:element]
print(t1)

('Ranvijay', 'Chauhan')

In [63]:
tu = (1, 2, 3, 4, 5)

              # remove last element
tu = list(tu)
tu.remove(tu[-1])
tu = tuple(tu)
print(tu)

(1, 2, 3, 4)

In [64]:
tu = (1, 2, 3, 4, 5)
tu = tuple(filter(lambda x: x != tu[-1], tu))
print(tu)

(1, 2, 3, 4)

In [65]:
test_tup = (1, 3, 5, 2, 3, 5, 1, 1, 3)

                                              # printing original tuple
print("The original tuple is : " , str(test_tup))

              # Removing duplicates from tuple
x = []
for i in test_tup:
    if i not in x:
        x.append(i)
res = tuple(x)
print("The tuple after removing duplicates : " + str(res))

The original tuple is : (1, 3, 5, 2, 3, 5, 1, 1, 3)
The tuple after removing duplicates : (1, 3, 5, 2)

# sum of the elements using for loop

In [78]:
test_tup = (7, 8, 9, 1, 10, 7)

print("The original tuple is : " + str(test_tup))

res = 0
for i in test_tup:
    res += i
print("The summation of tuple elements are : " + str(res))

The original tuple is : (7, 8, 9, 1, 10, 7)
The summation of tuple elements are : 42

In [ ]:
# PROBLEM

Write a python program to accept 5 numbers from the user and store it in a Tuple

In [77]:
tup = []
for i in range(5):
    inputs = int(input("enter the number : " ))
    tup.append(inputs)
    print(i, end = " ")
print("the tuple of values are :" , tuple(tup))

enter the number :  78

0

enter the number :  76

1

enter the number :  654

2

enter the number :  45

3

enter the number :  34

4 the tuple of values are : (78, 76, 654, 45, 34)